.chata-notification-group-container {
  position: relative;
  padding: 20px;
  padding-top: 24px;
  margin: 0 6px;
  margin-top: 40px;
  margin-bottom: 24px;
  // background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  &:first-of-type {
    margin-top: 24px;
    margin-bottom: 0;
  }

  .chata-notification-group-delete-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 21px;
    background: white;
    color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    cursor: pointer;

    svg {
      width: 21px;
      height: 21px;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
