.load-more-toolbar {
    display: inline-block;
    background: inherit;
    padding: 5px;
    border-radius: 6px;
    line-height: 28px;
    background: var(--react-autoql-background-color-secondary);
    border: 1px solid var(--react-autoql-border-color);
  
    &.vertical .react-autoql-toolbar-btn {
      display: block;
    }
  
    .react-autoql-toolbar-btn {
      color: var(--react-autoql-text-color-primary);
    }
  }