.chata-notification-list-item {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  --accent-color: #26a7df;

  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);

  margin-bottom: 8px;

  color: rgba(0, 0, 0, 0.6);
  // font-weight: 500;
  font-family: var(--chata-dashboard-font-family), sans-serif;

  transition: all 1s ease;
  transition: height 0.3s cubic-bezier(0.26, 0.26, 0, 1);
  animation: slideIn 0.5s cubic-bezier(0.26, 0.26, 0, 1);
  animation-fill-mode: both;
  animation-delay: 0s;
  // opacity: 0;

  &:hover {
    &:not(.expanded) {
      background-color: rgba(0, 0, 0, 0.01);
    }

    .chata-notification-delete-icon {
      opacity: 1;
    }
  }

  &.triggered {
    .chata-notification-display-name {
      color: var(--chata-messenger-accent-color, #26a7df) !important;
    }

    .chata-notification-dismiss-btn {
      margin-top: 3px;
      color: var(--chata-messenger-accent-color, #26a7df);
    }

    .chata-notification-alert-strip {
      opacity: 1;
    }
  }

  .chata-notification-expanded-content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    transition: height 0.2s ease;
    height: 0;
    opacity: 0;
    &.visible {
      height: 300px;
      opacity: 1;
    }
  }

  .chata-notification-extra-content {
    text-align: center;
    height: 40px;
  }

  .chata-notification-description {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
  }

  .chata-notification-list-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 22px;
    cursor: pointer;
  }

  .chata-notification-data-container {
    flex: 1;
    height: 0;
    width: 100%;
    padding: 0 20px;
    // max-height: 100px;
    // padding: 7px 20px;
  }

  .chata-notification-data-title {
    line-height: 22px;
    font-size: 12px;
    text-align: right;
    color: rgba(0, 0, 0, 0.3);
    padding: 8px 20px;

    svg {
      margin-top: -3px;
      vertical-align: middle;
    }
  }

  .chata-notification-dismiss-icon {
    font-size: 21px;
    margin: 11px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 26px;

    display: inline-block;
    line-height: 20px;
    background-color: transparent;
    transition: background-color 0.2s ease;
    cursor: pointer;

    &:hover {
      background-color: #ececec;
    }
  }

  .chata-notification-delete-icon {
    font-size: 18px;
    margin-top: 3px;
    margin-right: 3px;
    opacity: 0;

    width: 36px;
    height: 36px;
    padding: 9px;
    border-radius: 20px;

    display: inline-block;
    line-height: 20px;
    background-color: transparent;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      background-color: #ececec;
    }
  }

  .chata-notification-alert-icon {
    position: absolute;
    top: -7px;
    left: -7px;
    color: var(--chata-messenger-accent-color, #26a7df);
    line-height: 10px;
    background: #fff;
    border-radius: 10px;
    font-size: 17px;
  }

  .chata-notification-alert-strip {
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0;
    width: 4px;

    background: var(--chata-messenger-accent-color, #26a7df);

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }

  .chata-notification-img-container {
    flex: 0 0 60px;

    .chata-notification-img {
      border-radius: 50px;
      height: 45px;
      width: 45px;
      line-height: 45px;
      font-size: 22px;
      color: white;
      background-color: var(--chata-messenger-accent-color, #26a7df);
      text-align: center;
      margin-top: 13px;
      margin-right: 17px;
    }
  }

  .chata-notification-display-name-container {
    flex: 1;
    line-height: 23px;
    padding: 13px 0px;
    transition: color 0.2s ease;

    .chata-notification-display-name {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.7);
      // opacity: 0.9;
    }
    .chata-notification-timestamp {
      font-size: 12px;
      opacity: 0.5;

      svg {
        margin-bottom: -1px;
      }
    }
  }
}
