/* These are not inline styles since they do not apply to saved PNG charts */
.chata-chart-container .bar:hover,
.chata-chart-container .circle:hover,
.chata-chart-container .square:hover,
.chata-chart-container .line-dot:hover {
  fill-opacity: 1 !important;
}

.chata-chart-container .bar.active,
.chata-chart-container .circle.active,
.chata-chart-container .square.active,
.chata-chart-container .line-dot.active {
  fill: #a5cd39 !important;
}

.axis {
  font-family: inherit;
}
