.react-autoql-radio-btn-container {
  &.react-autoql-radio-btn-container-list {
    display: inline-block;
  }
  &.react-autoql-radio-btn-container-buttons {
    display: inline-flex;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 4px;

    .react-autoql-radio-btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &.active {
        font-weight: 500;
      }
    }
  }

  [type='radio']:checked,
  [type='radio']:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type='radio']:checked + label,
  [type='radio']:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
  }
  [type='radio']:checked + label:before,
  [type='radio']:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: var(--react-autoql-text-color-accent);
  }
  [type='radio']:checked + label:after,
  [type='radio']:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--react-autoql-accent-color, #26a7df);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition-property: color, border-color, background-color, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  [type='radio']:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type='radio']:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  .react-autoql-radio-btn {
    position: relative;
    display: inline-block;
    padding: 3px 12px;
    border: 1px solid var(--react-autoql-border-color, #dcdcdc);
    margin-left: -1px;
    transition-property: color, border-color, background-color, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    cursor: pointer;

    &:not(:first-child) {
      border-left: 1px solid transparent;
    }

    &.active {
      background-color: var(--react-autoql-accent-color, #26a7df);
      border-color: var(--react-autoql-accent-color, #26a7df);
      color: var(--react-autoql-text-color-accent);
    }
    &.active.outlined {
      background-color: inherit;
      color: var(--react-autoql-accent-color, #26a7df);
    }

    &:hover:not(.active) {
      border-color: var(--react-autoql-accent-color, #26a7df);
      color: var(--react-autoql-accent-color, #26a7df);
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      margin-left: 0;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
