.chata-radio-btn-container {
  display: inline-block;
  border-radius: 4px;
  margin: 0px 4px;

  .chata-radio-btn {
    position: relative;
    display: inline-block;
    padding: 3px 12px;
    border: 1px solid #dcdcdc;
    margin-left: -1px;
    transition: all 0.2s ease;
    cursor: pointer;

    &.active {
      background-color: var(--chata-drawer-accent-color);
      border-color: var(--chata-drawer-accent-color);
      color: #fff;
      z-index: 3;
    }

    &:hover:not(.active) {
      border-color: var(--chata-drawer-accent-color);
      color: var(--chata-drawer-accent-color);
      z-index: 2;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      margin-left: 0;
    }
    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
