.react-autoql-input-and-label-container {
  position: relative;
  padding: 2px 5px;
  display: inline-flex;
  flex-direction: column;

  &.react-autoql-input-full-width {
    display: flex;
  }

  .react-autoql-input-container {
    position: relative;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0;
      /* <-- Apparently some margin are still there even though it's hidden */
    }

    .react-autoql-input[type='number'] {
      border-radius: 4px 0px 0px 4px;
      margin-right: 0;
    }

    &.react-autoql-input-number {
      flex: 1;

      .react-autoql-input,
      .react-autoql-input-number-spin-button-container {
        display: inline-flex;
        height: inherit;
        max-height: 100%;
        min-height: 100%;
      }

      &:hover {
        .react-autoql-input,
        .react-autoql-input-number-spin-button-container {
          border-color: var(--react-autoql-accent-color);
        }
      }

      .react-autoql-input-number-spin-button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        flex: 0 0 18px;
        overflow: hidden;
        border-radius: 0px 4px 4px 0px;
        border: 1px solid var(--react-autoql-border-color);
        border-left: none;
        transition-property: color, border-color, background-color, opacity;
        transition-duration: 0.2s;
        transition-timing-function: ease;

        &:hover .react-autoql-input-number-spin-button {
          border-color: var(--react-autoql-accent-color) !important;
        }

        .react-autoql-input-number-spin-button {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          outline: none !important;
          border: none;
          padding: 0;
          color: var(--react-autoql-text-color-primary);
          background-color: var(--react-autoql-background-color-secondary);

          &:first-child {
            border-bottom: 1px solid var(--react-autoql-border-color);
          }

          &:last-child {
            margin-bottom: -1px;
          }

          &:hover {
            color: var(--react-autoql-accent-color);
          }

          &:active {
            background-color: var(--react-autoql-accent-color);
            color: var(--react-autoql-text-color-accent);
          }

          .react-autoql-icon {
            flex: 1;
            display: block;
            font-size: 12px;
            opacity: 0.7;
          }
        }
      }
    }

    input[type='search']::-webkit-search-decoration,
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-results-button,
    input[type='search']::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    .react-autoql-input-and-icon {
      flex: 1;

      &.with-date-picker {
        input {
          padding-right: 30px;
        }
      }
    }

    &.with-select {
      .react-autoql-input {
        display: block;
        height: 100%;
      }

      &.react-autoql-input-select-left {
        .react-autoql-input {
          border-radius: 0px 4px 4px 0px;
        }
      }

      &.react-autoql-input-select-right {
        .react-autoql-input {
          border-radius: 4px 0px 0px 4px;
        }
      }
    }
    &.react-autoql-input-hidden.react-autoql-input-select-left {
      .react-autoql-text-input-selector .react-autoql-select {
        border-radius: 4px 4px 4px 4px;
        border-right: 1px solid var(--react-autoql-border-color) !important;
      }
      .react-autoql-text-input-selector .react-autoql-select:hover {
        border-right-color: unset !important;
      }
    }
    .react-autoql-text-input-selector {
      flex: 0;
      margin: 0;
      padding: 0;

      .react-autoql-select {
        margin: 0;
      }
    }

    &.react-autoql-input-select-left {
      .react-autoql-text-input-selector {
        .react-autoql-select {
          border-radius: 4px 0px 0px 4px;
          border-right: none;
        }
      }
    }

    &.react-autoql-input-select-right {
      .react-autoql-text-input-selector {
        .react-autoql-select {
          border-radius: 0px 4px 4px 0px;
          border-left: none;
        }
      }
    }

    .react-autoql-input {
      border: 1px solid var(--react-autoql-border-color);
      border-radius: 4px;
      background: inherit;
      width: 100%;
      font-size: inherit;
      font-family: inherit;
      outline: none !important;
      transition-property: color, border-color, background-color, opacity;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      padding: 10px;
      line-height: 1em;

      &:disabled {
        background: var(--react-autoql-hover-color);
        border-color: var(--react-autoql-border-color) !important;
        cursor: default;
      }

      &:hover,
      &:focus {
        border-color: var(--react-autoql-accent-color);
      }

      &.area {
        line-height: inherit;
      }

      &:not(textarea) {
        padding: 0 10px;
        height: 38px !important;
      }

      &.with-select {
        padding-left: 14px;
      }

      &.with-icon {
        padding-left: 35px;
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--react-autoql-text-color-placeholder);
        opacity: 1;
        /* Firefox */
        font-style: italic;
      }
    }

    .react-autoql-input-icon {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: color 0.2s ease, opacity 0.2s ease;
      color: var(--react-autoql-text-color-placeholder);
      height: 100%;
      line-height: 100%;
      left: 12px;
      top: 0;

      span.react-autoql-icon svg {
        height: 17px;
        width: 17px;
      }
    }

    .react-autoql-text-input-selector .react-autoql-select:hover {
      border-color: var(--react-autoql-accent-color);
    }

    &.react-autoql-input-select-left:hover {
      .react-autoql-input {
        border-left-color: var(--react-autoql-accent-color);
      }
    }

    &.react-autoql-input-select-right:hover {
      .react-autoql-input {
        border-right-color: var(--react-autoql-accent-color);
      }
    }

    &:hover {
      .react-autoql-input-icon {
        color: var(--react-autoql-accent-color);
      }
    }
  }
}

.error-message {
  color: red;
  font-size: 12px;
}

.react-autoql-input-label {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  margin: 0;
  font-size: 0.9em;
  color: var(--react-autoql-text-color-primary);
  opacity: 0.8;
  white-space: nowrap;
  text-align: left;

  &.react-autoql-input-label-clickable {
    color: var(--react-autoql-accent-color);
    text-decoration: underline;
    cursor: pointer;
  }

  .react-autoql-icon {
    margin: 0 3px;
    opacity: 0.6;
  }
}
