.chata-table-container {
  height: 100%;
  max-width: 100%;
  background-color: inherit;
}

.chata-table {
  margin-bottom: 0;
}

/* tabulator */
.chata-table.tabulator,
.chata-table.tabulator .tabulator-row,
.chata-table.tabulator .tabulator-header,
.chata-table.tabulator .tabulator-headers,
.chata-table.tabulator .tabulator-header .tabulator-col,
.chata-table.tabulator .tabulator-tableHolder .tabulator-table {
  background-color: inherit;
}
.chata-table.tabulator .tabulator-header .tabulator-col,
.chata-table.tabulator .tabulator-cell {
  border-color: var(--chata-table-border-color);
}
.chata-table.tabulator .tabulator-header {
  border-bottom: 2px solid var(--chata-table-border-color);
}
.chata-table.tabulator {
  background-color: inherit;
  height: 100%;
}
.chata-table .tabulator-row {
  /* user-select: none; This breaks copy/paste */
  border-bottom: 1px solid var(--chata-table-border-color);
}
.chata-table .tabulator-tableHolder {
  max-height: calc(100% - 38px) !important;
  background-color: inherit;
}
.chata-table.tabulator .tabulator-row.tabulator-selectable:hover,
.chata-table.tabulator
  .tabulator-header
  .tabulator-col.tabulator-sortable:hover {
  /* background-color: rgba(0, 0, 0, 0.1) !important; */
  background-color: var(--chata-table-hover-color) !important;
}

.chata-table.tabulator
  .tabulator-header
  .tabulator-col
  .tabulator-col-content
  .tabulator-arrow {
  opacity: 0;
}
.chata-table.tabulator
  .tabulator-header
  .tabulator-col:hover
  .tabulator-col-content
  .tabulator-arrow {
  opacity: 1 !important;
}

.chata-table.tabulator
  .tabulator-header
  .tabulator-col.tabulator-sortable[aria-sort="desc"]
  .tabulator-col-content
  .tabulator-arrow {
  border-top: 6px solid rgba(0, 0, 0, 0.2);
}
.chata-table.tabulator
  .tabulator-header
  .tabulator-col.tabulator-sortable[aria-sort="asc"]
  .tabulator-col-content
  .tabulator-arrow {
  border-bottom: 6px solid rgba(0, 0, 0, 0.2);
}

.chata-table .tabulator-tableHolder::-webkit-scrollbar {
  display: unset;
  opacity: 0;
  background-color: transparent;
  width: 7px;
  height: 7px;
  transition: all 0.3s ease;
}
.chata-table .tabulator-tableHolder:hover::-webkit-scrollbar-track,
.chata-table .tabulator-tableHolder:hover::-webkit-scrollbar-track-piece,
.chata-table .tabulator-tableHolder:hover::-webkit-scrollbar-corner {
  background-color: transparent;
}
.chata-table .tabulator-tableHolder:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  border: 0px;
}
.chata-table .tabulator-header-filter input {
  border: 1px solid var(--chata-table-border-color);
  border-radius: 4px;
  background: transparent;
  padding: 4px 9px !important;
  outline: none !important;
}
.chata-table .tabulator-header-filter input:focus {
  border: 1px solid #28a8e0;
}
/* These are necessary because we are always rendering the
filter (just display: none when not used) instead of re-rendering
the whole table when the filter button is clicked */
.chata-table-container.filtering .chata-table .tabulator-header-filter {
  display: inline-block;
}
.chata-table-container:not(.filtering) .chata-table .tabulator-header-filter {
  display: none;
}
.chata-table-container:not(.filtering) .chata-table .tabulator-col {
  height: 37px !important;
}
.chata-table-container.filtering .chata-table .tabulator-col {
  height: 72px !important;
}
