.react-autoql-drawer {
  font-family: var(--react-autoql-font-family), sans-serif;
  line-height: 22px;
  outline: none !important;

  .react-autoql-notification-list-container {
    height: calc(100% - 60px);
    padding-left: 15px;
    padding-right: 3px;
  }

  .data-messenger-header-select {
    background-color: var(--react-autoql-accent-color) !important;
    color: var(--react-autoql-text-color-accent) !important;
    border-color: var(--react-autoql-border-color) !important;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    box-shadow: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    margin: 0;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    .react-autoql-select-arrow {
      color: var(--react-autoql-text-color-accent);
    }

    .react-autoql-select-text {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .react-autoql-icon {
        display: none;
      }
    }

    .react-autoql-select-text-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--react-autoql-text-color-accent);
      font-size: 20px;
      position: relative;
      letter-spacing: 0.05em;
      font-weight: 600;
      font-style: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .react-autoql-icon {
        display: none;
      }
    }
  }

  .react-autoql-drawer-content-container {
    width: 100%;
    height: 100%;
    background: var(--react-autoql-background-color-primary);
    overflow: hidden;
    border-radius: 4px;

    &.data-explorer {
      background: var(--react-autoql-background-color-secondary);
    }
  }

  .chat-header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: var(--react-autoql-accent-color);
    color: var(--react-autoql-text-color-accent);
    box-shadow: 0 0 12px 1px var(--react-autoql-box-shadow-color, rgba(0, 0, 0, 0.15));
    flex: 0 0 auto;
    z-index: 1;
  }

  .react-autoql-header-left-container {
    display: flex;
    justify-content: left;
    width: 100px;
    margin-left: 10px;
  }

  .react-autoql-header-right-container {
    display: flex;
    justify-content: right;
    width: 100px;
    margin-right: 10px;
  }

  .react-autoql-header-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 600;

    .react-autoql-header-project-selector-container {
      flex: 1;
      padding: 0;
      margin-bottom: 10px;
      margin-left: 15px;
      margin-top: 25px;
    }
  }
}

.data-messenger-header-select-popover {
  width: 100vw;

  .react-autoql-notifications-button-container {
    display: flex;
    margin-right: 10px;
  }

  .react-autoql-select-popup li {
    display: flex;
    justify-content: center;
    height: unset;

    .react-autoql-icon {
      margin-right: 10px;
    }

    &>span>span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      min-height: 60px;
    }
  }
}

.react-autoql-drawer.disable-selection {
  user-select: none;
}

@media (max-width: 479px) {
  .react-autoql-drawer .react-autoql-header-center-container {
    color: var(--react-autoql-text-color-primary);
    font-size: 18px;
    letter-spacing: 0.05em;
  }

  .react-autoql-drawer .react-autoql-header-left-container {
    &.hidden {
      width: 0px;
    }
  }

  .react-autoql-drawer .react-autoql-header-right-container {
    &.hidden {
      width: 0px;
    }
  }

  .react-autoql-drawer .drawer-content-wrapper {
    transition: unset !important;
  }

  .mobile.popover-delete-button {
    color: var(--react-autoql-text-color-primary) !important;
  }
}

@media (min-width: 480px) {
  .react-autoql-drawer .react-autoql-header-center-container {
    font-size: 18px;
    letter-spacing: 0.05em;
    justify-content: center;
  }
}

.react-autoql-drawer .header-title {
  width: 100%;
  animation: fadeIn 0.3s;
  text-align: center;
}

.react-autoql-drawer .react-autoql-drawer-header-btn {
  &.hidden {
    display: none !important;
  }

  &.mobile {
    color: var(--react-autoql-text-color-primary) !important;
  }

  .react-autoql-filter-lock-icon-container {
    display: inline-flex;
    position: relative;
    margin-right: 4px;
    margin-top: 3px;

    .react-autoql-filter-lock-icon-badge {
      position: absolute;
      display: inline-block;
      border: 2px solid var(--react-autoql-accent-color);
      background: var(--react-autoql-warning-color);
      border-radius: 50%;
      height: 14px;
      width: 14px;
      right: -5px;
      top: -4px;
    }
  }
}

.react-autoql-drawer .react-autoql-drawer:focus {
  outline: none;
}

.react-autoql-drawer .chat-header-container .react-autoql-drawer-header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 10px 0px;
  margin-right: 0;

  .react-autoql-icon-close {
    font-size: 1.2em;
  }
}

.react-autoql-drawer .chat-header-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: transparent;
  border: none;
  color: var(--react-autoql-text-color-accent);
  margin: 0;
  font-size: 24px;
  cursor: pointer;
  outline: none !important;
}

.react-autoql-drawer .chat-header-container button:hover {
  opacity: 0.7;
}

.topics-container {
  margin: 5px 0;
}

.intro-qi-link {
  cursor: pointer;
  color: var(--react-autoql-accent-color);
  font-weight: 600;

  .react-autoql-icon {
    margin-right: -3px;
    vertical-align: middle;
    padding-bottom: 2px;
  }
}

/* rc-drawer */
.react-autoql-drawer {
  .drawer-content {
    background: white;
    border-radius: 4px;
    overflow: visible;

    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &.closed .drawer-content {
    opacity: 0;
  }

  .drawer-handle {
    transition: opacity 0.5s ease;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50px !important;
    font-size: 22px;

    &.default-logo {
      background-color: var(--react-autoql-accent-color, #26a7df);
      color: var(--react-autoql-text-color-accent);

      .react-autoql-bubbles-outlined {
        position: absolute;
        vertical-align: top;
        top: 11px;
        left: 12px;

        svg {
          position: absolute;
          width: 26px;
          height: 26px;
        }
      }
    }
  }
}

.react-autoql-drawer.drawer-right .drawer-handle {
  left: -70px !important;
}

.react-autoql-drawer.drawer-left .drawer-handle {
  right: -60px !important;
}

.react-autoql-drawer.drawer-top .drawer-handle {
  bottom: -60px !important;
}

.react-autoql-drawer.drawer-bottom .drawer-handle {
  top: -60px !important;
}

.react-autoql-drawer .drawer-handle.hide {
  opacity: 0;
  visibility: hidden;
}

.react-autoql-drawer .drawer-handle-icon,
.react-autoql-drawer .drawer-handle-icon::before,
.react-autoql-drawer .drawer-handle-icon::after {
  background: var(--react-autoql-text-color-primary);
}

.react-autoql-drawer .drawer-bottom .drawer-content-wrapper,
.react-autoql-drawer .drawer-top .drawer-content-wrapper {
  left: 0;
}

.react-autoql-drawer .drawer-content-wrapper {
  background: transparent;
}

@media (min-width: 1281px) {

  .react-autoql-drawer.drawer-right .drawer-content-wrapper,
  .react-autoql-drawer.drawer-left .drawer-content-wrapper {
    max-width: calc(100vw - 45px) !important;
    min-width: 400px !important;
  }

  .react-autoql-drawer.drawer-top .drawer-content-wrapper,
  .react-autoql-drawer.drawer-bottom .drawer-content-wrapper {
    max-height: calc(100vh - 45px) !important;
    min-height: 400px !important;
  }
}

.react-autoql-drawer-resize-handle {
  position: absolute;
  background: transparent;
  z-index: 2;

  &.right {
    top: 0;
    left: -2px;
    width: 5px;
    height: 100vh;
    border-right-color: transparent;
    border-right-width: 3px;
    border-right-style: solid;
    transition: border-right-color 0.2s ease;
    cursor: ew-resize;

    &:hover {
      border-right-color: var(--react-autoql-accent-color);
    }
  }

  &.left {
    top: 0;
    right: -2px;
    width: 5px;
    height: 100vh;
    border-left-color: transparent;
    border-left-width: 3px;
    border-left-style: solid;
    cursor: ew-resize;

    &:hover {
      border-left-color: var(--react-autoql-accent-color);
    }
  }

  &.top {
    bottom: -2px;
    left: 0;
    height: 5px;
    width: 100vw;
    border-top-color: transparent;
    border-top-width: 3px;
    border-top-style: solid;
    cursor: ns-resize;

    &:hover {
      border-top-color: var(--react-autoql-accent-color);
    }
  }

  &.bottom {
    top: -2px;
    left: 0;
    height: 5px;
    width: 100vw;
    border-bottom-color: transparent;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    cursor: ns-resize;

    &:hover {
      border-bottom-color: var(--react-autoql-accent-color);
    }
  }
}

.clear-messages-confirm-popover {
  color: var(--react-autoql-text-color-primary);
  background: var(--react-autoql-background-color-secondary);
  text-align: right;
  padding: 18px;
  width: 266px;
}

.react-autoql-confirm-text {
  text-align: center;
}

.react-autoql-menu-text {
  text-align: center;

  &:hover {
    color: var(--react-autoql-accent-color);
    cursor: pointer;
  }
}

.react-autoql-confirm-icon {
  color: #faad14 !important;
  vertical-align: middle;
  margin-right: 5px !important;
  margin-bottom: 3px;
}

.data-messenger-tab-container {
  position: absolute;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  &.hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  &.right {
    height: 100vh;
    width: 60px;
    left: -60px;
  }

  &.left {
    height: 100vh;
    width: 60px;
    right: -60px;
  }

  &.top {
    width: 100vw;
    height: 60px;
    bottom: -60px;
  }

  &.bottom {
    width: 100vw;
    height: 60px;
    top: -60px;
  }
}

/* Shadow container (this is used to cut off the shadow so it doesnt show in the drawer) */
.page-switcher-shadow-container {
  position: absolute;
  background: transparent;
  overflow: hidden;
}

.page-switcher-shadow-container.right {
  top: 80px;
  width: 60px;
}

.page-switcher-shadow-container.left {
  top: 80px;
  width: 60px;
}

.react-autoql-header-project-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 15px;
}

/* Container holding the tabs */
.page-switcher-container {
  box-shadow: -2px 0 8px var(--react-autoql-box-shadow-color, rgba(0, 0, 0, 0.15));
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  pointer-events: all;

  .react-autoql-dm-tab {
    position: relative;
    z-index: 1;

    background: var(--react-autoql-accent-color);
    color: var(--react-autoql-text-color-accent);
    opacity: 1;

    font-size: 22px;
    text-align: center;
    transform: translate(0, 0);
    cursor: pointer;

    transition-property: background, color, transform, line-height, height, width, margin-right, margin-top, margin-left,
      margin-bottom, z-index, opacity;
    transition-duration: 0.2s;

    &.react-autoql-explore-queries span.react-autoql-icon svg {
      height: 22px;
      width: 23px;
    }

    .react-autoql-icon.data-search svg {
      stroke: var(--react-autoql-accent-color);
      stroke-width: 0.3px;
    }
  }

  &.right {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    flex-direction: column;

    .react-autoql-dm-tab {
      box-shadow: inset -18px 0px 8px -10px var(--react-autoql-box-shadow-color, rgba(0, 0, 0, 0.15));
    }
  }

  &.left {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: -5px;
    flex-direction: column;

    .react-autoql-dm-tab {
      box-shadow: inset 18px 0px 8px -10px var(--react-autoql-box-shadow-color, rgba(0, 0, 0, 0.15));
    }
  }

  &.top {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    height: 40px;

    .react-autoql-dm-tab {
      box-shadow: inset 0px 12px 8px -10px var(--react-autoql-box-shadow-color, rgba(0, 0, 0, 0.15));
    }
  }

  &.bottom {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    height: 40px;

    .react-autoql-dm-tab {
      box-shadow: inset 0px -17px 8px -10px var(--react-autoql-box-shadow-color, rgba(0, 0, 0, 0.15));
    }
  }
}

/* Individual Tabs */
.react-autoql-notifications.react-autoql-dm-tab.active .react-autoql-notifications-badge-dot {
  border: 1px solid var(--react-autoql-background-color-primary);
}

.page-switcher-container .react-autoql-dm-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-messenger-notification-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: inherit;
}

.page-switcher-container.right .react-autoql-dm-tab,
.page-switcher-container.left .react-autoql-dm-tab {
  height: 65px;
}

.page-switcher-container.top .react-autoql-dm-tab,
.page-switcher-container.bottom .react-autoql-dm-tab {
  width: 65px;
}

.page-switcher-container.bottom .react-autoql-dm-tab {
  background: var(--react-autoql-background-color-primary);
  color: var(--react-autoql-text-color-primary);

  .react-autoql-icon.data-search svg {
    stroke: var(--react-autoql-background-color-primary);
    stroke-width: 0.3px;
  }
}

.page-switcher-container .react-autoql-dm-tab.active {
  background: var(--react-autoql-background-color-primary);
  color: var(--react-autoql-accent-color);
  box-shadow: -2px 0px 8px 2px var(--react-autoql-box-shadow-color, rgba(0, 0, 0, 0.15));
  font-weight: bold;
  position: relative;
  z-index: 2;

  &.react-autoql-data-explorer {
    background-color: var(--react-autoql-background-color-secondary);
  }

  .react-autoql-icon.data-search svg {
    stroke: var(--react-autoql-background-color-primary);
    stroke-width: 0.3px;
  }
}

.page-switcher-container.bottom .react-autoql-dm-tab.active {
  background: var(--react-autoql-accent-color);
  color: var(--react-autoql-text-color-accent);
  font-weight: bold;

  .react-autoql-icon.data-search svg {
    stroke: var(--react-autoql-accent-color);
    stroke-width: 0.3px;
  }
}

/* animations */
@keyframes response-loading1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes response-loading3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes response-loading2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes snackbarFadeout {
  from {
    top: 60px;
    opacity: 1;
  }

  to {
    top: 30px;
    opacity: 0;
  }
}