.react-autoql-btn {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: auto;
  height: auto;
  border-radius: 4px;
  outline: none !important;
  transition: border-color 0.2s ease, background-color 0.2s ease, opacity 0.2s ease, color 0.2s ease;
  cursor: pointer;

  &.btn-no-border {
    border: none !important;
    &:hover {
      opacity: 0.8;
    }
  }

  &.icon-only {
    font-size: 1.2em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: 4px 1px !important;
    padding: 8px !important;

    .react-autoql-btn-icon {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .react-autoql-icon {
    display: flex;
  }

  .react-autoql-btn-icon {
    margin-right: 6px;
    margin-left: -3px;
    font-size: 1.1em;
  }
}

// State
.react-autoql-btn.disabled {
  opacity: 0.4;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

// Size
.react-autoql-btn.react-autoql-btn-small {
  padding: 2px 8px;
  margin: 2px 3px;
}
.react-autoql-btn.react-autoql-btn-medium {
  padding: 6px 12px;
  margin: 3px 3px;
}
.react-autoql-btn.react-autoql-btn-large {
  padding: 10px 16px;
  margin: 2px 5px;
}

// Type
.react-autoql-btn.btn-no-border {
  color: var(--react-autoql-accent-color);
  background: inherit;
  &:hover {
    background: var(--react-autoql-mask-color);
  }
}

.react-autoql-btn.react-autoql-btn-default {
  border: 1px solid var(--react-autoql-accent-color);
  color: var(--react-autoql-accent-color);
  background: inherit;
  &:not(.btn-no-border):hover {
    background: var(--react-autoql-mask-color);
  }
}

.react-autoql-btn.react-autoql-btn-primary {
  background: var(--react-autoql-accent-color);
  border: 1px solid var(--react-autoql-accent-color);
  color: var(--react-autoql-text-color-accent);
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  &:hover {
    opacity: 0.8;
  }
}

.react-autoql-btn.react-autoql-btn-danger {
  &:not(.btn-filled) {
    color: var(--react-autoql-danger-color, var(--react-autoql-danger-color-default));
    border: 1px solid var(--react-autoql-danger-color, var(--react-autoql-danger-color-default));
    background: inherit;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
      0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    &:hover {
      background: var(--react-autoql-mask-color);
    }
  }

  &.btn-filled {
    color: var(--react-autoql-text-color-accent);
    background: var(--react-autoql-danger-color, var(--react-autoql-danger-color-default));
    border: 1px solid var(--react-autoql-danger-color, var(--react-autoql-danger-color-default));

    &:hover {
      opacity: 0.8;
    }
  }
}
