.react-autoql-btn {
  border-radius: 4px;
  cursor: pointer;
  outline: none !important;
  transition: all 0.2s ease;
  width: auto;
  display: inline-block;
}

// State
.react-autoql-btn.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

// Size
.react-autoql-btn.small {
  padding: 2px 8px;
  margin: 2px 3px;
}
.react-autoql-btn.large {
  padding: 5px 16px;
  margin: 2px 5px;
}

// Type
.react-autoql-btn.default {
  color: inherit;
  border: 1px solid var(--react-autoql-border-color);
  background: inherit;
  &:hover {
    border-color: var(--react-autoql-accent-color);
    color: var(--react-autoql-accent-color);
  }
}
.react-autoql-btn.primary {
  background: var(--react-autoql-accent-color);
  border: 1px solid var(--react-autoql-accent-color);
  color: var(--react-autoql-text-color-secondary);
  &:hover {
    opacity: 0.8;
  }
}
.react-autoql-btn.danger {
  color: var(--react-autoql-danger-color, #ca0b00);
  border: 1px solid var(--react-autoql-danger-color, #ca0b00);
  background: inherit;

  &:hover {
    background-color: var(--react-autoql-danger-color, #ca0b00);
    color: #fff;
  }
}
