.react-autoql-btn {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: auto;
  border-radius: 4px;
  outline: none !important;
  transition: all 0.2s ease;
  cursor: pointer;

  &.btn-no-border {
    border: none !important;
    &:hover {
      opacity: 0.8;
    }
  }

  .react-autoql-button-icon {
    margin-right: 6px;
  }
}

// State
.react-autoql-btn.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

// Size
.react-autoql-btn.small {
  padding: 2px 8px;
  margin: 2px 3px;
}
.react-autoql-btn.large {
  padding: 10px 16px;
  margin: 2px 5px;
}

// Type
.react-autoql-btn.btn-no-border {
  color: var(--react-autoql-accent-color);
  background: inherit;
  &:hover {
    background: var(--react-autoql-mask-color);
  }
}

.react-autoql-btn.default {
  border: 1px solid var(--react-autoql-accent-color);
  color: var(--react-autoql-accent-color);
  background: inherit;
  &:not(.btn-no-border):hover {
    background: var(--react-autoql-mask-color);
  }
}

.react-autoql-btn.primary {
  background: var(--react-autoql-accent-color);
  border: 1px solid var(--react-autoql-accent-color);
  color: var(--react-autoql-text-color-accent);
  &:hover {
    opacity: 0.8;
  }
}

.react-autoql-btn.danger {
  &:not(.btn-filled) {
    color: var(--react-autoql-danger-color, #ca0b00);
    border: 1px solid var(--react-autoql-danger-color, #ca0b00);
    background: inherit;

    &:hover {
      background: var(--react-autoql-mask-color);
    }
  }

  &.btn-filled {
    color: var(--react-autoql-text-color-accent);
    background: var(--react-autoql-danger-color, #ca0b00);
    border: 1px solid var(--react-autoql-danger-color, #ca0b00);

    &:hover {
      opacity: 0.8;
    }
  }
}
