.chata-btn {
  border-radius: 4px;
  cursor: pointer;
  outline: none !important;
  transition: all 0.2s ease;
  width: auto;
  display: inline-block;
}

.chata-btn.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.chata-btn.default {
  color: inherit;
  border: 1px solid #00000026;
  background: inherit;
  &:hover {
    border-color: var(--chata-drawer-accent-color);
    color: var(--chata-drawer-accent-color);
  }
}

.chata-btn.primary {
  background: var(--chata-drawer-accent-color);
  border: 1px solid var(--chata-drawer-accent-color);
  color: white;
  &:hover {
    opacity: 0.8;
  }
}
.chata-btn.danger {
  color: #ca0b00;
  border: 1px solid #ca0b00;
  background: inherit;
  &:hover {
    background-color: #ca0b00;
    color: #fff;
  }
}
