.notification-frequency-step {
  .schedule-builder-at-connector {
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 3px;
  }

  .frequency-category-select {
    position: relative;
    padding-top: 9px;
  }

  .notification-frequency-select {
    margin-left: 8px;
  }
  .frequency-repeat-checkbox .react-autoql-checkbox-label {
    line-height: 33px;
  }
  .frequency-repeat-follow-text {
    line-height: 32px;
    vertical-align: top;
  }

  .frequency-type-container {
    margin-bottom: 20px;

    .react-autoql-select {
      padding-left: 6px;
    }
  }
  .frequency-settings-container {
    font-size: inherit;

    .react-autoql-select {
      width: 50%;
      min-width: fit-content;
    }
  }

  .react-autoql-select {
    margin: 0;
    margin-right: 5px;
  }

  .frequency-date-select-container {
    margin-top: 10px;
  }

  .react-autoql-data-alert-frequency-options-container {
    display: flex;
    align-items: flex-end;
  }
}
