.react-autoql-notification-rule-container {
  display: flex;
  align-items: flex-end;

  .react-autoql-rule-input {
    .react-autoql-input-icon.react-autoql-bubbles-outlined {
      font-size: 18px !important;
    }
  }

  .data-alert-rule-formatted-query {
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-top: 5px;
    font-weight: 600;

    .data-alert-rule-tooltip-icon {
      margin-left: 10px;
      color: var(--react-autoql-text-color-placeholder);
      opacity: 0.6;
    }

    .react-autoql-icon.react-autoql-bubbles-outlined {
      margin-right: 5px;
    }

    .react-autoql-chip {
      margin: 0;
    }
  }

  .rule-second-input-type-select {
    text-decoration: underline;
    cursor: pointer;
  }

  .react-autoql-input-container,
  .react-autoql-rule-condition-select {
    margin: 0 !important;
  }
  .react-autoql-input-container:hover + .react-autoql-rule-term-type-selector,
  .react-autoql-input-container.focus + .react-autoql-rule-term-type-selector {
    color: var(--react-autoql-accent-color);
    border-color: var(--react-autoql-accent-color);
  }

  .react-autoql-rule-input {
    display: flex;
    flex-direction: column;
    flex: 1;

    .react-autoql-input-icon.react-autoql-bubbles-outlined {
      padding-bottom: 2px;
    }
  }

  .react-autoql-rule-first-input-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 28px;
  }

  .react-autoql-rule-condition-select-input-container {
    display: flex;
    flex-direction: column;
    padding: 2px 0;
    border-radius: 4px;
    transition: all 0.3s ease;
    flex: 0 0 auto;
    margin-right: 12px;
  }

  .react-autoql-rule-second-input-container {
    display: flex;
    flex-direction: column;
    padding: 2px 0;
    border-radius: 4px;
    transition: all 0.3s ease;
    flex: 1;

    .react-autoql-rule-condition-select {
      flex: 0;
      flex-basis: 33px;
    }
    .react-autoql-rule-input {
      flex: 1;
    }
    .react-autoql-delete-compare-btn {
      cursor: pointer;
      opacity: 0.6;
      padding: 6px;

      &:hover {
        opacity: 1;
      }
    }

    &.hidden {
      display: none;
    }
  }
}

.read-only-rule-term {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: rgba(0, 0, 0, 0.02);
  padding: 3px 7px;
  line-height: 1.5em;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 4px;
}

.expression-term-validation-error {
  padding: 0 10px;
  color: var(--react-autoql-warning-color);
}
