// required for reverse translation
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.react-autoql-query-output-resize-handle {
  position: absolute;
  background: transparent;
  z-index: 99999;
  pointer-events: auto;

  &.bottom {
    bottom: -2px;
    left: 0;
    height: 5px;
    width: 100%;
    border-bottom: 3px solid transparent;
    border-radius: 0 0 6px 6px;
    transition: border-bottom-color 0.2s ease;
    cursor: ns-resize !important;

    &:hover {
      border-bottom-color: var(--react-autoql-accent-color);
      cursor: ns-resize !important;
    }
  }
}

.react-autoql-response-content-container.resizing .react-autoql-query-output-resize-handle.bottom {
  border-bottom-color: var(--react-autoql-accent-color) !important;
}

.react-autoql-response-content-container.resizing {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.react-autoql-no-select {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.react-autoql-response-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  font-size: 14px;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  color: var(--react-autoql-text-color-primary);

  a {
    color: var(--react-autoql-accent-color);
  }

  .query-output-error-message,
  .no-columns-error-message,
  .feedback-message {
    margin: auto;
    text-align: center;
    max-width: 100%;
  }
}

.react-autoql-response-content-container.table {
  max-height: 100vh !important; // this safety net forces progressive rendering
  margin-bottom: 0 !important;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
.react-autoql-response-content-container.chart {
  width: 100vw;
  max-width: 100%;
  flex: 1 1 100vh;
  overflow: hidden;
}

.react-autoql-suggestion-btn {
  padding: 6px 14px;
  background: transparent;
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 5px;
  outline: none !important;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition-property: color, border-color, background-color, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: inherit;
}
.react-autoql-suggestion-btn:hover {
  border-color: transparent;
  color: var(--react-autoql-text-color-accent);
  background: var(--react-autoql-accent-color);
}
.react-autoql-help-link-btn {
  padding: 6px 14px;
  background: transparent;
  border-radius: 5px;
  font-family: inherit;
  font-size: 12px;
  margin-top: 5px;
  outline: none !important;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition-property: color, border-color, background-color, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  border-color: #e2e2e26e;
  color: inherit;
}
.react-autoql-help-link-btn:hover {
  opacity: 0.7;
}
.react-autoql-help-link-icon {
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
  margin-right: 3px;
}
.react-autoql-suggestion-message {
  height: 100%;
  width: 100%;
  word-break: break-word;

  .react-autoql-suggestion-message-prefix {
    margin-bottom: 10px;
  }
}
.react-autoql-suggestions-select {
  position: relative;
  display: inline-block;
  height: 30px;
  background: none;
  outline: none !important;
  border: 1px solid;
  font-family: inherit;
  letter-spacing: 0.05em;
  color: #28a8e0;
  cursor: pointer;
  font-size: inherit;
}
.no-columns-error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 13px;

  .warning-icon {
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
    color: var(--react-autoql-warning-color);
  }
  .eye-icon {
    vertical-align: middle;
  }
}
.query-output-footer {
  display: flex;
  align-items: flex-end;
  max-height: 150px;
  width: 100%;
  margin-top: 10px;
  flex: 0 0 auto;

  &.no-margin {
    margin: 0;
  }
  &.top {
    justify-content: center;
  }
  &.bottom {
    justify-content: space-between;
  }
}
.dashboard-data-limit-warning-icon {
  color: var(--react-autoql-warning-color) !important;
  margin-left: 10px;
  font-size: 20px;
}

/* query validation */
.react-autoql-query-validation-selector-container {
  display: inline-block;
  position: relative;
}

.react-autoql-select-popover-container.query-validation-select {
  letter-spacing: 0.03em;
  margin: 0;
}

.query-validation-select .react-autoql-select-popup-container {
  .react-autoql-menu-item {
    padding: 5px 15px;
  }

  .react-autoql-menu-item:last-of-type {
    color: #d84830;
  }
}
.react-autoql-query-validation-query {
  text-align: center;
}

.react-autoql-query-validation-execute-btn-container {
  display: flex;
  width: 100%;

  .react-autoql-btn.react-autoql-query-validation-execute-btn {
    margin-top: 24px;
    flex: 1;
  }
}

.react-autoql-execute-query-icon {
  font-size: 16px;
  vertical-align: middle !important;
  padding-right: 3px !important;

  span.react-autoql-icon svg {
    height: 19px;
    width: 19px;
    margin-top: 3px;
    margin-right: 4px;
    vertical-align: top;
    fill: var(--react-autoql-accent-color);
  }
}
.react-autoql-query-validation-select.react-autoql-select-and-label {
  padding: 0 !important;
  border-bottom-style: dashed !important;
  height: 1.5em;

  .react-autoql-select {
    position: relative;
    height: 2em !important;
    background: none;
    outline: none !important;
    border: none;
    letter-spacing: 0.05em;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0 !important;
    border-radius: 0;
    color: var(--react-autoql-accent-color);
  }
}
.react-autoql-query-validation-delete-button {
  position: relative;
  cursor: pointer;
  margin-bottom: -2px;
}

.single-value-response-flex-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .single-value-response-container {
    width: 100%;
    text-align: center;

    .single-value-response {
      color: inherit;
      cursor: unset;
      font-size: 20px;
      font-weight: 400;

      &:hover {
        color: inherit;
      }
    }
    .single-value-response.with-drilldown:hover {
      color: inherit;
      text-decoration: underline;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.react-autoql-query-validation-container {
  width: 100%;
}
.react-autoql-query-validation-description {
  margin-bottom: 14px;
}

.context-menu {
  background: var(--react-autoql-background-color-secondary);
  /* height: 100px; */
  width: 150px;
  padding: 10px 0;
}
.context-menu-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  hr {
    border-top: 1px solid var(--react-autoql-border-color);
    border-bottom: none;
    opacity: 0.5;
  }
}
.context-menu-list li {
  color: var(--react-autoql-text-color-primary);
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 0 18px;
  cursor: pointer;
}
.context-menu-list li:hover {
  background: var(--react-autoql-hover-color, rgba(0, 0, 0, 0.05));
}

.react-autoql-condition-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  color: var(--react-autoql-accent-color) !important;

  &:hover {
    opacity: 0.9;
  }
}
.react-autoql-condition-link-filtered {
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  color: var(--react-autoql-accent-color) !important;

  .react-autoql-custom-icon {
    font-size: 14px;
    vertical-align: middle;
    margin-top: -4px;
  }

  &:hover {
    opacity: 0.9;
    border: none !important;

    .react-autoql-custom-icon {
      opacity: 0.9;
    }
  }
}

.react-autoql-reverse-translation-container {
  .react-autoql-reverse-translation {
    color: var(--react-autoql-text-color-primary);
    background-color: var(--react-autoql-background-color-primary);
    border-radius: 5px;
    height: 100%;

    .react-autoql-icon-info {
      vertical-align: text-bottom;
      padding-bottom: 1.5px;
    }
  }
}

.report-like-text-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #26a7df;
  text-decoration: underline;
  cursor: pointer;
}

.react-autoql-cell-value-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.react-autoql-cell-value {
  flex: 1;
}

.react-autoql-cell-value-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.react-autoql-cell-value {
  width: 100%;
  text-align: inherit;
}

#react-autoql-query-output-tooltip {
  cursor: pointer !important;
}

#react-autoql-query-output-tooltip:hover {
  background-color: #f0f0f0 !important;
}
.hidden-clipboard-textarea {
  position: absolute;
  opacity: 0;
  left: -9999px;
}
