.notification-modal-content {
  .react-autoql-step-content p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-left: 8px;
  }

  .first-step-next-btn {
    position: absolute;
    right: 10px;
    bottom: 18px;
  }

  .step-btn-container {
    text-align: right;
  }
}
