.data-explorer-section {
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .data-preview-error-message {
    white-space: initial;
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .data-explorer-data-preview {
    overflow: hidden;
    min-height: 0;
    display: flex;
    flex-direction: column;

    .data-preview-loading-container {
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .data-preview {
      height: 100%;
      overflow: hidden;
      padding: 5px;
      display: flex;
      flex-direction: column;

      .data-preview-table-header {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        font-size: 13px;
        color: var(--react-autoql-text-color-placeholder);
        font-weight: 600;

        .react-autoql-data-preview-selected-columns-clear-btn {
          text-decoration: underline;
          font-weight: 400;
          cursor: pointer;

          .react-autoql-data-preview-selected-columns-badge {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            width: 1.3em;
            height: 1.3em;
            color: #ffffff;
            font-size: 0.8em;
            margin-left: 3px;
            background-color: var(--react-autoql-accent-color);
          }

          &:hover {
            color: var(--react-autoql-accent-color);
          }
        }
      }

      .data-preview-table-wrapper {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: auto;
        height: 100%;
        border-radius: 2px;
        box-shadow: 0px 1px 2px 0px #d8d8d8ad;

        table {
          font-size: 13px;
          min-width: 100%;
          border-collapse: collapse;

          .data-preview-cell-hover-element,
          .data-preview-column-header-hover-element {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: opacity 0.1s ease;
            background-color: var(--react-autoql-accent-color);
            opacity: 0;
          }

          .data-preview-column-header-hover-element {
            opacity: 0.2;
          }

          thead {
            th {
              top: 0;
              padding: 0 15px;
              height: 35px;
              position: sticky;
              z-index: 1;
              background-color: var(--react-autoql-background-color-secondary);
              box-shadow: inset 0 -2px 0 var(--react-autoql-border-color);
              transition: background-color 0.1s ease, color 0.1s ease;
              cursor: pointer;

              .data-preview-col-header {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                position: relative;

                .react-autoql-checkbox-container {
                  margin-left: 10px;

                  .react-autoql-checkbox__input {
                    border-color: var(--react-autoql-border-color);
                    transition: border-color 0.1s ease;
                    width: 15px;
                    height: 15px;
                  }
                }
              }

              &:hover {
                background-color: var(--react-autoql-background-color-secondary);

                .data-preview-column-header-hover-element {
                  opacity: 0.3 !important;
                }
                .data-preview-col-header .react-autoql-checkbox-container .react-autoql-checkbox__input {
                  border-color: var(--react-autoql-accent-color);
                }
              }

              &.data-preview-column-selected {
                background-color: var(--react-autoql-accent-color);
                color: var(--react-autoql-text-color-accent);
              }
            }
          }
          tbody {
            tr {
              opacity: 0.9;
              height: 24px;

              &:not(:last-child) {
                border-bottom: 1px solid var(--react-autoql-border-color);
              }
              td {
                position: relative;
                padding: 0 10px;

                &:not(:last-child) {
                  border-right: 1px solid var(--react-autoql-border-color);
                }

                &.data-preview-cell-selected {
                  .data-preview-cell-hover-element {
                    opacity: 0.1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.data-explorer-page-container .data-preview-tooltip {
  --border-color: var(--react-autoql-border-color);
  --bg-color: var(--react-autoql-background-color-secondary);

  opacity: 1 !important;
  padding: 15px 25px !important;
  font-size: 0.875rem !important;
  background: var(--bg-color);
  border: 2px solid var(--border-color);
  color: var(--react-autoql-text-color);
  box-shadow: var(--react-autoql-box-shadow-1);

  &.place-bottom::after,
  &.place-top::after,
  &.place-left::after,
  &.place-right::after {
    border-right: 2px solid var(--react-autoql-border-color);
    border-top: 2px solid var(--react-autoql-border-color);
    background: var(--bg-color);
  }

  p {
    margin-bottom: 0;
  }

  .data-explorer-tooltip-section {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .data-explorer-tooltip-title {
    font-weight: 600;
  }

  .data-explorer-tooltip-query {
    cursor: pointer;
    color: var(--react-autoql-accent-color);
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }

    .react-autoql-icon {
      svg {
        stroke-width: 1px;
        stroke: currentColor;
      }
    }
  }
}
