@media (max-width: 768px) {
  .data-explorer-page-container {
    .react-autoql-chatbar-input-container.data-explorer {
      margin: 24px 10px 0;
    }

    .data-explorer-intro-message.mobile {
      margin-top: 12px;
    }
  }
}
.data-explorer-page-container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  color: var(--react-autoql-text-color-primary);
  overflow: hidden;
  animation: fadeIn 0.2s linear;
  animation-fill-mode: both;

  .react-autoql-cascader {
    max-height: 200px;
    border: 1px solid var(--react-autoql-border-color);
    border-radius: 4px;
    margin: 5px;
    margin-top: 0;

    .data-explorer-data-preview {
      height: 100% !important;
    }

    .react-autoql-cascader-option-custom-content {
      overflow: hidden;
    }
  }

  .react-autoql-selectable-table {
    padding-top: 0;
  }

  .data-explorer-section.query-validation-response {
    padding: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    .react-autoql-response-content-container {
      max-width: 500px;
    }
  }

  .data-explorer-section.topic-dropdown-section {
    .react-autoql-select-and-label .react-autoql-select {
      line-height: 32px;
      height: 34px;
    }

    .data-explorer-data-preview {
      min-width: 100%;
    }

    .react-autoql-selectable-table {
      padding: 0;
      width: 100%;

      .react-autoql-selectable-table-wrapper {
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-radius: 0;
      }
    }
  }
  .data-explorer-intro-message.mobile {
    color: var(--react-autoql-text-color-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    min-height: 0;
    justify-content: center;
    h3 {
      font-size: 1.1rem;
      margin-bottom: 8px;
      font-weight: 500;
    }

    p {
      font-size: 0.9rem;
      line-height: 1.4;
      color: var(--react-autoql-text-color-secondary, #666);
    }

    .intro-message-list-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;

      p {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .react-autoql-icon {
          margin-right: 5px;
          padding: 0;
        }
      }
    }
  }
  .data-explorer-intro-message {
    color: var(--react-autoql-text-color-primary);
    text-align: center;
    margin: 50px auto;
    padding: 0 40px;
    font-size: 15px;
    min-height: 0;
    flex: 1;

    h2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      color: var(--react-autoql-text-color-primary);
      .react-autoql-icon {
        margin-left: 7px;
        margin-right: 2px;
      }
    }

    .intro-message-list-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;

      p {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .react-autoql-icon {
          margin-right: 5px;
          padding: 0;
        }
      }
    }
  }

  .data-explorer-result-container {
    color: var(--react-autoql-text-color-primary);
    width: 100%;
    overflow: hidden;
    padding: 0px 24px 0px 24px;
    min-height: 0;
    height: calc(100% - 130px);

    .data-explorer-sections-container {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow: hidden;
      min-height: 0;

      .react-autoql-input-label {
        display: inline;
        padding-left: 8px;
        white-space: pre-wrap;
      }

      .data-preview-section {
        flex: 1.2;

        &.topic-dropdown-section {
          flex: 1.6 1;
        }
      }

      .query-suggestions {
        flex: 2;
        padding-left: 12px;

        .react-autoql-data-preview-selected-columns-selector {
          font-size: 11px;
          margin-left: 7px;
          color: var(--react-autoql-text-color-secondary);
          padding-left: 8px;
          border-left: 1px solid var(--react-autoql-backgroud-color-disabled);

          .react-autoql-select-and-label {
            padding-right: 0px;

            .react-autoql-multi-select {
              color: inherit;
              border-color: transparent !important;
              padding: 0px 5px;
              height: 25px;

              &:hover {
                color: var(--react-autoql-accent-color);
                background-color: var(--react-autoql-hover-color);
              }

              .react-autoql-select-arrow {
                svg {
                  stroke: currentColor;
                  stroke-width: 2em;
                }
              }
            }
          }
        }

        .react-autoql-data-preview-selected-columns-clear-btn {
          color: var(--react-autoql-text-color-placeholder);
          height: 25px;
          font-size: 11px;
          padding: 0px 6px;
          font-weight: 600;
          border-radius: 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            color: var(--react-autoql-accent-color);
            background-color: var(--react-autoql-hover-color);
          }
        }
      }
    }

    .data-explorer-section:last-of-type {
      padding-bottom: 10px;
    }

    .data-explorer-selected-text {
      opacity: 0.8;
      font-weight: 600;
    }

    .data-explorer-query-suggestion-list {
      flex: 1;
      overflow: hidden;
    }
  }

  .react-autoql-data-explorer-selected-subject-title {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex: 0 0 auto;
    font-weight: 600;
    font-size: 16px;
    margin: 2px;
    margin-top: 4px;
    margin-bottom: 10px;

    .react-autoql-icon {
      font-size: 17px;
      margin-right: 5px;
    }
  }

  .react-autoql-data-explorer-section-title {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 18px;
    margin: 4px 0px;
    font-weight: 600;

    .react-autoql-icon {
      margin-right: 5px;
    }
  }

  .react-autoql-data-explorer-title-text {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 15px;
    min-height: 30px;

    .react-autoql-data-explorer-title-text-sample-queries {
      padding-bottom: 2px;
    }

    .react-autoql-icon {
      margin-right: 0;
    }
  }

  .data-explorer-section-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .data-explorer-section-placeholder-loading-container {
    min-height: 90px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .data-explorer-section-placeholder-loading-item {
      padding: 12px 0;
      width: 100%;
    }
  }

  .data-explorer-section-error-container {
    min-height: 90px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 40px;
    font-style: italic;
    opacity: 0.7;
  }

  .data-explorer-section-placeholder {
    min-height: 90px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .data-preview-scroll-container {
    color: var(--react-autoql-text-color-primary);
    min-height: 0;
    flex: 1;

    .query-tip-item {
      cursor: pointer;
      position: relative;
      padding: 3px;
      color: var(--react-autoql-accent-color);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }

      .query-suggestion-text {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        white-space: normal;

        .react-autoql-icon {
          margin-right: 5px;
          margin-top: 4px;

          svg {
            stroke-width: 1px;
            stroke: currentColor;
          }
        }
      }

      .animated-item {
        animation: fadeIn 0.2s linear;
        animation-fill-mode: both;
      }
    }
  }

  .chat-bar-clear-btn {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    font-size: 20px;
    visibility: hidden;
    color: var(--react-autoql-text-color-placeholder);
    cursor: pointer;
    &:hover {
      color: var(--react-autoql-accent-color);
    }
    &.visible {
      visibility: visible;
    }
  }
}

.react-autoql-sample-queries-filter-dropdown {
  min-width: 180px;

  .popover-container-content {
    padding: 0;
  }

  .data-explorer-topic-icon {
    margin-right: 0.1em;
  }

  .react-autoql-menu {
    overflow-y: auto;
    max-height: 200px;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
