.data-explorer-section {
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .data-preview-error-message {
    white-space: initial;
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .data-explorer-data-preview {
    overflow: hidden;
    min-height: 0;
    display: flex;
    flex-direction: column;

    .data-preview-loading-container {
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .data-preview {
      height: 100%;
      overflow: hidden;
      padding: 5px;
      display: flex;
      flex-direction: column;

      .data-preview-table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap;
        font-size: 14px;
        color: var(--react-autoql-text-color-secondary);
        font-weight: 600;

        .react-autoql-data-preview-selected-columns-text {
          padding-left: 5px;
        }

        .react-autoql-data-preview-selected-columns-selector {
          font-size: 11px;

          .react-autoql-select-and-label {
            padding-right: 0px;

            .react-autoql-multi-select {
              color: inherit;
              border-color: transparent !important;
              padding: 0px 5px;
              height: 25px;

              &:hover {
                color: var(--react-autoql-accent-color);
                background-color: var(--react-autoql-hover-color);
              }

              .react-autoql-select-arrow {
                svg {
                  stroke: currentColor;
                  stroke-width: 2em;
                }
              }
            }
          }
        }

        // .react-autoql-data-preview-selected-columns-clear-btn {
        //   text-decoration: underline;
        //   font-weight: 400;
        //   cursor: pointer;

        //   .react-autoql-data-preview-selected-columns-badge {
        //     display: inline-flex;
        //     justify-content: center;
        //     align-items: center;
        //     border-radius: 10px;
        //     height: 1.4em;
        //     padding: 0px 6px;
        //     color: #ffffff;
        //     font-size: 0.9em;
        //     font-weight: 600;
        //     margin-left: 3px;
        //     background-color: var(--react-autoql-accent-color);
        //   }

        //   &:hover {
        //     color: var(--react-autoql-accent-color);
        //   }
        // }
      }

      .data-preview-table-wrapper {
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: auto;
        height: 100%;
        border-radius: 2px;
        border: 1px solid var(--react-autoql-border-color);
        margin-top: 1px;

        table {
          font-size: 13px;
          min-width: 100%;
          border-collapse: collapse;

          &:hover {
            // If hovering the table AND hovering a column, highlight header and cells in column
            th.react-autoql-data-preview-hovered::before {
              background-color: RGBA(
                var(--react-autoql-accent-color-R),
                var(--react-autoql-accent-color-G),
                var(--react-autoql-accent-color-B),
                0.3
              );
            }

            td.react-autoql-data-preview-hovered {
              &:not(.data-preview-cell-selected) {
                background-color: RGBA(
                  var(--react-autoql-accent-color-R),
                  var(--react-autoql-accent-color-G),
                  var(--react-autoql-accent-color-B),
                  0.1
                );
              }
              &.data-preview-cell-selected {
                background-color: RGBA(
                  var(--react-autoql-accent-color-R),
                  var(--react-autoql-accent-color-G),
                  var(--react-autoql-accent-color-B),
                  0.2
                );
              }
            }
          }

          // ----------------------- hover styles -----------------------
          // td:hover::after,
          // th:hover::after {
          //   content: '\00a0';
          //   height: 100000px;
          //   left: 0;
          //   position: absolute;
          //   top: -50000px;
          //   width: 100%;
          //   background-color: RGBA(
          //     var(--react-autoql-accent-color-R),
          //     var(--react-autoql-accent-color-G),
          //     var(--react-autoql-accent-color-B),
          //     0.1
          //   );
          // }
          // ----------------------------------------------------------

          thead {
            th {
              top: 0;
              padding: 0 15px;
              height: 35px;
              position: sticky;
              z-index: 1;
              background-color: var(--react-autoql-background-color-secondary);
              border-bottom: 1px solid var(--react-autoql-table-border-color);
              cursor: pointer;

              &.react-autoql-data-preview-hovered {
                .react-autoql-checkbox__input {
                  border-color: var(--react-autoql-accent-color) !important;
                }
              }

              &.data-preview-column-selected {
                background-color: var(--react-autoql-accent-color);
                color: var(--react-autoql-text-color-accent);
              }

              &:not(.data-preview-column-selected)::before {
                content: '\00a0';
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0px;
                top: 0px;

                // background-color: RGBA(
                //   var(--react-autoql-accent-color-R),
                //   var(--react-autoql-accent-color-G),
                //   var(--react-autoql-accent-color-B),
                //   0.3
                // );
                background-color: var(--react-autoql-background-color-disabled);
              }

              &:not(:last-child) {
                border-right: 1px solid var(--react-autoql-table-border-color);
              }

              .data-preview-col-header {
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                position: relative;

                .react-autoql-checkbox-container {
                  margin-left: 10px;

                  .react-autoql-checkbox__input {
                    width: 15px;
                    height: 15px;
                    border-color: var(--react-autoql-text-color-placeholder);
                  }
                }
              }
            }
          }
          tbody {
            tr {
              height: 28px;
              font-size: 12px;

              &:not(:last-child) {
                border-bottom: 1px solid var(--react-autoql-table-border-color);
              }

              td {
                position: relative;
                padding: 0 18px;
                cursor: pointer;

                &:not(:last-child) {
                  border-right: 1px solid var(--react-autoql-table-border-color);
                }

                &.data-preview-cell-selected {
                  background-color: RGBA(
                    var(--react-autoql-accent-color-R),
                    var(--react-autoql-accent-color-G),
                    var(--react-autoql-accent-color-B),
                    0.15
                  );
                }
              }
            }
          }

          .data-preview-end-of-preview-message {
            position: sticky;
            left: calc(50% - 75px);
            display: block;
            border-top: 1px solid var(--react-autoql-table-border-color);
            color: var(--react-autoql-text-color-placeholder);
            font-style: italic;
            font-size: 13px;

            .data-preveiew-end-of-preview-sticky-wrapper {
              justify-content: center;
              pointer-events: none;
              align-items: center;
              position: absolute;
              display: flex;
              width: 150px;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.data-explorer-page-container .data-preview-tooltip {
  --border-color: var(--react-autoql-border-color);
  --bg-color: var(--react-autoql-background-color-secondary);

  opacity: 1 !important;
  padding: 12px 18px !important;
  font-size: 13px;
  background: var(--bg-color);
  color: var(--react-autoql-text-color);
  box-shadow: var(--react-autoql-box-shadow-2);

  p {
    margin-bottom: 0;
  }

  .data-explorer-tooltip-section {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;

    .react-autoql-icon {
      margin-right: 5px;
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .data-explorer-tooltip-title {
    font-weight: 600;
  }

  .data-explorer-tooltip-query {
    cursor: pointer;
    color: var(--react-autoql-accent-color);
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }

    .react-autoql-icon {
      svg {
        stroke-width: 1px;
        stroke: currentColor;
      }
    }
  }
}
