.data-explorer-page-container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  color: var(--react-autoql-text-color-primary);

  .data-explorer-section,
  .data-explorer-intro-message {
    opacity: 0;
    transform: translateY(100%);
    animation: slideUp 0.6s cubic-bezier(0.26, 0.26, 0, 1);
    animation-fill-mode: forwards;
    animation-delay: 0s;
  }

  @for $i from 1 through 2 {
    .data-explorer-section:nth-of-type(#{$i}) {
      animation-delay: 0.2s * ($i - 1);
    }
  }

  .data-explorer-intro-message {
    color: var(--react-autoql-text-color-primary);
    text-align: center;
    margin: 50px auto;
    padding: 0 40px;
    font-size: 15px;
    flex: 1;

    h2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      color: var(--react-autoql-text-color-primary);
      .react-autoql-icon {
        margin-left: 7px;
        margin-right: 2px;
      }
    }

    .intro-message-list-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;

      p {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        .react-autoql-icon {
          margin-right: 5px;
        }
      }
    }
  }

  .data-explorer-topic-icon {
    margin-right: 5px;
  }

  .data-explorer-result-container {
    color: var(--react-autoql-text-color-primary);
    width: 100%;
    overflow: auto;
    padding-left: 5px;
    min-height: 0;
    height: calc(100% - 130px);

    .data-explorer-sections-container {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow: hidden;
    }

    .data-explorer-section:last-of-type {
      padding-bottom: 10px;
    }

    .data-explorer-selected-text {
      opacity: 0.8;
      font-weight: 600;
    }

    .data-explorer-query-suggestion-list {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      flex: 0 1 100vh;
      height: 100%;
      padding-left: 8px;
    }
  }

  .data-preview-scroll-component {
    flex: 1;
  }
  .react-autoql-card-title-text {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .react-autoql-icon {
      margin-right: 5px;
    }
  }
  .data-explorer-card-placeholder {
    min-height: 90px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.data-preview {
      height: 165px;
    }
  }
  .data-preview-scroll-container {
    color: var(--react-autoql-text-color-primary);
    flex: 1;

    .query-tip-item {
      cursor: pointer;
      position: relative;
      padding: 3px;
      color: var(--react-autoql-accent-color);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }

      .query-suggestion-text {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;

        .react-autoql-icon {
          margin-right: 5px;
          svg {
            stroke-width: 1px;
            stroke: currentColor;
          }
        }
      }

      .animated-item {
        animation: fadeIn 0.3s linear;
        animation-fill-mode: both;
      }
    }
  }

  .chat-bar-clear-btn {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    font-size: 20px;
    visibility: hidden;
    color: var(--react-autoql-text-color-placeholder);
    cursor: pointer;
    &:hover {
      color: var(--react-autoql-accent-color);
    }
    &.visible {
      visibility: visible;
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
