.notification-modal-content {
  .react-autoql-step-content p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-left: 8px;
  }

  .step-btn-container {
    text-align: right;
  }
}

.expression-valid-checkmark.react-autoql-icon svg {
  color: var(--react-autoql-success-color);
}

.expression-invalid-message {
  color: var(--react-autoql-danger-color);
}
