.react-autoql-data-alert-modal-body {
  padding: 20px;
}

.react-autoql-data-alert-modal-content {
  height: 400px;
  max-height: 90vh;
  padding: 0px 10%;
  display: flex;
  flex-direction: column;

  .react-autoql-data-alert-modal-step {
    font-weight: 400;
    font-size: 15px;
    padding-top: 15px;

    .react-autoql-data-alert-frequency-option {
      margin-right: 10px;
    }

    .data-alert-modal-condition-title {
      margin-top: 20px;
      margin-bottom: 5px;
    }

    &.hidden {
      position: absolute;
      display: none;
    }
  }

  .data-alert-name-input-section {
    margin-bottom: 20px;

    .react-autoql-data-alert-modal-tooltip-icon {
      flex: 0 0 auto;
      font-size: 1.1em;
      vertical-align: text-top;
    }

    .react-autoql-notification-display-name-input {
      width: 100%;
    }
  }

  .react-autoql-input-container {
    flex: 1;

    textarea {
      resize: none;
      flex: 1;
    }
  }

  .compose-message-section-condition-statement {
    padding: 3px 5px;
    margin-bottom: 20px;
  }

  .compose-message-section {
    display: flex;

    .form-section,
    .preview-section {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .react-autoql-notification-message-input {
      flex: 1;
      margin-top: 10px;

      .react-autoql-input {
        flex: 1 0 70px;
      }
    }

    .preview-section {
      display: flex;
      flex-direction: column;
      margin-left: 14px;

      .data-alert-preview {
        flex: 1;
        padding: 20px;
        border: 1px solid var(--react-autoql-border-color);
        border-radius: 2px;
        background: var(--react-autoql-background-color-primary);
        overflow: auto;
        pointer-events: none !important;

        .react-autoql-notification-list-item {
          transition: none;
          animation: none;
        }

        .react-autoql-notification-extra-content {
          display: none !important;
        }
      }
    }
  }

  .react-autoql-step-content p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-left: 8px;
  }

  .step-btn-container {
    text-align: right;
    display: flex;
    min-height: 30px;
  }

  .data-alert-chunked-rt {
    // These are the RT chunk types if we want to use them to style
    // &.PREFIX,
    // &.TEXT,
    // &.GROUPBY,
    // &.VL_PREFIX,
    // &.VALUE_LABEL,
    // &.DATE
    color: var(--react-autoql-text-color-primary);
  }
}

.react-autoql-data-alert-modal-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal-footer-button-container {
  display: flex;
  flex-direction: row;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }
}
