.react-autoql-data-alert-modal-body {
  padding: 0;
}

.react-autoql-data-alert-creation-modal {
  height: calc(100vh - 90px);

  .react-autoql-alert-type-btn-active {
    background-color: var(--react-autoql-accent-color);
  }

  .react-autoql-modal-footer {
    padding: 0;

    .data-alert-modal-query-summary-container {
      position: relative;

      .data-alert-modal-query-summary-background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.2;
        background: var(--react-autoql-accent-color);
      }

      .data-alert-modal-query-summary {
        position: relative;
        padding: 10px 20px;
        text-align: center;
        color: var(--react-autoql-text-color-primary);
      }
    }

    .react-autoql-data-alert-modal-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 8px 10px;
    }
  }
}

.react-autoql-data-alert-modal-content {
  display: flex;
  flex-direction: column;

  .react-autoql-steps-hoz-container {
    padding: 0px 100px;
    padding-bottom: 20px;
  }

  .react-autoql-data-alert-type-step {
    flex: 1;
    width: 100%;
    margin-top: 20px;
  }

  .react-autoql-data-alert-modal-step {
    font-weight: 400;
    font-size: 15px;
    padding: 75px;
    padding-top: 15px;
    padding-bottom: 20px;

    .react-autoql-data-alert-frequency-option {
      margin-right: 5px;
    }

    .data-alert-modal-condition-title {
      margin-top: 20px;
      margin-bottom: 5px;
    }

    &.hidden {
      position: absolute;
      display: none;
    }
  }

  .data-alert-name-input-section {
    margin-bottom: 20px;

    .react-autoql-data-alert-modal-tooltip-icon {
      flex: 0 0 auto;
      font-size: 1.1em;
      vertical-align: text-top;
    }

    .react-autoql-notification-display-name-input {
      width: 100%;
    }
  }

  .react-autoql-input-container {
    flex: 1;

    textarea {
      resize: none;
      flex: 1;
    }
  }

  .compose-message-section-condition-statement {
    padding: 3px 5px;
    margin-bottom: 20px;
  }

  .compose-message-section {
    display: flex;
    flex-wrap: wrap;

    .form-section,
    .preview-section {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .react-autoql-notification-message-input {
      flex: 1;
      margin-top: 10px;

      .react-autoql-input {
        flex: 1 0 70px;
      }
    }

    .preview-section {
      display: flex;
      flex-direction: column;
      margin-left: 14px;

      .data-alert-preview {
        flex: 1;
        padding: 20px;
        border: 1px solid var(--react-autoql-border-color);
        border-radius: 2px;
        background: var(--react-autoql-background-color-primary);
        overflow: auto;
        pointer-events: none !important;

        .react-autoql-notification-list-item {
          transition: none;
          animation: none;
        }

        .react-autoql-notification-extra-content {
          display: none !important;
        }
      }
    }
  }

  .data-alert-modal-step-content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  .react-autoql-step-content p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-left: 8px;
  }

  .step-btn-container {
    text-align: right;
    display: flex;
    min-height: 30px;
  }

  .data-alert-chunked-rt {
    // These are the RT chunk types if we want to use them to style
    // &.PREFIX,
    // &.TEXT,
    // &.GROUPBY,
    // &.VL_PREFIX,
    // &.VALUE_LABEL,
    // &.DATE
    color: var(--react-autoql-text-color-primary);
  }
}

.modal-footer-button-container {
  display: flex;
  flex-direction: row;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }
}
