.react-autoql-selectable-table {
  height: 100%;
  overflow: hidden;
  padding: 5px;
  display: flex;
  flex-direction: column;

  .react-autoql-selectable-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    font-size: 13px;
    color: var(--react-autoql-text-color-secondary);
    font-weight: 600;

    .react-autoql-selectable-table-selected-columns-text {
      padding-left: 5px;
    }
  }

  .react-autoql-selectable-table-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    border-radius: 2px;
    border: 1px solid var(--react-autoql-border-color);
    margin-top: 1px;
    overflow: hidden; // Required for custom scrollbars to do their job

    // Use these styles to show scrollbars on hover
    .ps__rail-x,
    .ps__rail-y {
      opacity: 0 !important;
      transition: opacity 0.2s ease !important;
    }

    &:hover {
      .ps__rail-x,
      .ps__rail-y {
        opacity: 0.5 !important;
      }
    }

    table {
      font-size: 13px;
      min-width: 100%;
      border-collapse: collapse;

      td.selectable-table-cell-disabled {
        cursor: default;
        opacity: 0.7;
        background-color: var(--react-autoql-background-color-disabled) !important;
      }

      &:hover {
        // If hovering the table AND hovering a column, highlight header and cells in column
        th.react-autoql-selectable-table-hovered::before {
          background-color: RGBA(
            var(--react-autoql-accent-color-R),
            var(--react-autoql-accent-color-G),
            var(--react-autoql-accent-color-B),
            0.3
          );
        }

        td.react-autoql-selectable-table-hovered {
          &:not(.selectable-table-cell-selected):not(.selectable-table-cell-disabled) {
            background-color: RGBA(
              var(--react-autoql-accent-color-R),
              var(--react-autoql-accent-color-G),
              var(--react-autoql-accent-color-B),
              0.1
            );
          }
          &.selectable-table-cell-selected:not(.selectable-table-cell-disabled) {
            background-color: RGBA(
              var(--react-autoql-accent-color-R),
              var(--react-autoql-accent-color-G),
              var(--react-autoql-accent-color-B),
              0.2
            );
          }
        }
      }

      th::before {
        content: '\00a0';
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0px;
        top: 0px;
      }

      thead {
        th {
          top: 0;
          padding: 0 15px;
          height: 35px;
          position: sticky;
          z-index: 1;
          background-color: var(--react-autoql-background-color-secondary);
          border-bottom: 1px solid var(--react-autoql-table-border-color);

          &.selectable-table-column-disabled {
            .selectable-table-col-header {
              cursor: default;
              opacity: 0.8;
              .checkbox-icon-wrapper {
                display: flex;
                align-items: center;
                gap: 4px;
              }
            }

            &::before {
              background-color: var(--react-autoql-border-color) !important;
            }
          }

          &:not(.selectable-table-column-disabled) {
            cursor: pointer;
          }

          &.selectable-table-column-selection-disabled {
            cursor: default !important;
            .checkbox-icon-wrapper {
              display: none !important;
            }
          }

          &.react-autoql-selectable-table-hovered {
            .react-autoql-checkbox__input {
              border-color: var(--react-autoql-accent-color) !important;
            }
          }

          &.selectable-table-column-selected {
            background-color: var(--react-autoql-accent-color);
            color: var(--react-autoql-text-color-accent);
          }

          &:not(.selectable-table-column-selected)::before {
            background-color: var(--react-autoql-background-color-disabled);
          }

          &:not(:last-child) {
            border-right: 1px solid var(--react-autoql-table-border-color);
          }

          .selectable-table-col-header {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;

            .react-autoql-checkbox-container {
              margin-left: 10px;

              .react-autoql-checkbox__input {
                width: 15px;
                height: 15px;
                border-color: var(--react-autoql-text-color-placeholder);
              }
            }
          }
        }
      }
      tbody {
        tr {
          height: 28px;
          font-size: 12px;
          background: var(--react-autoql-background-color-secondary);

          &:not(:last-child) {
            border-bottom: 1px solid var(--react-autoql-table-border-color);
          }

          td {
            position: relative;
            padding: 0 18px;

            &:not(.selectable-table-cell-disabled) {
              cursor: pointer;
            }

            &.selectable-table-cell-selection-disabled {
              cursor: default !important;
            }

            &:not(:last-child) {
              border-right: 1px solid var(--react-autoql-table-border-color);
            }

            &.selectable-table-cell-selected {
              background-color: RGBA(
                var(--react-autoql-accent-color-R),
                var(--react-autoql-accent-color-G),
                var(--react-autoql-accent-color-B),
                0.15
              );
            }
          }
        }
      }

      .selectable-table-end-of-preview-message {
        color: var(--react-autoql-text-color-secondary);
        background-color: transparent;
        left: calc(50% - 75px);
        height: 30px;
        position: sticky;
        display: block;
        font-style: italic;
        font-size: inherit;

        .selectable-table-end-of-preview-sticky-wrapper {
          justify-content: center;
          pointer-events: none;
          align-items: center;
          position: absolute;
          display: flex;
          width: 150px;
          height: 100%;
          padding-bottom: 8px;
        }
      }
    }
  }
}

.react-autoql-response-content-container .react-tooltip.selectable-table-column-header-tooltip {
  padding: 13px 20px !important;

  .selectable-table-tooltip-subtitle {
    font-style: italic;
    margin-bottom: 5px;
  }

  .selectable-table-tooltip-section {
    font-size: 11px;
  }

  .selectable-table-tooltip-title {
    font-weight: 600;
    font-size: 12px;
  }
}

.react-tooltip.selectable-table-column-header-tooltip {
  --border-color: var(--react-autoql-border-color);
  --bg-color: var(--react-autoql-background-color-secondary);

  padding: 15px 25px !important;
  font-size: 0.875rem !important;
  background: var(--bg-color);
  border: 2px solid var(--border-color);
  color: var(--react-autoql-text-color);
  box-shadow: var(--react-autoql-box-shadow-1);

  &.place-bottom::after,
  &.place-top::after,
  &.place-left::after,
  &.place-right::after {
    border-right: 2px solid var(--react-autoql-border-color);
    border-top: 2px solid var(--react-autoql-border-color);
    background: var(--bg-color);
  }

  .table-tooltip-summary-stats-section {
    margin-left: 5px;
  }

  .selectable-table-tooltip-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 0.9em;
    white-space: pre-wrap;
    font-size: 12px;
  }

  .selectable-table-tooltip-title {
    font-weight: 600;
  }

  .react-autoql-icon {
    margin-right: 3px;
  }
}
