.custom-column-modal {
  display: flex;
  flex-direction: column;
  height: 100%;

  .custom-column-modal-name-and-type {
    display: flex;
    flex-direction: row;
    align-items: center;

    .custom-column-builder-type-selector {
      flex: 1;
      padding: 0;
      margin-bottom: 10px;
      margin-left: 15px;
    }

    .react-autoql-input-and-label-container {
      flex: 2;
      padding: 0;
      margin-bottom: 10px;
    }
  }

  .react-autoql-table-preview-wrapper {
    flex: 1 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  .react-autoql-formula-builder-container {
    padding: 10px;
    min-height: 100px;
    border-radius: 2px;
    margin-bottom: 25px;
    overflow: auto;
    border: 1px solid var(--react-autoql-border-color);
    background: var(--react-autoql-background-color-primary);

    .react-autoql-formula-builder-button-wrapper {
      display: inline-flex;
      align-items: center;
      white-space: pre;
      flex-wrap: wrap;

      .react-autoql-operator-select-wrapper {
        position: relative;
        margin-bottom: 5px;

        .react-autoql-operator-delete-btn {
          position: absolute;
          border-radius: 20px;
          height: 18px;
          width: 18px;
          right: -5px;
          top: -5px;
          padding: 0;
          margin: 0;
          z-index: 1;

          opacity: 0;
          background: var(--react-autoql-accent-color);
          color: var(--react-autoql-text-color-accent);

          .react-autoql-icon {
            padding: 0;
          }
        }

        &:hover .react-autoql-operator-delete-btn {
          opacity: 1;
        }

        .react-autoql-operator-select-btn {
          display: inline-flex;
          border-color: var(--react-autoql-border-color);
          color: var(--react-autoql-text-color-placeholder);
          border-style: dashed;
          margin-right: 5px;
          padding: 10px;
          background-color: transparent;
        }
        .react-autoql-operator-select .react-autoql-select {
          border-color: var(--react-autoql-border-color);
          color: var(--react-autoql-text-color-placeholder);
          background-color: transparent;
          border-style: dashed;
        }
      }
    }
  }

  .react-autoql-select-popover-container {
    .react-autoql-icon-divide {
      font-size: 16px;
    }
  }

  .react-autoql-select-and-label,
  .react-autoql-input-and-label-container {
    padding: 0;
    margin-right: 5px;

    input {
      background: var(--react-autoql-background-color-secondary) !important;
    }
  }

  .react-autoql-table-preview-container {
    flex: 1;
    display: flex;
    overflow: hidden;

    .react-autoql-table-container {
      border: 1px solid var(--react-autoql-border-color);
      border-radius: 2px;

      .react-autoql-table.tabulator .tabulator-row:last-child {
        margin-bottom: 0px;
      }

      // Use this if we want to highlight the columns that are being used in the formula
      // .tabulator-col.formula-column,
      // .tabulator-cell.formula-column {
      //   &::before {
      //     content: '';
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     height: 100%;
      //     width: 100%;
      //     background: yellow;
      //     opacity: 0.4;
      //   }
      // }

      .tabulator-col.highlighted-column,
      .tabulator-cell.highlighted-column {
        .tabulator-col-content {
          color: var(--react-autoql-text-color-accent);
        }

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: var(--react-autoql-accent-color);
        }
      }

      .tabulator-cell.highlighted-column::before {
        opacity: 0.2;
      }
    }
  }
}
