.chat-voice-record-button {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  margin: 10px;
  margin-left: 0;
  font-size: 18px;
  outline: none !important;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  background: #28a8e0;
  color: white;
  border: none;
  transition: box-shadow 0.2s ease;

  flex-shrink: 0;
  flex-grow: 0;
}
.chat-voice-record-button:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);
}
.chat-voice-record-button.listening {
  background: #ff471a;
}
/* .chat-voice-record-button:before {
  content: "";
  top: 0;
  left: 0;
  width: 41px;
  height: 41px;
  position: absolute;
  z-index: 1;
  animation: slide 1s infinite 3s;

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  );
} */
.chat-voice-record-icon {
  margin-top: 3px;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 82%;
  }
}
