.chat-voice-record-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  margin: 10px;
  margin-left: 0;
  font-size: 18px;
  outline: none !important;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  background: transparent;
  color: var(--react-autoql-text-color-primary);
  opacity: 0.5;
  border: none;

  flex-shrink: 0;
  flex-grow: 0;
}
.chat-voice-record-button.listening {
  color: #ff471a;
}
.chat-voice-record-icon {
  vertical-align: top;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  48% {
    opacity: 0.2;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: 82%;
  }
}
