.chata-chart-container .axis line {
  stroke-width: 1px;
  stroke: currentColor;
  opacity: 0.15;
  shape-rendering: crispedges;
}
.chata-chart-container .axis text,
text.x-axis-label,
text.y-axis-label {
  fill: currentColor;
  fill-opacity: 0.7;
}

.chata-chart-container .bar,
.chata-chart-container .line-dot {
  fill: #28a8e0;
  fill-opacity: 0.7;
}
.chata-chart-container .bar:hover,
.chata-chart-container .line-dot:hover {
  fill-opacity: 1;
}

.chata-chart-container .y.axis path {
  display: none;
}

.chata-chart-container path.slice {
  /* transition: transform 0.5s ease; */
}
