.month-select .react-autoql-radio-btn {
  width: 40px;
}

.year-select .react-autoql-radio-btn {
  width: 67px;
  height: 38px;
  line-height: 32px;
}

.month-select .react-autoql-radio-btn,
.year-select .react-autoql-radio-btn {
  margin-top: -1px;
  text-align: center;

  &:first-child {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 0px !important;
    margin-left: -1px !important;
  }
  &:last-child {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 4px !important;
  }
  &.bottom-left {
    border-bottom-left-radius: 4px;
  }
  &.bottom-right {
    border-bottom-right-radius: 4px;
  }
  &.top-right {
    border-top-right-radius: 4px;
  }
  &.last-day {
    width: 157px;
  }
}
