.react-autoql-custom-scrollbars {
  .custom-scrollbar-view {
    height: calc(100% + 6px);
    width: calc(100% + 6px);
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb,
.rc-scrollbars-container .rc-scrollbars-track .thumb-vertical,
.rc-scrollbars-container .rc-scrollbars-track .thumb-horizontal {
  border-radius: 3px !important;
  background-color: var(--react-autoql-scrollbar-color) !important;
}
