::-webkit-scrollbar {
  visibility: hidden;
  width: 6px;
  height: 6px;
}

.thumb-vertical,
.thumb-horizontal {
  border-radius: 3px;
  background-color: var(--react-autoql-highlight-color);
  opacity: 0.2;
}
