.react-autoql-custom-scrollbars {
  &.always-visible {
    .ps__rail-y,
    .ps__rail-x {
      opacity: 0.6 !important;
      .ps__thumb-y,
      .ps__thumb-x {
        opacity: 0.5 !important;
      }
    }
  }

  &.suppress-scroll-x {
    .ps__rail-x {
      display: none;
    }
  }

  &.suppress-scroll-y {
    .ps__rail-y {
      display: none;
    }
  }

  .ps__rail-y,
  .ps__rail-x {
    z-index: 1;
    background-color: transparent;

    &:hover,
    &.ps--clicking {
      background-color: transparent;
    }

    .ps__thumb-y,
    .ps__thumb-x {
      background-color: var(--react-autoql-highlight-color);
      opacity: 0.5;
      cursor: default;
    }
  }
}
