.react-autoql-select-popover-container {
  margin: 0 6px;

  &.react-autoql-select-popover-no-margin {
    margin: 0;
  }

  .popover-container-content {
    padding: 0 !important;
  }
}

.react-autoql-select-and-label {
  display: inline-flex;
  flex-direction: column;
  padding: 2px 5px;

  &.react-autoql-select-full-width {
    display: flex;
  }

  &.underlined {
    border-bottom: 1px solid var(--react-autoql-accent-color);
    margin: 0 3px;
    padding: 2px;
  }

  .react-autoql-select {
    display: inline-flex;
    justify-content: space-between;
    transition: color 0.2s ease, border-color 0.2s ease;
    white-space: nowrap;
    font-size: inherit;
    cursor: pointer;

    &.react-autoql-select-large {
      line-height: 36px;
      height: 38px;
    }

    &.react-autoql-select-small {
      line-height: 30px;
      height: 30px;
    }

    &:hover {
      color: var(--react-autoql-accent-color, #26a7df);

      &.text-color {
        color: var(--react-autoql-text-color-accent);
        opacity: 0.7;
      }

      .react-autoql-select-arrow {
        color: var(--react-autoql-accent-color, #26a7df);

        &.text-color {
          color: var(--react-autoql-text-color-accent);
        }
      }
    }

    &:not(.outlined) {
      font-weight: 600;
      padding: 0;
      margin: 0;
      height: 1.5em;

      .react-autoql-select-text {
        line-height: 1em;
      }
    }

    &.outlined {
      padding: 0px 16px;
      color: var(--react-autoql-text-color-primary);
      border: 1px solid var(--react-autoql-border-color);
      border-radius: 4px;
      background: var(--react-autoql-background-color-secondary, white);

      &.react-autoql-select-small {
        padding: 0px 10px;
      }

      &:hover {
        color: var(--react-autoql-accent-color);
        border-color: var(--react-autoql-accent-color);
      }
    }

    .react-autoql-select-text {
      display: block;
      height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .react-autoql-select-text-placeholder {
        color: var(--react-autoql-text-color-placeholder);
        font-style: italic;
      }
    }

    .react-autoql-select-arrow {
      display: flex;
      align-items: center;
      padding-left: 8px;
      font-size: 0.875em;
      color: var(--react-autoql-text-color-placeholder);

      svg {
        stroke-width: 2em;
      }

      &.text-color {
        color: var(--react-autoql-text-color-accent);
      }
    }
  }

  @media (max-width: 576px) {
    .react-autoql-select {
      max-width: 175px;
    }
  }
}

.react-autoql-select-popup-container {
  background: var(--react-autoql-background-color-secondary);
  max-height: 300px;
  overflow: hidden;
}