.slack-modal-error-container,
.slack-modal-empty-list-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  margin-bottom: 50px;

  .react-autoql-btn {
    margin-top: 10px;
  }
}

.slack-email-instructions-button {
  cursor: pointer;
  opacity: 0.6;
  font-size: 13px;
  font-style: italic;
  text-decoration: underline;
}

.slack-email-instructions-popover {
  color: var(--react-autoql-options-toolbar-text-color-primary);
  background: var(--react-autoql-options-toolbar-background-color-primary);
  padding: 18px;
  max-width: 500px;
}

.slack-channel-list {
  width: 390px;
}

.remove-channel-popover {
  color: var(--react-autoql-options-toolbar-text-color-primary);
  background: var(--react-autoql-options-toolbar-background-color-primary);
  text-align: right;
  padding: 18px;
  width: 226px;
}

.remove-channel-btn {
  cursor: pointer;
  margin-left: 8px;

  &:hover {
    color: #ca0b00;
  }
}

.connect-channel-form-container,
.slack-channel-list-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .channel-list-btn-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 100%;

    button {
      flex: 1;
    }
  }

  .connect-channel-back-btn {
    position: absolute;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 4px 7px;
    top: 3px;
    left: -50px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .channel-list {
    position: relative;
    max-height: 200px;
    min-height: 100px;
    margin-top: 10px;
    overflow-y: auto;
    margin-bottom: 5px;
    width: 355px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  .channel-item {
    position: relative;
    text-align: center;
    padding: 10px 20px;
    transition: all 0.3s ease;
    font-weight: bold;
    cursor: pointer;

    &.selected {
      background-color: var(--react-autoql-options-toolbar-accent-color);
      color: #fff;
    }

    &:hover:not(.selected) {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &:hover .delete-channel-btn {
      opacity: 1;
    }
  }

  .delete-channel-btn {
    transition: all 0.3s ease;
    opacity: 0;
    position: absolute;
    right: 10px;
    font-size: 18px;
    top: 7px;

    margin-left: 10px;
    &:hover {
      color: #ca0b00;
    }
  }

  .send-to-slack-btn {
    margin-top: 15px;
    width: 200px;
  }

  .react-autoql-checkbox-container {
    margin-left: 10px;
  }

  .connect-channel-form {
    position: relative;
    width: 350px;
  }

  .form-subtitle {
    font-size: 12px;
    opacity: 0.8;
  }

  .react-autoql-input-container {
    width: 100%;
    margin-left: 0;
    margin-bottom: 5px;
  }

  .connect-channel-title,
  .select-channel-title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .connect-channel-btn {
    margin-top: 10px;
    text-align: center;

    button {
      width: 200px;
    }
  }
}
