.react-autoql-icon {
  position: relative;
  opacity: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
  line-height: 1em;
  box-sizing: content-box;
  height: 1em;
  width: 1em;
  &.react-autoql-icon-success {
    color: var(--react-autoql-success-color) !important;
  }
  &.react-autoql-icon-warning {
    color: var(--react-autoql-warning-color) !important;
  }
  &.react-autoql-icon-danger {
    color: var(--react-autoql-danger-color) !important;
  }
  &.react-autoql-icon-spinning {
    animation: spin 1.2s linear infinite;
  }
  &.react-autoql-icon-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.react-autoql-badge {
  position: absolute;
  background: var(--react-autoql-warning-color);
  border: 1px solid var(--react-autoql-background-color-secondary);
  width: 0.5em;
  height: 0.5em;
  top: 0px;
  right: 0px;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

span .react-autoql-icon {
  vertical-align: middle;
  padding-bottom: 3px;
}
