.chata-icon {
  // line-height: 1em;
  // vertical-align: middle;

  svg {
    height: 1em;
    margin-bottom: -0.1em;
  }
}

.slack-logo {
  display: inline-block;
  height: 100%;
  margin-bottom: 3px;

  img {
    vertical-align: middle;
    height: 1em;
    width: 1em;
  }
}
