.chata-bar-chart-container .axis line {
  stroke-width: 1px;
  stroke: #ddd;
  shape-rendering: crispedges;
}
.chata-bar-chart-container .axis text,
text.x-axis-label,
text.y-axis-label {
  fill: #888;
}

.chata-bar-chart-container .bar {
  fill: #28a8e0;
  fill-opacity: 0.7;
  /* transition: all 0.2s ease; */
}

.chata-bar-chart-container .bar:hover {
  fill-opacity: 1;
}

.chata-bar-chart-container .bar.active {
  fill: #a5cd39;
}

.chata-bar-chart-container .axis.hide-axis-line path {
  display: none;
}

.chata-bar-chart-container .axis:not(.hide-axis-line) path {
  color: #ddd;
}

.chata-bar-chart-container
  .axis-Bottom.rotated
  text:not(.x-axis-label):not(.y-axis-label) {
  transform: rotate(-45deg);
  text-anchor: end;
}

.y-axis-label,
.x-axis-label {
  font-size: 12px;
}
