.chata-chart-container .axis line {
  stroke-width: 1px;
  stroke: currentColor;
  opacity: 0.15;
  shape-rendering: crispedges;
}
.chata-chart-container .axis text,
text.x-axis-label,
text.y-axis-label {
  fill: currentColor;
  fill-opacity: 0.7;
}

.chata-chart-container .bar {
  fill: #28a8e0;
  fill-opacity: 0.7;
}

.chata-chart-container .bar:hover {
  fill-opacity: 1;
}

.chata-chart-container .bar.active {
  fill: #a5cd39;
}

.chata-chart-container .axis path {
  display: none;
}

.chata-chart-container
  .axis-Bottom.rotated
  text:not(.x-axis-label):not(.y-axis-label) {
  transform: rotate(-45deg);
  text-anchor: end;
}

.y-axis-label,
.x-axis-label {
  font-size: 12px;
}
