.chata-notification-list-container {
  --accent-color: #26a7df;
  // --accent-color: #f9ba00;

  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.chata-notification-dismiss-all {
  text-align: right;
  margin-bottom: 12px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.1s ease;

  span {
    cursor: pointer;
    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

// Edit Modal
.chata-notification-display-name-input {
  width: 100%;
  // max-width: 400px;
}
.chata-notification-message-input {
  width: 100%;
}

// Set delay per List Item, max out at 15 as it shouldnt exceed this
@for $i from 1 through 100 {
  .chata-notification-list-item:nth-of-type(#{$i}) {
    animation-delay: 0.1s * $i;
  }
}

@-webkit-keyframes slideIn {
  0% {
    top: 2000px;
  }
  100% {
    top: 0;
  }
}
