@import url("https://fonts.googleapis.com/css?family=Titillium+Web:100,200,300,400,500,600,700,800,900");

.chata-bar-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.chata-input {
  padding: 10px;
  padding-left: 20px;
  margin: 10px;
  height: 42px;
  box-sizing: border-box;
  border-radius: 24px;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.04em;
  outline: none !important;
  width: calc(100% - 20px);
  background: transparent;

  /* Default styles outside of chat drawer */
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #5d5d5d;
}
.chata-input.left-padding {
  padding-left: 54px;
}
.chata-input:disabled {
  background: rgba(0, 0, 0, 0.03);
}
.chata-input:not(:disabled):hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.chata-input::placeholder {
  /* Default color outside of chat drawer */
  color: #999;
}

/* autosuggest */
.react-autosuggest__container,
.chata-input-container {
  position: relative;
  flex: 1;
}
.chata-bar-container .react-autosuggest__input--focused {
  outline: none;
}
.chata-bar-container .react-autosuggest__input::-ms-clear {
  display: none;
}
.chata-bar-container .react-autosuggest__suggestions-container {
  display: none;
}
.chata-bar-container .react-autosuggest__suggestions-container--open {
  position: absolute;
  top: 45px;
  bottom: unset;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  width: calc(100% - 20px);
  height: unset;
  border-radius: 24px;
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  font-weight: normal;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);

  /* Default styles outside of chat drawer */
  background-color: white;
  color: #5d5d5d;
}

.chata-bar-container.autosuggest-top
  .react-autosuggest__suggestions-container--open {
  top: unset;
  bottom: 45px;
}

.chata-bar-container.autosuggest-bottom
  .react-autosuggest__suggestions-container--open {
  top: 45px;
  bottom: unset;
}

.chata-bar-container .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.chata-bar-container .react-autosuggest__suggestion {
  cursor: pointer;
  padding: 2px;
  padding-left: 18px;
  letter-spacing: 0.05em;
  /* color: var(--chata-drawer-text-color-primary); */
}

.chata-bar-container .react-autosuggest__suggestion--highlighted {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.chata-bar-container .react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

/* response loading dots */
.input-response-loading-container {
  position: absolute;
  right: 23px;
  top: -2px;
}
.response-loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.response-loading div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #e2e2e2;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.response-loading div:nth-child(1) {
  left: 6px;
  animation: response-loading1 0.6s infinite;
}
.response-loading div:nth-child(2) {
  left: 6px;
  animation: response-loading2 0.6s infinite;
}
.response-loading div:nth-child(3) {
  left: 26px;
  animation: response-loading2 0.6s infinite;
}
.response-loading div:nth-child(4) {
  left: 45px;
  animation: response-loading3 0.6s infinite;
}

.chat-bar-input-icon {
  position: absolute;
  left: 30px;
  top: 20px;
}
