@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

.chata-bar-container {
  display: flex;
  flex-direction: row;
}

.chata-input {
  padding: 10px;
  padding-left: 20px;
  margin: 10px;
  height: 42px;
  box-sizing: border-box;
  border-radius: 24px;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.04em;
  outline: none !important;

  border: 1px solid #00000017;
  transition: box-shadow 0.2s ease;

  flex: 1;
}
.chata-input:disabled {
  background: rgba(0, 0, 0, 0.03);
}
.chata-input:not(:disabled):hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.chata-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
