.chata-dashboard .react-grid-item {
  background: #fff;
  color: rgb(64, 64, 64);
  font-family: var(--chata-dashboard-font-family), sans-serif;
  overflow: hidden;

  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);
}

// .chata-dashboard .react-grid-item:not(.dragging) {
//   /* transition: all 0.2s ease-in; */
// }

.chata-dashboard-tile-inner-div {
  height: 100%;
  width: 100%;
  background: inherit;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

// Toolbar
.chata-dashboard-tile-inner-div.split .viz-toolbar:not(.split-view-btn) {
  bottom: 7px;
  left: 7px;
}
// .chata-dashboard-tile-inner-div
//   .layout-pane-primary
//   .viz-toolbar:not(.split-view-btn) {
//   bottom: 5px;
// }
.chata-dashboard-tile-inner-div .viz-toolbar {
  transition: opacity 0.3s ease, color 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.chata-dashboard-tile-inner-div:not(.split) .split-view-btn {
  bottom: -23px;
  left: calc(50% - 20px);
}
.chata-dashboard-tile-inner-div.split .split-view-btn {
  bottom: 7px;
  left: calc(50% - 20px);
}
.chata-dashboard-tile-inner-div .viz-toolbar:not(.split-view-btn) {
  bottom: -24px;
  left: -23px;
}
.chata-dashboard-tile:hover .viz-toolbar {
  visibility: visible;
  opacity: 1;
}

.chata-dashboard-tile-inner-div .single-value-response {
  font-size: 23px;
}

.chata-dashboard-tile-inner-div .dashboard-tile-response-wrapper {
  height: calc(100% - 55px);
  width: 100%;
  /* padding: 20px; */
  padding: 30px;
  padding-top: 0;
  background: inherit;

  .layout-splitter {
    height: 1px !important;
    color: var(--chata-dashboard-text-color-primary);
    opacity: 0.3;
    pointer-events: none;
  }

  .chata-table {
    opacity: 0.9;
    color: var(--chata-dashboard-text-color-primary);
    font-size: 11px;
  }
  .layout-pane {
    padding-left: 30px;
    padding-right: 30px;
  }
  .layout-pane:not(.layout-pane-primary) {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .layout-pane-primary {
    padding-bottom: 10px;
  }
}
.chata-dashboard-tile-inner-div.split .dashboard-tile-response-wrapper {
  padding: 0;
}
.chata-dashboard-tile-inner-div .dashboard-tile-response-wrapper.editing {
  cursor: move;

  .layout-splitter {
    display: block;
    pointer-events: unset;
    height: 4px !important;
    color: var(--chata-dashboard-text-color-primary);
    opacity: 0.8;
  }
}

/* Safetynet styles specific to dashboard tiles */
.chata-dashboard-tile-inner-div .dashboard-tile-response-wrapper.editing {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.chata-dashboard-tile-inner-div .chata-safety-net-query {
  white-space: nowrap;
}
.dashboard-tile-response-wrapper.small .chata-safety-net-description,
.dashboard-tile-response-wrapper.small .chata-suggestion-message-description,
.dashboard-tile-response-wrapper.small .chata-safety-net-execute-btn {
  display: none;
}

.dashboard-tile-response-wrapper .dashboard-tile-response-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 21px;
  background: inherit;

  cursor: default;
}

.dashboard-tile-title-container {
  width: 100%;
  text-align: left;
  padding: 20px 30px 0 30px;
  height: 55px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard-tile-title-container .dashboard-tile-title {
  /* color: #2466ae; */
  font-weight: bold;
  font-size: 17px;
}

.dashboard-tile-edit-wrapper {
  display: flex;
  width: 100%;
  height: 55px;
  padding: 20px 23px 0 30px;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: move;
}

.dashboard-tile-play-button {
  cursor: default;
  flex-grow: 0;
  flex-shrink: 0;
}
.dashboard-tile-play-button svg {
  cursor: pointer;
  width: 20px;
  height: 33px;
  margin-left: 10px;
  color: #366f90;
}
.dashboard-tile-play-button.disabled svg {
  opacity: 0.5;
  cursor: not-allowed;
}
.dashboard-tile-play-button:not(.disabled) svg:hover {
  opacity: 0.8;
}

.dashboard-tile-delete-button {
  opacity: 0;
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 2px;
  right: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.react-grid-item:hover .dashboard-tile-delete-button {
  opacity: 1;
}

.dashboard-tile-loading-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.dashboard-tile-title-divider {
  height: 2px;
  background: currentColor;
  width: 75px;
  margin-top: 8px;
  opacity: 0.07;
}

/* Input box styling for edit mode */
.dashboard-tile-input-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.query-focused .dashboard-tile-left-input-container,
.title-focused .dashboard-tile-right-input-container {
  width: 70%;
}

.dashboard-tile-right-input-container {
  z-index: 2;
}

.dashboard-tile-right-input-container,
.dashboard-tile-left-input-container {
  position: relative;
  width: 0;
  flex-grow: 1;
  transition: width 0.3s ease;

  .query-input-icon,
  .title-input-icon {
    position: absolute;
    pointer-events: none;
    opacity: 0.6;
    z-index: 1;
  }

  .query-input-icon {
    top: 7px;
    left: 6px;
  }
  .title-input-icon {
    top: 7px;
    left: 9px;
  }
}

.dashboard-tile-input-container .dashboard-tile-input,
.dashboard-tile-input-container .dashboard-tile-autocomplete-input {
  width: 100%;
  height: 100%;
  padding: 12px;
  padding-left: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none !important;
  color: #356f90;
}
.dashboard-tile-input.second.query {
  transition: all 0.3s ease;
  border: 1px solid transparent;
  outline: none !important;
  color: #356f90;
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 28px;
  pointer-events: none;

  &.open {
    width: 200px;
    padding: 12px;
    margin-left: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    pointer-events: unset;
  }
}
.dashboard-tile-input-container .dashboard-tile-autocomplete-input {
  width: 100%;
  height: 100%;
}
// .dashboard-tile-input-container .dashboard-tile-input:focus,
// .dashboard-tile-input-container.query-focused .react-autosuggest__container {
//   width: 80%;
// }
.dashboard-tile-input:hover,
.dashboard-tile-input:focus,
.dashboard-tile-input-container .dashboard-tile-autocomplete-input:hover,
.dashboard-tile-input-container .dashboard-tile-autocomplete-input:focus {
  border: 1px solid rgb(38, 167, 233) !important;
}
.dashboard-tile-input-container .dashboard-tile-input.query,
.dashboard-tile-input-container .dashboard-tile-autocomplete-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dashboard-tile-input-container .dashboard-tile-input.title {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.dashboard-tile-input-container .dashboard-tile-input.title:hover,
.dashboard-tile-input-container .dashboard-tile-input.title:focus,
.title-focused .dashboard-tile-right-input-container .dashboard-tile-input,
.dashboard-tile-right-input-container:hover .dashboard-tile-input {
  /* This is done to balance it because we add a 1px left border when the input is focused or hovered */
  margin-left: -2px;
}

/* Autocomplete styles */
.dashboard-tile-input-container .react-autosuggest__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  // flex-grow: 1;
  // transition: width 0.3s ease;
}
.dashboard-tile-input-container
  .react-autosuggest__suggestions-container--open {
  background-color: var(--chata-dashboard-background-color);
  border: 1px solid var(--chata-dashboard-border-color);
  color: var(--chata-dashboard-text-color-primary);
}
.dashboard-tile-input-container .react-autosuggest__suggestion {
  color: var(--chata-dashboard-text-color-primary);
}
.dashboard-tile-input-container input::placeholder {
  opacity: 0.5;
}
.dashboard-tile-input-container
  .react-autosuggest__suggestions-container--open {
  position: absolute;
  bottom: unset;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  height: unset;
  border-radius: 24px;
  font-family: inherit;
  font-size: 15px;
  font-weight: normal;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);
  text-align: left;
  width: 100%;
  top: 35px;
  border-radius: 4px;
  margin: 0;
}
.dashboard-tile-input-container .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.dashboard-tile-input-container .react-autosuggest__suggestion {
  cursor: pointer;
  padding: 2px;
  padding-left: 18px;
  letter-spacing: 0.05em;
  line-height: 22.5px;
}
.dashboard-tile-input-container .react-autosuggest__suggestion--highlighted {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.dashboard-tile-input-container .react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

/* Dragging placeholder styles */
.chata-db-dragging-placeholder-container {
  height: 100%;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.chata-db-dragging-placeholder-title {
  width: 100%;
  height: 35px;
  background: #f3f3f3;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  flex-shrink: 0;
  flex-grow: 0;
}

.chata-db-dragging-placeholder-content {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dashboard-tile-placeholder-text {
  color: rgba(0, 0, 0, 0.3);
}

/* React Grid Layout overrides */
.react-grid-item > .react-resizable-handle {
  z-index: 1;
}
.react-grid-item > .react-resizable-handle::after {
  width: 8px !important;
  height: 8px !important;
  opacity: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
  transition: opacity 0.3s ease;
}

.react-grid-item:hover > .react-resizable-handle::after {
  opacity: 1;
}

.react-grid-placeholder {
  background: rgba(0, 0, 0, 0.13) !important;
}

/* This fixes the flickering bug in RGL when resizing elements */
.react-draggable-transparent-selection span::selection,
.react-draggable-transparent-selection div::selection,
.react-draggable-transparent-selection a::selection,
.react-draggable-transparent-selection input::selection,
.react-draggable-transparent-selection text::selection,
.react-draggable-transparent-selection input::placeholder {
  color: inherit;
}

.chata-sql-selector {
  position: absolute;
  border: none;
  line-height: 38px;

  &:hover {
    opacity: 0.7;
  }
}
// Splitter styles
.dashboard-tile-response-container .layout-pane-primary {
  overflow: hidden;
}
.dashboard-tile-response-container .splitter-layout {
  height: calc(100% - 20px);
}
.dashboard-tile-response-container .splitter-layout,
.dashboard-tile-response-container .layout-pane,
.dashboard-tile-response-container .dashboard-tile-split-pane-container {
  background: inherit;
}
.dashboard-tile-split-pane-container {
  height: 100%;
}
