.react-autoql-dashboard .react-grid-item {
  background: #fff;
  color: rgb(64, 64, 64);
  font-family: var(--react-autoql-dashboard-font-family), sans-serif;
  overflow: hidden;

  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);
}

.react-autoql-dashboard-tile-inner-div {
  height: 100%;
  width: 100%;
  background: inherit;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

// Drag handles
.react-autoql-dashboard-tile-drag-handle {
  transition: opacity 0.3s ease;
  position: absolute;
  background-color: #f7f7f7;
  cursor: move;
  opacity: 0;

  &.top {
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
  }
  &.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
  }
  &.left {
    top: 0;
    left: 0;
    width: 15px;
    height: 100%;
  }
  &.right {
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
  }
}
.react-autoql-dashboard-tile:hover .react-autoql-dashboard-tile-drag-handle {
  opacity: 1;
}

// Toolbars
.react-autoql-dashboard-tile .autoql-options-toolbar {
  transition: opacity 0.3s ease, color 0.3s ease;
  visibility: hidden;
  opacity: 0;
  bottom: 8px;
  right: 8px;
  z-index: 1;
}

.dashboard-tile-viz-toolbar-container {
  transition: opacity 0.3s ease, color 0.3s ease;
  color: var(--react-autoql-dashboard-accent-color);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;

  .viz-toolbar,
  .split-view-btn {
    position: relative;
    display: inline-block;
    background: var(--react-autoql-dashboard-background-color);
  }

  .split-view-btn {
    margin-right: 7px;
    .react-autoql-icon {
      font-size: 14px;
    }
  }
}
// For the second query input expand button
.split-view-btn {
  z-index: 1;
}

.split-view-query-btn {
  transition: opacity 0.3s ease, color 0.3s ease;
  color: var(--react-autoql-dashboard-accent-color);
  position: absolute;
  top: 7px;
  left: 7px;
  bottom: unset;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.react-autoql-dashboard-tile:hover .dashboard-tile-viz-toolbar-container,
.react-autoql-dashboard-tile:hover .split-view-query-btn,
.react-autoql-dashboard-tile:hover .autoql-options-toolbar {
  visibility: visible;
  opacity: 1;
}

.react-autoql-dashboard-tile-inner-div .single-value-response {
  font-size: 32px;
  margin-top: -6px;
  opacity: 0.9;
}

.react-autoql-dashboard-tile-inner-div .dashboard-tile-response-wrapper {
  height: calc(100% - 47px);
  width: 100%;
  padding-top: 0;
  background: inherit;

  .layout-splitter {
    height: 1px !important;
    color: var(--react-autoql-dashboard-text-color-primary);
    opacity: 0.3;
    pointer-events: none;
  }

  .react-autoql-table {
    opacity: 0.9;
    color: var(--react-autoql-dashboard-text-color-primary);
    font-size: 11px;
  }
}
.react-autoql-dashboard-tile-inner-div.split .dashboard-tile-response-wrapper {
  padding: 0;
}
.react-autoql-dashboard-tile-inner-div
  .dashboard-tile-response-wrapper.editing {
  .layout-splitter {
    display: block;
    pointer-events: unset;
    height: 4px !important;
    color: var(--react-autoql-dashboard-text-color-primary);
    opacity: 0.8;
  }
}

/* Safetynet styles specific to dashboard tiles */
.react-autoql-dashboard-tile-inner-div
  .dashboard-tile-response-wrapper.editing {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.react-autoql-dashboard-tile-inner-div .react-autoql-safety-net-query {
  white-space: nowrap;
}
.dashboard-tile-response-wrapper.small .react-autoql-safety-net-description,
.dashboard-tile-response-wrapper.small
  .react-autoql-suggestion-message-description,
.dashboard-tile-response-wrapper.small .react-autoql-safety-net-execute-btn {
  display: none;
}

.dashboard-tile-response-wrapper .dashboard-tile-response-container {
  position: relative;
  height: 100%;
  width: 100%;
  background: inherit;

  cursor: default;

  .react-autoql-table-container {
    padding: 20px;
    padding-top: 15px;
    width: 100%;
  }

  .react-autoql-response-content-container {
    padding: 7px;
  }
}

.dashboard-tile-title-container {
  width: 100%;
  text-align: left;
  padding: 19px 25px 0 25px;
  height: 47px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard-tile-title-container .dashboard-tile-title {
  font-weight: bold;
  font-size: 14px;
}

.dashboard-tile-edit-wrapper {
  display: flex;
  width: 100%;
  height: 55px;
  padding: 20px 20px 0 25px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard-tile-play-button {
  cursor: default;
  flex-grow: 0;
  flex-shrink: 0;
}
.dashboard-tile-play-button span.react-autoql-icon svg {
  cursor: pointer;
  width: 25px;
  height: 33px;
  margin-left: 10px;
  color: #366f90;
}
.dashboard-tile-play-button.disabled svg {
  opacity: 0.5;
  cursor: not-allowed;
}
.dashboard-tile-play-button:not(.disabled) svg:hover {
  opacity: 0.8;
}

.dashboard-tile-delete-button {
  opacity: 0;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0px;
  right: 2px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.react-grid-item:hover .dashboard-tile-delete-button {
  opacity: 1;
}

.dashboard-tile-loading-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.dashboard-tile-title-divider {
  height: 2px;
  background: currentColor;
  width: 75px;
  margin-top: 4px;
  opacity: 0.07;
}

/* Input box styling for edit mode */
.dashboard-tile-input-container {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 15px;

  .dashboard-tile-input,
  .dashboard-tile-autocomplete-input {
    width: 100%;
    height: 100%;
    padding: 12px;
    padding-left: 33px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none !important;
    color: #356f90;
  }
}

.query-focused .dashboard-tile-left-input-container,
.title-focused .dashboard-tile-right-input-container {
  width: 70%;
}

.dashboard-tile-right-input-container {
  z-index: 2;
}

.dashboard-tile-right-input-container,
.dashboard-tile-left-input-container {
  position: relative;
  width: 0;
  flex-grow: 1;
  transition: width 0.3s ease;

  .query-input-icon,
  .title-input-icon {
    color: #356f90;
    position: absolute;
    pointer-events: none;
    z-index: 1;
  }

  .query-input-icon {
    font-size: 18px;
    top: 4px;
    left: 10px;
  }
  .title-input-icon {
    font-size: 16px;
    top: 7px;
    left: 11px;
  }
}

.dashboard-tile-input.second.query {
  transition: all 0.3s ease;
  border: 1px solid transparent;
  outline: none !important;
  color: #356f90;
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 28px;
  pointer-events: none;

  &.open {
    width: 200px;
    padding: 12px;
    margin-left: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    pointer-events: unset;
  }
}

.dashboard-tile-input:hover,
.dashboard-tile-input:focus,
.dashboard-tile-input-container .dashboard-tile-autocomplete-input:hover,
.dashboard-tile-input-container .dashboard-tile-autocomplete-input:focus {
  border: 1px solid rgb(38, 167, 233) !important;
  border-color: var(--react-autoql-dashboard-accent-color) !important;
}
.dashboard-tile-input-container .dashboard-tile-input.query,
.dashboard-tile-input-container .dashboard-tile-autocomplete-input {
  padding-left: 36px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dashboard-tile-input-container .dashboard-tile-input.title {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}
.dashboard-tile-input-container .dashboard-tile-input.title:hover,
.dashboard-tile-input-container .dashboard-tile-input.title:focus,
.title-focused .dashboard-tile-right-input-container .dashboard-tile-input,
.dashboard-tile-right-input-container:hover .dashboard-tile-input {
  /* This is done to balance it because we add a 1px left border when the input is focused or hovered */
  margin-left: -2px;
}

/* Autocomplete styles */
.dashboard-tile-input-container .react-autosuggest__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.dashboard-tile-input-container
  .react-autosuggest__suggestions-container--open {
  background-color: var(--react-autoql-dashboard-background-color);
  border: 1px solid var(--react-autoql-dashboard-border-color);
  color: var(--react-autoql-dashboard-text-color-primary);
}
.dashboard-tile-input-container .react-autosuggest__suggestion {
  color: var(--react-autoql-dashboard-text-color-primary);
}
.dashboard-tile-input-container input::placeholder {
  opacity: 0.5;
}
.react-autoql-dashboard .edit-mode-placeholder-icon {
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
  height: 23px;
}
.dashboard-tile-input-container
  .react-autosuggest__suggestions-container--open {
  position: absolute;
  bottom: unset;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  height: unset;
  border-radius: 24px;
  font-family: inherit;
  font-size: 15px;
  font-weight: normal;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);
  text-align: left;
  width: 100%;
  top: 35px;
  border-radius: 4px;
  margin: 0;
}
.dashboard-tile-input-container .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.dashboard-tile-input-container .react-autosuggest__suggestion {
  cursor: pointer;
  padding: 2px;
  padding-left: 18px;
  letter-spacing: 0.05em;
  line-height: 22.5px;
}
.dashboard-tile-input-container .react-autosuggest__suggestion--highlighted {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.dashboard-tile-input-container .react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

/* Dragging placeholder styles */
.react-autoql-db-dragging-placeholder-container {
  height: 100%;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.react-autoql-db-dragging-placeholder-title {
  width: 100%;
  height: 35px;
  background: #f3f3f3;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  flex-shrink: 0;
  flex-grow: 0;
}

.react-autoql-db-dragging-placeholder-content {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dashboard-tile-placeholder-text {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);

  .play-icon {
    vertical-align: bottom;
    line-height: 20px;
  }
}

/* React Grid Layout overrides */
.react-grid-item > .react-resizable-handle {
  z-index: 1;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 0;
  right: 0;
}
.react-grid-item > .react-resizable-handle::after {
  width: 11px !important;
  height: 11px !important;
  bottom: 4px;
  right: 4px;
  opacity: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.4) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
  transition: opacity 0.3s ease;
}

.react-grid-item:hover > .react-resizable-handle::after {
  opacity: 1;
}

.react-grid-placeholder {
  background: rgba(0, 0, 0, 0.13) !important;
}

/* This fixes the flickering bug in RGL when resizing elements */
.react-draggable-transparent-selection span::selection,
.react-draggable-transparent-selection div::selection,
.react-draggable-transparent-selection a::selection,
.react-draggable-transparent-selection input::selection,
.react-draggable-transparent-selection text::selection,
.react-draggable-transparent-selection input::placeholder {
  color: inherit;
}

// Splitter styles
.dashboard-tile-response-container .layout-pane-primary {
  overflow: hidden;
}
.dashboard-tile-response-container .splitter-layout,
.dashboard-tile-split-pane-container {
  height: 100%;
}
.dashboard-tile-response-container .splitter-layout,
.dashboard-tile-response-container .layout-pane,
.dashboard-tile-response-container .dashboard-tile-split-pane-container {
  background: inherit;
}
