g.legendOrdinal,
g.legendOrdinal tspan {
  stroke: transparent;
  letter-spacing: 0; // not clickable if larger than 0
  cursor: pointer;
}

.axis-label-border,
.legend-title-border {
  &.hidden {
    stroke: transparent;
    opacity: 0;
  }

  &:not(.hidden) {
    cursor: pointer;
    stroke: transparent;
    opacity: 0.5;

    &:hover {
      stroke: var(--react-autoql-accent-color) !important;
      stroke-width: 1px !important;
    }
  }
}
.axis-scaler-border {
  cursor: pointer;
  stroke: transparent;
  opacity: 0.5;

  &:hover {
    stroke: var(--react-autoql-accent-color);
  }
}

.react-autoql-axis-selector-arrow {
  opacity: 1 !important;
}

.axis-sort-icon {
  opacity: 1 !important;
  cursor: pointer;
  pointer-events: all;
  font-weight: 700;
}

.drilldown-info-icon,
.max-rows-info-icon {
  stroke: currentColor;
  stroke-width: 0;
}

.drilldown-info-icon {
  fill: var(--react-autoql-info-color);
}

.max-rows-info-icon {
  fill: var(--react-autoql-warning-color);
}

.number-axis-selector-popover {
  max-height: 65vh;
  display: flex;
  overflow: hidden;
  flex: 1;

  .number-axis-selector-popover-content {
    display: flex;
    flex-direction: column;
    background: var(--react-autoql-background-color-secondary);
    color: var(--react-autoql-text-color-primary);
    padding: 10px;
    z-index: 9999;
    flex: 1;

    h4 {
      margin: 0;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    .number-selector-list-checkbox {
      margin-left: 10px;
    }

    .number-selector-field-group-container {
      white-space: nowrap;

      .number-selector-field-group {
        display: inline-block;
        vertical-align: top;
        padding: 4px;
      }
    }

    .axis-agg-type-selector {
      width: 175px;
      border-left: 1px solid var(--react-autoql-border-color);
      padding: 10px 20px;

      .agg-type-selector-fields {
        font-size: 12px;
        font-style: italic;
      }

      .react-autoql-radio-btn-container-list {
        p {
          font-size: 12px;
          margin: 4px 0px;

          [type='radio']:checked + label,
          [type='radio']:not(:checked) + label {
            padding-left: 22px;
            line-height: 17px;

            &:before {
              width: 15px;
              height: 15px;
            }

            &:after {
              width: 9px;
              height: 9px;
            }
          }
        }
      }
    }

    .axis-select-option.active {
      background: var(--react-autoql-hover-color);
      outline: none !important;
    }
    .react-autoql-list-item .react-autoql-checkbox {
      margin-left: 20px;
    }
    .react-autoql-checkbox__input {
      width: 16px;
      height: 16px;
    }
    .react-autoql-list-item {
      padding: 0;
      padding-right: 10px;
      font-size: 12px;
      line-height: 25px;
      cursor: default;

      &.checked {
        .agg-type-symbol,
        .agg-select-text {
          color: var(--react-autoql-accent-color);
          font-weight: 600;
        }
      }

      .agg-selector-column-item {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        overflow: hidden;
        flex: 1;

        padding: 4px 8px;
        padding-right: 0;

        .agg-select-text {
          flex: 1;

          span {
            white-space: normal;
          }
        }

        .agg-type-symbol {
          flex: 0 0 auto;
          padding: 0;
        }
      }
    }

    .number-selector-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      padding: 10px;
      font-size: 12px;
      border-bottom: 1px solid var(--react-autoql-border-color);
      background: var(--react-autoql-background-color-primary);

      .number-selector-header-title {
        font-weight: 600;
        svg {
          stroke-width: 0.5px;
        }
      }
    }

    .axis-series-selector {
      flex: 1;
      overflow: auto;

      .number-selector-field-group-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .number-selector-field-group {
          flex: 1;
        }
      }

      .react-autoql-selectable-list {
        margin-bottom: 10px;
      }
    }

    .agg-type-symbol .react-autoql-select {
      font-weight: 600;
      font-size: 12px;
      height: 26px;
      line-height: 25px;
      padding: 0 8px;
      margin-right: 10px;
    }
  }

  .axis-selector-apply-btn-container {
    flex: 0 0 auto;
    padding-top: 10px;

    .axis-selector-apply-btn {
      margin: 0;
      width: 100%;
    }
  }
}

.agg-select-list-symbol {
  font-weight: 600;
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  text-align: center;

  .react-autoql-icon {
    margin-right: 0 !important;
  }
}

.agg-type-symbol-select {
  margin: 0;

  .react-autoql-select-popup-container {
    .react-autoql-menu {
      max-height: 150px;
    }

    li {
      font-size: 12px;
      padding: 5px 15px;
    }
  }
}

.axis-selector-content {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;

  li {
    color: var(--react-autoql-text-color-primary);
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}
.mobile-string-axis-selector-popover-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: var(--react-autoql-background-color-secondary);
  color: var(--react-autoql-text-color-primary);
  padding: 5px;
  z-index: 9999;
  min-width: 45vw;
  .string-select-list-item {
    font-size: 12px;
    line-height: 28px;

    &.active {
      background: var(--react-autoql-accent-color);
      color: var(--react-autoql-text-color-accent);
    }
  }
}
.string-axis-selector-popover-content {
  display: flex;
  flex-direction: column;
  background: var(--react-autoql-background-color-secondary);
  color: var(--react-autoql-text-color-primary);
  padding: 5px;
  z-index: 9999;
  max-height: 300px;

  .string-select-list-item {
    font-size: 12px;
    line-height: 28px;

    &.active {
      background: var(--react-autoql-accent-color);
      color: var(--react-autoql-text-color-accent);
    }
  }
}

g.legendOrdinal {
  text,
  tspan {
    font-size: inherit;
  }
}

g.legendOrdinal .legendTitle tspan {
  letter-spacing: 0.04em !important;
  cursor: default;
}

.react-autoql-popover-mobile .number-selector-field-group-container {
  flex-direction: column !important;
}
