.loading-container-centered {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.response-loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.response-loading div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #e2e2e2;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.response-loading div:nth-child(1) {
  left: 6px;
  animation: response-loading1 0.6s infinite;
}
.response-loading div:nth-child(2) {
  left: 6px;
  animation: response-loading2 0.6s infinite;
}
.response-loading div:nth-child(3) {
  left: 26px;
  animation: response-loading2 0.6s infinite;
}
.response-loading div:nth-child(4) {
  left: 45px;
  animation: response-loading3 0.6s infinite;
}
