.filter-lock-menu {
  z-index: 99999 !important;
  top: -4px !important;
  min-width: 450px;
  max-width: 95vw;
  min-height: 0px;
  max-height: 95vh;
  height: 350px;
  padding: 10px;

  .filter-lock-menu-content-container {
    background: var(--react-autoql-background-color-primary);
    color: var(--react-autoql-text-color-primary);
    box-shadow: 0px 0 8px rgba(0, 0, 0, 0.15);
    transition: opacity 0.1s ease 0s !important;
    border: 1px solid #ababab52;
    padding: 0 !important;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    opacity: 1;
  }

  .filter-lock-menu-popover-arrow {
    border-bottom: 10px solid var(--react-autoql-border-color) !important;
    top: 1px !important;
    opacity: 1;

    &::after {
      content: '';
      position: absolute;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 9px solid var(--react-autoql-background-color-primary);
      top: 1px;
      left: -9px;
    }
  }

  .filter-lock-toast-container {
    top: 0;
    position: absolute;
    max-width: calc(100% - 36px);
    padding: 10px;
    font-size: 14px;

    .Toastify__toast {
      min-height: 48px;
    }

    .Toastify__toast-body {
      justify-content: center;
    }

    .Toastify__toast-body > div:last-child {
      flex: unset;
    }
  }

  .include-exclude-toggle-group {
    height: 23px;
    font-size: 12px;
    font-weight: 200;

    .react-autoql-radio-btn.active {
      background-color: var(--react-autoql-border-color);
    }

    :first-child.react-autoql-radio-btn {
      &:hover,
      &.active {
        color: var(--react-autoql-accent-color);
        border-color: var(--react-autoql-accent-color);
      }
    }

    :nth-child(2).react-autoql-radio-btn {
      &:hover,
      &.active {
        color: var(--react-autoql-danger-color);
        border-color: var(--react-autoql-danger-color);
      }
    }
  }
}

.filter-lock-menu-content {
  padding: 15px 0 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  &.closed {
    opacity: 0;
  }

  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--react-autoql-text-color-primary);
  }

  h4 {
    margin-top: 3px;
    margin-bottom: 5px;
    color: var(--react-autoql-text-color-primary);
  }

  .react-autoql-filter-lock-list-loading-container,
  .react-autoql-empty-filter-list {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    padding-right: 20px;
    padding-bottom: 45px;
  }

  .react-autoql-filter-lock-list-loading-container,
  .react-autoql-empty-filter-list,
  .react-autoql-filter-list-container {
    flex: 1;
  }

  .filter-lock-menu-header {
    flex: 0;
    width: 100%;
    display: flex;
    align-items: center;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 15px;
    box-sizing: border-box;
    padding-right: 15px;

    .filter-locking-close-btn {
      border: none;
      margin: 0;
      padding: 0;
      font-size: 20px;
    }

    .filter-locking-saving-indicator {
      display: inline-block;
      font-weight: 400;
      font-size: 14px;
      padding-right: 20px;
      color: var(--react-autoql-accent-color);
    }
  }
  .filter-lock-menu-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .react-autoql-filter-list-container {
    margin-top: 15px;
    margin-right: 0;
    overflow: hidden;

    .react-autoql-filter-list-title {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 4px;

      .filter-lock-category-title {
        padding-right: 10px;
        padding-top: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .filter-name-column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        max-width: calc(100% - 100px);
        flex: 1;
      }

      .persist-toggle-column {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex: 0 0 auto;
        margin-right: 40px;

        .react-autoql-icon {
          margin-left: 3px;
        }
      }
    }

    .react-autoql-filter-list-item-container {
      margin-bottom: 10px;
      margin-right: 0px;

      .react-autoql-filter-list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;

        padding-right: 10px;
        margin-bottom: 1px;
        margin-top: 1px;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 5px;
        margin-right: 10px;

        .react-autoql-filter-list-item-filter {
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 5px;
        }
        .react-autoql-filter-list-item-actions {
          white-space: nowrap;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .persist-toggle {
          margin: 0 25px;
        }
        .react-autoql-remove-filter-icon {
          cursor: pointer;

          &:hover {
            color: var(--react-autoql-danger-color);
          }
        }
        &.react-autoql-highlight-row {
          background-color: var(--react-autoql-accent-color);
          color: var(--react-autoql-accent-text-color);
          animation-name: highlightIn, highlightOut;
          animation-duration: 300ms, 300ms;
          animation-delay: 0ms, 1000ms;
          animation-timing-function: ease-in, ease-out;
          animation-iteration-count: 1, 1;
        }
      }
    }
  }

  .react-autoql-filter-locking-input {
    padding: 5px;
    padding-left: 20px;
    height: 32px;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 12px;
    font-family: inherit;
    letter-spacing: 0.04em;
    outline: none !important;
    width: 100%;
    font-family: inherit;
    border: 1px solid var(--react-autoql-border-color, rgba(0, 0, 0, 0.1));
    background: var(--react-autoql-background-color-primary);
    color: var(--react-autoql-text-color-primary);

    &:hover {
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    }

    &::placeholder {
      color: rgba(var(--react-autoql-text-color-placeholder), 2) !important;
      opacity: 0.5;
    }
  }

  // ------------------- Autocomplete styles -------------------
  .react-autosuggest__container {
    margin-right: 20px;
  }
  .react-autosuggest__container--open {
    position: relative;

    .react-autosuggest__suggestions-container--open {
      background-color: var(--react-autoql-background-color-primary);
      border: 1px solid var(--react-autoql-border-color);
      color: var(--react-autoql-text-color-primary);
      position: absolute;
      padding: 10px 0;
      display: block;
      font-family: inherit;
      font-size: 15px;
      font-weight: normal;
      z-index: 2;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);
      text-align: left;
      border-radius: 4px;
      width: 100%;
      height: auto;
      max-height: calc(90vh - 180px);
      box-sizing: border-box;
      overflow: hidden;

      .filter-lock-suggestion-item {
        cursor: pointer;
        width: 100%;
        letter-spacing: 0.05em;
        line-height: 22.5px;
        padding: 0px 20px 3px 20px;
        box-sizing: border-box;
        line-height: inherit;
        margin-bottom: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .react-autosuggest__suggestion {
        color: var(--react-autoql-text-color-primary);
      }
      .react-autosuggest__suggestions-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      .react-autosuggest__suggestion--highlighted {
        background-color: rgba(0, 0, 0, 0.1) !important;
      }
      .react-autosuggest__section-title {
        padding-left: 15px;
        font-size: 12px;
        color: var(--react-autoql-text-color-placeholder);
      }
      .filter-locking-no-suggestions-text {
        padding-left: 8px;
        font-size: 14px;
      }
    }
  }
  // ------------------------------------------------------------------------
}

@keyframes highlightOut {
  100% {
    background-color: var(--react-autoql-background-color-primary);
    color: var(--react-autoql-text-color-primary);
  }
  0% {
    background-color: var(--react-autoql-accent-color);
    color: var(--react-autoql-accent-text-color);
  }
}
@keyframes highlightIn {
  100% {
    background-color: var(--react-autoql-accent-color);
    color: var(--react-autoql-accent-text-color);
    opacity: 0.8;
  }
  0% {
    background-color: var(--react-autoql-background-color-primary);
    color: var(--react-autoql-text-color-primary);
    opacity: 1;
  }
}
