.chata-modal-container {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  /* transition: opacity 0.2s ease 0s !important; */
  /* backface-visibility: hidden; */
  transition: none !important;
  /* overflow: hidden; */
}

.chata-modal {
  display: flex;
  flex-direction: column;

  background: white;
  border-radius: 4px;
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);

  margin: 100px auto;
  width: 500px;
  height: calc(100vh - 90px);
  max-width: 90vw;
  max-height: calc(100vh - 90px);

  animation: createBox 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  /* the animation below is bouncy */
  /* animation: createBox 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.chata-modal-header {
  position: relative;
  text-align: center;
  flex: 0 0 52px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 14px 60px;
  font-size: 16px;
}
.chata-modal-footer {
  position: relative;
  flex: 0 0 52px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-align: right;
  padding: 8px 10px;
}

.chata-modal-body {
  display: flex;
  flex-direction: column;

  padding: 25px;
  flex: 1;
  overflow: hidden;
}

.chata-modal-close-btn {
  position: absolute;
  top: 16px;
  right: 18px;
  font-size: 22px;
  opacity: 0.6;
  cursor: pointer;
}
.chata-modal-close-btn:hover {
  opacity: 1;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
