.ReactModal__Overlay {
  background-color: transparent !important;
  transition: background-color 0.2s ease-in-out;
  z-index: 9999;
}
.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
.ReactModal__Overlay--before-close {
  background-color: transparent !important;
}
.ReactModal__Content {
  display: flex;
  flex-direction: column;
  overflow: hidden !important;

  transform: scale(0);
  transition: all 0.2s ease-in-out;

  color: var(--react-autoql-text-color-primary);
  border: 1px solid var(--react-autoql-border-color) !important;
  background: var(--react-autoql-background-color-secondary) !important;
  box-shadow: 0 0 14px 1px var(--react-autoql-box-shadow-color, rgba(0, 0, 0, 0.15));
  padding: 0 !important;

  margin: auto auto;
  max-width: 90vw;
  max-height: calc(100vh - 90px);

  input.react-autoql-input,
  textarea.react-autoql-input,
  textarea {
    border-color: var(--react-autoql-border-color);
    color: var(--react-autoql-text-color-primary);
    background: var(--react-autoql-background-color-secondary, white);

    &::placeholder {
      color: var(--react-autoql-text-color-placeholder);
    }
  }
}
.ReactModal__Overlay--after-open .ReactModal__Content {
  transform: scale(1);
}
.ReactModal__Overlay--before-close .ReactModal__Content {
  transform: scale(0);
}

.react-autoql-modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.react-autoql-modal-header {
  position: relative;
  text-align: center;
  flex: 0 0 52px;
  border-bottom: 1px solid var(--react-autoql-border-color, rgba(0, 0, 0, 0.05));
  padding: 14px 60px;
  font-size: 16px;
}
.react-autoql-modal-footer {
  position: relative;
  flex: 0 0 52px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-align: right;
  padding: 8px 10px;
}
.react-autoql-modal-body {
  h3 {
    color: var(--react-autoql-text-color-primary);
  }
  display: flex;
  flex-direction: column;

  padding: 20px 10px;
  flex: 1;
}
.react-autoql-modal-close-btn {
  position: absolute !important;
  top: 10px;
  right: 18px;
  font-size: 22px;
  opacity: 0.6 !important;
  cursor: pointer;
}
.react-autoql-modal-close-btn:hover {
  opacity: 1 !important;
}
