.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  transition: background-color 0.2s ease-in-out;
  z-index: 9999;
}
.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
.ReactModal__Overlay--before-close {
  background-color: transparent !important;
}
.ReactModal__Content {
  position: initial !important;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;

  opacity: 0;
  transform: scale(50%);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;

  color: var(--react-autoql-text-color-primary);
  background: var(--react-autoql-background-color-secondary) !important;
  box-shadow: 0 0 14px 1px var(--react-autoql-box-shadow-color, rgba(0, 0, 0, 0.15));
  border: 1px solid var(--react-autoql-border-color) !important;
  border-radius: 4px !important;
  outline: none !important;

  padding: 0 !important;

  margin-top: 20px;
  margin-bottom: 30px;
  max-width: calc(100vw - 160px);
  max-height: calc(100vh - 40px);

  input.react-autoql-input,
  textarea.react-autoql-input,
  textarea {
    border-color: var(--react-autoql-border-color);
    color: var(--react-autoql-text-color-primary);
    background: var(--react-autoql-background-color-secondary, white);

    &::placeholder {
      color: var(--react-autoql-text-color-placeholder);
    }
  }

  hr {
    border-top: 1px solid var(--react-autoql-border-color);
    border-bottom: none;
    opacity: 0.5;
    margin: 2px 0px;
  }
}
@media (max-width: 479px) {
  .ReactModal__Content {
    position: initial !important;
    display: flex;
    flex-direction: column;
    overflow: hidden !important;

    opacity: 0;
    transform: scale(50%);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;

    color: var(--react-autoql-text-color-primary);
    background: var(--react-autoql-background-color-secondary) !important;
    box-shadow: 0 0 14px 1px var(--react-autoql-box-shadow-color, rgba(0, 0, 0, 0.15));
    border: 1px solid var(--react-autoql-border-color) !important;
    border-radius: 4px !important;
    outline: none !important;

    padding: 0 !important;

    margin-top: 20px;
    margin-bottom: 30px;
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 40px);

    input.react-autoql-input,
    textarea.react-autoql-input,
    textarea {
      border-color: var(--react-autoql-border-color);
      color: var(--react-autoql-text-color-primary);
      background: var(--react-autoql-background-color-secondary, white);

      &::placeholder {
        color: var(--react-autoql-text-color-placeholder);
      }
    }
  }
}

.ReactModal__Overlay--after-open .ReactModal__Content {
  transform: scale(1);
  opacity: 1;
}
.ReactModal__Overlay--before-close .ReactModal__Content {
  transform: scale(50%);
  opacity: 0;
}

.react-autoql-modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.react-autoql-modal-mobile {
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  top: 0;
  position: fixed !important;
  left: 0;
  border: none !important;
  border-radius: 0 !important;

  .react-autoql-modal-body {
    padding: 20px 10px;
  }
}

.react-autoql-modal-header {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid var(--react-autoql-border-color, rgba(0, 0, 0, 0.05));

  .react-autoql-modal-header-title-container {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
  }

  .react-autoql-modal-header-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    margin-left: 20px;
    font-weight: 600;

    .react-autoql-icon {
      margin-right: 5px;
    }
  }

  .react-autoql-modal-header-subtitle {
    font-size: 14px;
  }
}
.react-autoql-modal-footer {
  position: relative;
  flex: 0 0 52px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-align: right;
  padding: 8px 10px;
}
.react-autoql-modal-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  display: block;
  padding: 10px 20px;
  overflow: auto;

  h3 {
    color: var(--react-autoql-text-color-primary);
  }

  @include sm {
    flex: unset;
    flex-direction: unset;
  }
}
.react-autoql-modal-close-btn {
  flex: 0;
  font-size: 22px;
  margin: 16px;
  opacity: 0.6 !important;
  cursor: pointer;
  box-sizing: content-box;
}
.react-autoql-modal-close-btn:hover {
  opacity: 1 !important;
}
