.notification-list-loading-container {
  text-align: center;
  padding-top: 100px;
  color: var(--react-autoql-notifications-text-color-primary);
  height: 100%;
  overflow: hidden;
  background: var(--react-autoql-notifications-background-color-secondary);
}

.react-autoql-notification-list-container {
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  background: var(--react-autoql-notifications-background-color-secondary);
}

.react-autoql-notification-dismiss-all {
  text-align: right;
  margin-bottom: 12px;
  padding-right: 10px;
  color: var(
    --react-autoql-notifications-text-color-primary,
    rgba(0, 0, 0, 0.4)
  );
  transition: color 0.1s ease;

  span {
    opacity: 0.8;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

// Edit Modal
.react-autoql-notification-display-name-input {
  width: 100%;
  // max-width: 400px;
}
.react-autoql-notification-message-input {
  width: 100%;
}

// Set delay per List Item
@for $i from 0 through 10 {
  .react-autoql-notification-list-item:nth-of-type(#{$i}) {
    animation-delay: 0.1s * $i;
  }
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    top: 500px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
