.notification-list-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  color: inherit;
  height: 100%;
}

.empty-notifications-message {
  color: inherit;
  text-align: center;
  margin-top: 75px;

  div {
    opacity: 0.6;
  }

  .empty-notifications-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .empty-notifications-img {
    width: 250px;
    height: 250px;
  }
}

.react-autoql-notification-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: var(--react-autoql-font-family), sans-serif;
  color: var(--react-autoql-text-color-primary);

  .notification-feed-list {
    padding: 2px;
    padding-right: 12px;
    padding-bottom: 10px;
    overflow: hidden;
  }
  .notification-item-container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .notification-item-checkbox {
    padding-right: 5px;
  }
}

.react-autoql-notification-list-container.mobile {
  .notification-feed-list {
    padding: 0 10px;
  }
}

.notification-feed-top-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px 13px 8px;
  flex: 0;

  .react-autoql-notification-delete-all,
  .react-autoql-notification-mark-all {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    color: inherit;
    transition: color 0.1s ease;
    opacity: 0.8;
    cursor: pointer;

    .react-autoql-icon {
      margin-right: 6px;
      margin-bottom: 3px;
    }

    &:hover {
      opacity: 1;
    }
  }
  .react-autoql-notification-delete-all {
    @media (max-width: 350px) {
      margin-right: 30px;
    }
  }
  .react-autoql-notification-select-button,
  .react-autoql-notification-delete {
    padding-right: 10px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    color: inherit;
    transition: color 0.1s ease;
    opacity: 0.8;
    cursor: pointer;

    .react-autoql-icon {
      margin-right: 6px;
      margin-bottom: 3px;
    }

    &:hover {
      opacity: 1;
    }
  }
  .react-autoql-notification-delete.disable {
    opacity: 0.4;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
  .react-autoql-notification-select-container {
    display: flex;
  }
}
