.notification-list-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  color: inherit;
  height: 100%;
  background: var(--react-autoql-background-color-primary);
}

.empty-notifications-message {
  color: inherit;
  text-align: center;
  margin-top: 75px;

  div {
    opacity: 0.6;
  }

  .empty-notifications-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .empty-notifications-img {
    width: 250px;
    height: 250px;
  }
}

.react-autoql-notification-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--react-autoql-background-color-primary);
  font-family: var(--react-autoql-font-family), sans-serif;
  color: var(--react-autoql-text-color-primary);

  .notification-feed-list {
    padding: 0 20px;
    padding-top: 0;
  }
}

.notification-feed-top-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px 22px 8px 22px;
  flex: 0;

  .react-autoql-notification-delete-all,
  .react-autoql-notification-mark-all {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    color: inherit;
    transition: color 0.1s ease;
    opacity: 0.8;
    cursor: pointer;

    .react-autoql-icon {
      margin-right: 6px;
      margin-bottom: 3px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
