.react-autoql-chart-container {
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  color: var(--react-autoql-text-color-primary);
  background: var(--react-autoql-background-color-secondary);

  svg {
    // set transparent in css but keep background in inline style for exporting to png
    background: transparent !important;
  }

  transition: opacity 0.2s ease;
  &.loading {
    opacity: 0;
    transition: none;
  }

  /* These are not inline styles since they do not apply to saved PNG charts */
  .bar,
  .column,
  .line,
  .slice,
  .stacked-area,
  .stacked-bar,
  .stacked-column,
  .swatch {
    transition: fill-opacity 0.3s ease;
    fill-opacity: 1 !important;
    outline: none !important;
    &:hover,
    &.active {
      fill-opacity: 0.7 !important;
    }
  }
  .line-dot,
  .vertex-dot {
    transition: opacity 0.3s ease;
    opacity: 0 !important;
    outline: none !important;
    &:hover,
    &.active {
      opacity: 1 !important;
    }
  }
  .square {
    transition: fill 0.2s ease;
    outline: none !important;
    &:hover,
    &.active {
      stroke-opacity: 0.5;
      stroke: currentColor;
      stroke-width: 1px;
      fill: currentColor;
    }
  }

  .circle {
    transition: fill-opacity 0.2s ease;
    fill-opacity: 0.7;
    outline: none !important;
    &:hover,
    &.active {
      fill-opacity: 1 !important;
    }
  }

  g.tick {
    transition: opacity 0.3s ease;
  }

  .react-autoql-heatmap-chart g.tick line,
  .react-autoql-bubble-chart g.tick line {
    opacity: 0 !important; // we need to render the tick lines so the bounding box calcs are correct. But we dont want to see them
  }

  .axis {
    font-family: inherit;
  }

  .pie-chart .labels {
    font-size: 12px;
    font-weight: 600;
  }
}

.axis-selector-container {
  background: var(--react-autoql-background-color-secondary);
  color: var(--react-autoql-text-color-primary);
  z-index: 9999;
  min-width: 150px;
  display: flex;
  flex-direction: row;

  h4 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .axis-agg-type-selector {
    width: 175px;
    border-left: 1px solid var(--react-autoql-border-color);
    padding: 10px 20px;

    .agg-type-selector-fields {
      font-size: 12px;
      font-style: italic;
    }

    .react-autoql-radio-btn-container-list {
      p {
        font-size: 12px;
        margin: 4px 0px;

        [type='radio']:checked + label,
        [type='radio']:not(:checked) + label {
          padding-left: 22px;
          line-height: 17px;

          &:before {
            width: 15px;
            height: 15px;
          }

          &:after {
            width: 9px;
            height: 9px;
          }
        }
      }
    }
  }

  .axis-select-option.active {
    background: var(--react-autoql-hover-color);
    outline: none !important;
  }
  .react-autoql-list-item .react-autoql-checkbox {
    margin-left: 20px;
  }
  .react-autoql-checkbox-tick {
    left: 2px;
  }
  .react-autoql-checkbox__input {
    width: 16px;
    height: 16px;
  }
  .react-autoql-list-item {
    padding: 0;
    padding-left: 12px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;

    &.checked .agg-type-symbol {
      color: var(--react-autoql-accent-color);
      font-weight: 600;
    }
  }

  .string-select-list-item {
    font-size: 12px;
    line-height: 28px;

    &.active {
      background: rgba(0, 0, 0, 0.04);
    }
  }

  .number-selector-header {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    margin-right: 8px;
    font-size: 12px;
    border-bottom: 1px solid var(--react-autoql-border-color);
    background: var(--react-autoql-background-color-primary);

    .number-selector-header-title {
      font-weight: 600;
      svg {
        stroke-width: 0.5px;
      }
    }
  }

  .axis-series-selector {
    padding: 10px 8px 5px 20px;

    .react-autoql-selectable-list {
      padding-right: 8px;
      margin-bottom: 10px;
    }

    .agg-type-symbol {
      display: inline-block;
      width: 20px;
    }
  }

  .axis-selector-content {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      color: var(--react-autoql-text-color-primary);
      width: 100%;
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
    }
  }
}

.axis-selector-apply-btn {
  background: var(--react-autoql-background-color-secondary);
  padding: 5px;
}

.chart-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0.6;
  background-color: var(--react-autoql-background-color-primary);
  color: var(--react-autoql-accent-color);
  border-radius: 10%;

  &.chart-page-loader {
    top: 25%;
    bottom: 0;
    right: 0;
    left: 50%;
    width: 40px;
    height: 40px;
  }
}
