.chata-steps-container {
  margin: 10px;
}

.chata-step-container {
  position: relative;
  border-left: 1px solid lightgray;
  margin-left: 12px;
  padding-left: 20px;
  padding-bottom: 5px;
  transition: all 0.5s ease;

  &.complete {
    border-color: var(--chata-messenger-accent-color, #26a7df);
    .chata-step-dot {
      border-color: var(--chata-messenger-accent-color, #26a7df);
      background: var(--chata-messenger-accent-color, #26a7df);
      color: white;
    }
  }

  &:not(.active) .chata-step-content-container {
    pointer-events: none;
    height: 10px;
    opacity: 0;
    margin: 0;
  }
}

.chata-step-dot {
  position: absolute;
  top: 0;
  left: -10px;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: white;
  border: 1px solid lightgray;
  transition: all 0.5s ease;

  font-size: 10.5px;
  color: lightgray;
  text-align: center;
}

.chata-step-title-container {
  cursor: pointer;
}

.chata-step-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  padding-top: 2px;
}

.chata-step-subtitle {
  font-size: 13px;
  padding-top: 6px;
  color: rgba(0, 0, 0, 0.4);
}
.chata-step-content {
  margin: 15px;
}
.chata-step-content-container {
  transition-timing-function: ease;
  transition-property: height, opacity, margin;
  transition-duration: 0.5s;

  opacity: 1;
}
