.chata-steps-container {
  margin: 10px;
}

.chata-step-container {
  position: relative;
  border-left: 1px solid lightgray;
  margin-left: 10px;
  padding-left: 25px;
  // padding-bottom: 20px;
  transition: all 0.5s ease;

  &.complete {
    border-color: var(--chata-drawer-accent-color);
    .chata-step-dot {
      border-color: var(--chata-drawer-accent-color);
      background: var(--chata-drawer-accent-color);
    }
  }
}

.chata-step-dot {
  position: absolute;
  top: 0;
  left: -8px;
  height: 15px;
  width: 15px;
  background: white;
  border-radius: 8px;
  border: 1px solid lightgray;
  transition: all 0.5s ease;
}

.chata-step-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  // margin-bottom: 15px;
}

.chata-step-subtitle {
  font-size: 13px;
  margin-top: 6px;
  color: rgba(0, 0, 0, 0.4);
}

.chata-step-content {
  padding: 15px;
  padding-bottom: 25px;
}
