.react-autoql-toolbar-mobile.viz-toolbar {
  display: flex;
  flex-direction: row;
  background: inherit;
  padding: 5px;
  border-radius: 6px;
  line-height: 28px;
  background: var(--react-autoql-background-color-secondary);
  border: 1px solid var(--react-autoql-border-color);
  box-shadow: 0px 2px 3px -2px var(--react-autoql-box-shadow-color);

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap;
  max-width: 75vw;

  scrollbar-width: thin;
  &::-webkit-scrollbar {
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--react-autoql-accent-color, rgba(38, 167, 223, 0.5));
    border-radius: 3px;
  }

  .react-autoql-toolbar-btn {
    flex: 0 0 auto;
  }

  &.vertical {
    flex-direction: column;
  }
}

.viz-toolbar {
  display: flex;
  flex-direction: row;
  background: inherit;
  padding: 5px;
  border-radius: 6px;
  line-height: 28px;
  background: var(--react-autoql-background-color-secondary);
  border: 1px solid var(--react-autoql-border-color);
  box-shadow: 0px 2px 3px -2px var(--react-autoql-box-shadow-color);

  &.vertical {
    flex-direction: column;
  }
}

.react-autoql-toolbar {
  .react-autoql-btn.react-autoql-toolbar-btn {
    height: 28px;
    width: 28px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    padding: 0 !important;
    margin: 0 !important;

    background: none !important;
    border: none !important;
    outline: none !important;
    font-size: 16px;
    color: var(--react-autoql-text-color-primary) !important;
    cursor: pointer;

    &.react-autoql-toolbar-btn-selected {
      color: var(--react-autoql-accent-color) !important;
    }
  }

  .react-autoql-toolbar-btn:hover {
    opacity: 0.7;
  }
}

/* Chart icon styles */
.chart-icon-svg-0,
.react-autoql-icon-svg-0 {
  fill: currentColor;
}
.react-autoql-icon-outlined {
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.hm0 {
  opacity: 0.5;
  fill: currentColor;
  enable-background: new;
}
.hm1 {
  fill: currentColor;
}
.hm2 {
  opacity: 0.15;
  fill: currentColor;
  enable-background: new;
}
.hm3 {
  opacity: 0.6;
  fill: currentColor;
  enable-background: new;
}
.hm4 {
  opacity: 0.65;
  fill: currentColor;
  enable-background: new;
}
.hm5 {
  fill: currentColor;
}
.hm6 {
  fill: currentColor;
}
