.react-autoql-month-range-picker {
  font-size: 12px;
  display: inline-flex;
  flex-direction: column;

  .react-autoql-month-picker-year {
    box-sizing: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 60px;
  }

  .year-picker {
    border: 0;
    padding: 10px 30px 10px 10px;
    border-radius: 4px;
    outline: 0;
    background: url('data:image/svg+xml;utf8,<svg width=%279px%27 height=%276px%27 viewBox=%270 0 9 6%27 version=%271.1%27 xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27><g id=%27Artboard%27 stroke=%27none%27 stroke-width=%271%27 fill=%27none%27 fill-rule=%27evenodd%27 transform=%27translate%28-636.000000, -171.000000%29%27 fill-opacity=%270.368716033%27><g id=%27input%27 transform=%27translate%28172.000000, 37.000000%29%27 fill=%27%230E242F%27 fill-rule=%27nonzero%27><g id=%27Group-9%27 transform=%27translate%28323.000000, 127.000000%29%27><path d=%27M142.280245,7.23952813 C141.987305,6.92353472 141.512432,6.92361662 141.219585,7.23971106 C140.926739,7.5558055 140.926815,8.06821394 141.219755,8.38420735 L145.498801,13 L149.780245,8.38162071 C150.073185,8.0656273 150.073261,7.55321886 149.780415,7.23712442 C149.487568,6.92102998 149.012695,6.92094808 148.719755,7.23694149 L145.498801,10.7113732 L142.280245,7.23952813 Z%27 id=%27arrow%27></path></g></g></g></svg>')
      no-repeat;
    background-position: right 8px center;
    cursor: pointer;
    text-align: center;
    color: var(--react-autoql-text-color-primary);
    appearance: none;

    &:hover {
      background-color: var(--react-autoql-border-color);
    }
  }
  .react-autoql-month-picker-month-picker {
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;

    .month-picker-row {
      display: flex;
      justify-content: center;
    }
    .month-picker-month {
      cursor: pointer;
      margin: 2px 0px;
      padding: 1px 0px;
      border-top: 1px solid var(--react-autoql-background-color-secondary);
      border-bottom: 1px solid var(--react-autoql-background-color-secondary);

      .month-picker-month-text-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 60px;
        height: 30px;
        border-radius: 100px;
      }

      &.preview {
        border-radius: 1px;
        border-top: 1px solid var(--react-autoql-accent-color);
        border-bottom: 1px solid var(--react-autoql-accent-color);

        &.preview-start {
          border-left: 1px solid var(--react-autoql-accent-color);
          margin-left: -1px;
          border-bottom-left-radius: 100px;
          border-top-left-radius: 100px;
          &.selection-start {
            padding-left: 1px;
            margin-left: -2px;
          }
        }

        &.preview-end {
          border-right: 1px solid var(--react-autoql-accent-color);
          margin-right: -1px;
          border-bottom-right-radius: 100px;
          border-top-right-radius: 100px;
          &.selection-end {
            padding-right: 1px;
            margin-right: -2px;
          }
        }
      }

      &.active {
        .month-picker-month-text-wrapper .month-picker-month-text {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          border-radius: 100px;
        }
        &:hover .month-picker-month-text-wrapper .month-picker-month-text {
          background: #ffffff2b;
        }

        .month-picker-month-text-wrapper {
          background-color: var(--react-autoql-accent-color);
          color: var(--react-autoql-text-color-accent);
          border-radius: 1px;
        }

        // &:first-child,
        &.selection-start {
          .month-picker-month-text-wrapper {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
          }
        }

        // &:last-child,
        &.selection-end {
          .month-picker-month-text-wrapper {
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
          }
        }
      }

      &.current-month {
        .month-picker-month-text-wrapper .month-picker-month-text:after {
          content: '';
          position: absolute;
          bottom: 3px;
          left: 50%;
          transform: translate(-50%, 0);
          width: 24px;
          height: 2px;
          border-radius: 2px;
          background: var(--react-autoql-accent-color);
        }
        &.active .month-picker-month-text-wrapper .month-picker-month-text:after {
          background: var(--react-autoql-text-color-accent);
        }
      }
    }
  }
}
