.chata-notifications-button-container {
  position: relative;
  // margin-right: 10px;

  .chata-notifications-button {
    // font-size: inherit;
    font-size: 17px;
    vertical-align: middle;
    line-height: inherit;
  }

  .chata-notifications-badge {
    border: 2px solid #fff;
    background: #f5222d;
    border-radius: 31px;
    position: absolute;
    top: 4px;
    left: 6px;
    height: 22px;
    line-height: 18px;
    color: white;
    font-size: 9px;
    padding: 0px 6px;
  }
}
