.content {
  margin: 2rem;
}

.react-autoql-checkbox-container {
  display: inline-block;
  vertical-align: middle;
}

.react-autoql-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  .react-autoql-checkbox--switch__input:checked,
  .react-autoql-checkbox__input:checked {
    &:not(:disabled) {
      border-color: var(--react-autoql-accent-color, #26a7df) !important;
      background: var(--react-autoql-accent-color, #26a7df);
    }
    &:disabled {
      border-color: var(--react-autoql-background-color-disabled-dark) !important;
      background: var(--react-autoql-background-color-disabled-dark);
    }
  }
}
.react-autoql-checkbox__label {
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  color: var(--react-autoql-text-color-accent);
  cursor: pointer;
}
.react-autoql-checkbox__input {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: var(--react-autoql-background-color-checkbox);
  border: 1px solid;
  border-radius: 2px;
  box-sizing: content-box;
  cursor: pointer;

  &:not(.react-autoql-checkbox--switch__input) {
    border-color: var(--react-autoql-accent-color, #26a7df);
  }
}
.react-autoql-checkbox__input::before {
  content: ' ';
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transition-property: color, border-color, background-color, opacity;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  background: var(--react-autoql-accent-color, #26a7df);
}

.react-autoql-checkbox-tick {
  position: absolute;
  color: var(--react-autoql-text-color-accent);
  pointer-events: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-autoql-checkbox--switch__input::before {
  box-shadow: 0 0 2px 1px #00000030;
}

.react-autoql-checkbox__input:checked::before,
.react-autoql-checkbox__input:indeterminate::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.react-autoql-checkbox__input:indeterminate::before {
  top: 7px;
  bottom: 7px;
}
.react-autoql-checkbox__input:disabled {
  border-color: var(--react-autoql-background-color-disabled-dark) !important;
  background: var(--react-autoql-background-color-disabled) !important;
  cursor: default;
}
.react-autoql-checkbox__input:disabled::before {
  background-color: var(--react-autoql-background-color-disabled-dark);
}
.react-autoql-checkbox__input:disabled + .react-autoql-checkbox__label {
  color: var(--react-autoql-background-color-disabled-dark);
  cursor: default;
}
.react-autoql-checkbox--has-error__input {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.2);
}
.react-autoql-checkbox--has-error__input::before {
  background-color: red;
}
.react-autoql-checkbox--switch__label::after {
  content: 'off';
  margin-left: 0.25rem;
}
.react-autoql-checkbox--switch__input {
  width: 36px;
  height: 20px;
  border-radius: 16px;
  background: var(--react-autoql-background-color-switch-input);
  border: 1px solid var(--react-autoql-background-color-switch-input);
}
.react-autoql-checkbox--switch__input::before {
  top: 2px;
  right: 18px;
  bottom: 2px;
  left: 2px;
  border-radius: 50%;
  background: #fff;
}
.react-autoql-checkbox--switch__input:checked + .react-autoql-checkbox--switch__label::after {
  content: 'on';
}
.react-autoql-checkbox--switch__input:checked::before {
  right: 2px;
  left: 18px;
  top: 2px;
  bottom: 2px;
}

.react-autoql-checkbox-label {
  padding-left: 6px;
  line-height: 100%;
}

.react-autoql-modal-container .react-autoql-checkbox__input:not(.react-autoql-checkbox--switch__input),
.react-autoql-drawer .react-autoql-checkbox__input:not(.react-autoql-checkbox--switch__input) {
  border-color: var(--react-autoql-accent-color);
  background: var(--react-autoql-background-color-secondary);
}

.react-autoql-modal-container .react-autoql-checkbox__input::before:not(.react-autoql-checkbox--switch__input),
.react-autoql-drawer .react-autoql-checkbox__input::before:not(.react-autoql-checkbox--switch__input) {
  background: var(--react-autoql-accent-color);
}
