.content {
  margin: 2rem;
}

.chata-checkbox {
  --accent-color: #26a7df;

  display: flex;
  align-items: center;
  margin: 0.5rem;
  // height: 100%;
  cursor: pointer;

  .chata-checkbox--switch__input:checked {
    border-color: var(--accent-color);
    background: var(--accent-color);
  }
}
.chata-checkbox__label {
  flex-shrink: 0;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
}
.chata-checkbox__input {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background: transparent;
  border: 1px solid;
  border-radius: 3px;

  cursor: pointer;
}
.chata-checkbox__input::before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transition: all 0.2s;
  background: #fff;
}

.chata-checkbox--switch__input::before {
  box-shadow: 0 0 2px 1px #00000030;
}

.chata-checkbox__input:checked::before,
.chata-checkbox__input:indeterminate::before {
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
}
.chata-checkbox__input:indeterminate::before {
  top: 7px;
  bottom: 7px;
}
.chata-checkbox__input:disabled {
  border-color: #5a5358;
  cursor: default;
}
.chata-checkbox__input:disabled::before {
  background-color: #5a5358;
}
.chata-checkbox__input:disabled + .chata-checkbox__label {
  color: gray;
  cursor: default;
}
.chata-checkbox--has-error__input {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.2);
}
.chata-checkbox--has-error__input::before {
  background-color: red;
}
.chata-checkbox--switch__label::after {
  content: "off";
  margin-left: 0.25rem;
}
.chata-checkbox--switch__input {
  width: 36px;
  height: 20px;
  // border: 2px solid #5a5358;
  border-radius: 16px;
  background: #cccccc;
  border: 1px solid #cccccc;
}
.chata-checkbox--switch__input::before {
  top: 2px;
  right: 18px;
  bottom: 2px;
  left: 2px;
  border-radius: 50%;
  background: #fff;
}
.chata-checkbox--switch__input:checked + .chata-checkbox--switch__label::after {
  content: "on";
}
.chata-checkbox--switch__input:checked::before {
  right: 2px;
  left: 18px;
}

.chata-checkbox-label {
  padding-left: 10px;
}
