@import url("https://fonts.googleapis.com/css?family=Titillium+Web:100,200,300,400,500,600,700,800,900");

.chata-drawer {
  font-family: "Titillium Web", sans-serif;
}

.chata-drawer-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--chata-drawer-background-color);
  flex-direction: column;
  justify-content: stretch;
}

.chat-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: var(--chata-drawer-accent-color);
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 1;
}
.chata-header-right-container {
  width: 100px;
}
.chata-header-center-container {
  color: #fff;
  line-height: 60px;
  font-size: 18px;
  letter-spacing: 0.05em;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chata-header-left-container {
  width: 100px;
}

.chat-message-container {
  max-height: calc(100% - 140px);
  overflow-y: auto;
  overflow-x: hidden;
  /* padding: 20px; */
  flex: 1;
}

.chat-bar-container {
  padding: 10px;
}

.chat-drawer-chat-bar {
  flex-shrink: 0;
  flex-grow: 0;
  height: 60px;
}

.chata-drawer:focus {
  outline: none;
}

/* response loading dots */
.response-loading-container {
  position: absolute;
  bottom: 45px;
  left: 20px;
}
.response-loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.response-loading div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  /* background: rgba(0, 0, 0, 0.2); */
  background: #e2e2e2;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.response-loading div:nth-child(1) {
  left: 6px;
  animation: response-loading1 0.6s infinite;
}
.response-loading div:nth-child(2) {
  left: 6px;
  animation: response-loading2 0.6s infinite;
}
.response-loading div:nth-child(3) {
  left: 26px;
  animation: response-loading2 0.6s infinite;
}
.response-loading div:nth-child(4) {
  left: 45px;
  animation: response-loading3 0.6s infinite;
}
.chat-header-container button {
  background: transparent;
  border: none;
  color: white;
  margin: 10px;
  margin-right: 0;
  font-size: 20px;
  cursor: pointer;
  outline: none !important;
}
.chat-header-container button:hover {
  opacity: 0.7;
}
.chat-header-container button svg {
  width: 35px;
  height: 35px;
}
.chata-drawer-tooltip {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.04em;
  /* font-weight: bold; */
  transition: all 0.2s ease;
}

/* custom scrollbar */
.chat-message-container > div:last-child {
  opacity: 0;
  transition: opacity 200ms ease;
}
.chat-message-container:hover > div:last-child {
  opacity: 1;
}

/* rc-drawer */
.drawer-content {
  background: white;
}
.drawer-handle {
  top: 72px;
  background: var(--chata-drawer-background-color);
}
.drawer-handle-icon,
.drawer-handle-icon::before,
.drawer-handle-icon::after {
  background: var(--chata-drawer-text-color-primary);
}
.drawer-bottom .drawer-content-wrapper,
.drawer-top .drawer-content-wrapper {
  left: 0;
}

/* animations */
@keyframes response-loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes response-loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes response-loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
