.chata-drawer {
  /* font-family: sans-serif; */
  font-family: var(--chata-drawer-font-family), sans-serif;
  line-height: 22px;
}

.chata-drawer .chata-drawer-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--chata-drawer-background-color);
  flex-direction: column;
  justify-content: stretch;
}

.chata-drawer .chat-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: var(--chata-drawer-accent-color);
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 1;
}
.chata-drawer .chata-header-right-container {
  display: flex;
  justify-content: right;
  width: 100px;
}
.chata-drawer .chata-header-center-container {
  position: relative;
  color: #fff;
  line-height: 60px;
  font-size: 18px;
  letter-spacing: 0.05em;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chata-drawer .chata-header-left-container {
  width: 100px;
}
.chata-drawer .chata-button.close svg {
  width: 30px;
  height: 30px;
  padding-top: 3px;
}
.chata-drawer .chata-button.clear-all {
  position: absolute;
  right: 10px;
}
.chata-drawer .chata-button.clear-all svg {
  width: 26px;
  height: 26px;
  padding-top: 8px;
  box-sizing: border-box;
}

.chata-drawer .chat-message-container {
  scroll-behavior: smooth !important;
  max-height: calc(100% - 140px);
  overflow-y: auto;
  overflow-x: hidden;
  /* padding: 20px; */
  flex: 1;
}

.chata-drawer .chat-bar-container {
  position: relative;
  padding: 10px;
  padding-top: 30px;
}

.chata-drawer .chat-drawer-chat-bar {
  flex-shrink: 0;
  flex-grow: 0;
  height: 60px;
}

.chata-drawer .watermark {
  position: absolute;
  color: var(--chata-drawer-text-color-primary);
  text-align: center;
  opacity: 0.2;
  top: 9px;
  width: calc(100% - 10px);
  font-size: 13px;
}

.chata-drawer .chata-drawer:focus {
  outline: none;
}

.chata-drawer .chat-header-container button {
  background: transparent;
  border: none;
  color: white;
  margin: 10px;
  margin-right: 0;
  font-size: 20px;
  cursor: pointer;
  outline: none !important;
}
.chata-drawer .chat-header-container button:hover {
  opacity: 0.7;
}
.chata-drawer .chat-header-container button svg {
  width: 35px;
  height: 35px;
}

/* custom scrollbar */
.chata-drawer .chat-message-container > div:last-child {
  opacity: 0;
  transition: opacity 200ms ease;
}
.chata-drawer .chat-message-container:hover > div:last-child {
  opacity: 1;
}

/* rc-drawer */
.chata-drawer .drawer-content {
  background: white;
}
.chata-drawer .drawer-handle {
  background: var(--chata-drawer-background-color);
  transition: opacity 0.5s ease;
  overflow: hidden;
}
.chata-drawer .drawer-handle.hide {
  opacity: 0;
  visibility: hidden;
}
.chata-drawer .drawer-handle-icon,
.chata-drawer .drawer-handle-icon::before,
.chata-drawer .drawer-handle-icon::after {
  background: var(--chata-drawer-text-color-primary);
}
.chata-drawer .drawer-bottom .drawer-content-wrapper,
.chata-drawer .drawer-top .drawer-content-wrapper {
  left: 0;
}
.chata-drawer .drawer-content-wrapper {
  max-height: 100vh !important;
  max-width: 100vw !important;
}

.chata-drawer .response-loading-container {
  position: absolute;
  bottom: 45px;
  left: 20px;
}

/* Autocomplete styles */
.chata-drawer
  .chata-bar-container
  .react-autosuggest__suggestions-container--open {
  background-color: var(--chata-drawer-background-color);
  border: 1px solid var(--chata-drawer-border-color);
  color: var(--chata-drawer-text-color-primary);
}
.chata-drawer .chata-bar-container .react-autosuggest__suggestion {
  color: var(--chata-drawer-text-color-primary);
}
.chata-drawer .chata-input {
  border: 1px solid var(--chata-drawer-border-color);
  color: var(--chata-drawer-text-color-primary);
}
.chata-drawer .chata-input::placeholder {
  color: var(--chata-drawer-text-color-placeholder);
}

/* Tooltips */
.chata-drawer-tooltip {
  font-family: var(--chata-drawer-font-family), sans-serif;
  letter-spacing: 0.04em;
  padding: 7px 15px;
  transition: none;
  opacity: 1 !important;
  z-index: 99999 !important; /* necessary to show up on top of rc drawer */
}
.interpretation-tooltip {
  font-family: var(--chata-drawer-font-family), sans-serif;
  font-size: 12px;
  text-align: left;
  letter-spacing: 0.04em;
  padding: 7px 15px;
  max-width: 400px;
  opacity: 1 !important;
  transition: none;
  z-index: 99999 !important; /* necessary to show up on top of rc drawer */
}

.react-tiny-popover-container {
  z-index: 9999;
  border: 1px solid #ababab52;
  border-radius: 4px;
  box-shadow: 0px 0 8px rgba(0, 0, 0, 0.15);
}

.clear-messages-confirm-popover {
  color: var(--chata-drawer-text-color-primary);
  padding: 20px;
  background: var(--chata-drawer-background-color);
  text-align: right;
  padding: 18px;
  width: 185px;
}
.chata-confirm-text {
  text-align: center;
}
.chata-confirm-btn {
  margin: 7px 0px 0 5px;
  border-radius: 4px;
  cursor: pointer;
  outline: none !important;
  transition: all 0.2s ease;
}
.chata-confirm-btn.yes {
  background: var(--chata-drawer-accent-color);
  border-color: var(--chata-drawer-accent-color);
  color: white;
}
.chata-confirm-btn.yes:hover {
  opacity: 0.8;
}
.chata-confirm-btn.no {
  color: inherit;
  border-color: #a7a7a7;
  background: inherit;
}
.chata-confirm-btn.no:hover {
  border-color: var(--chata-drawer-accent-color);
  color: var(--chata-drawer-accent-color);
}
.chata-confirm-icon {
  color: #faad14;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
}

/* Safetynet styles */
/* .chata-drawer .chata-safetynet-select {
  color: var(--chata-drawer-accent-color);
}
.chata-drawer .chata-safety-net-execute-btn:hover {
  border-color: var(--chata-drawer-accent-color);
}
.chata-drawer .chata-execute-query-icon {
  fill: var(--chata-drawer-accent-color);
} */

/* animations */
@keyframes response-loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes response-loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes response-loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
