.chata-drawer {
  /* font-family: sans-serif; */
  font-family: var(--chata-drawer-font-family), sans-serif;
  line-height: 22px;
}

.chata-drawer .chata-drawer-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--chata-drawer-background-color);
  overflow: hidden;
  border-radius: 4px;
  flex-direction: column;
  justify-content: stretch;
}

.chata-drawer .chat-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: var(--chata-drawer-accent-color);
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.2);
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 1;
}
.chata-drawer .chata-header-right-container {
  display: flex;
  justify-content: right;
  width: 100px;
}
.chata-drawer .chata-header-center-container {
  position: relative;
  color: #fff;
  line-height: 60px;
  font-size: 18px;
  letter-spacing: 0.05em;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chata-drawer .header-title {
  animation: fadeIn 0.3s;
}
.chata-drawer .chata-header-left-container {
  width: 100px;
}
.chata-drawer .chata-button.close svg {
  width: 30px;
  height: 30px;
  padding-top: 3px;
}
.chata-drawer .chata-button.clear-all {
  position: absolute;
  right: 10px;
  animation: fadeIn 0.3s;
}
.chata-drawer .chata-button.clear-all svg {
  width: 26px;
  height: 26px;
  padding-top: 8px;
  box-sizing: border-box;
}

.chata-drawer .chat-message-container {
  scroll-behavior: smooth !important;
  max-height: calc(100% - 140px);
  overflow-y: auto;
  overflow-x: hidden;
  /* padding: 20px; */
  flex: 1;
}

.chata-drawer .chat-bar-container {
  position: relative;
  padding: 10px;
  padding-top: 30px;
}

.chata-drawer .chat-drawer-chat-bar {
  flex-shrink: 0;
  flex-grow: 0;
  height: 60px;
  animation: fadeIn 0.3s;
}

.chata-drawer .watermark {
  position: absolute;
  color: var(--chata-drawer-text-color-primary);
  text-align: center;
  opacity: 0.2;
  top: 0;
  width: calc(100% - 10px);
  font-size: 13px;
}
.chata-drawer .watermark svg {
  // width: 16px;
  // transform: translate(0, 7px);
}

.chata-drawer .chata-drawer:focus {
  outline: none;
}

.chata-drawer .chat-header-container button {
  background: transparent;
  border: none;
  color: white;
  margin: 10px;
  margin-right: 0;
  font-size: 20px;
  cursor: pointer;
  outline: none !important;
}
.chata-drawer .chat-header-container button:hover {
  opacity: 0.7;
}
.chata-drawer .chat-header-container button svg {
  width: 35px;
  height: 35px;
}

/* custom scrollbar */
.chata-drawer .chat-message-container > div:last-child {
  opacity: 0;
  transition: opacity 200ms ease;
}
.chata-drawer .chat-message-container:hover > div:last-child {
  opacity: 1;
}

/* rc-drawer */
.chata-drawer .drawer-content {
  background: white;
  border-radius: 4px;
  overflow: visible;
}
.chata-drawer .drawer-handle {
  background: var(--chata-drawer-background-color);
  transition: opacity 0.5s ease;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50px !important;
  font-size: 22px;
}
.chata-drawer.drawer-right .drawer-handle {
  left: -60px;
}
.chata-drawer.drawer-left .drawer-handle {
  right: -60px;
}
.chata-drawer.drawer-top .drawer-handle {
  bottom: -60px;
}
.chata-drawer.drawer-bottom .drawer-handle {
  top: -60px;
}
.chata-drawer .drawer-handle.hide {
  opacity: 0;
  visibility: hidden;
}
.chata-drawer .drawer-handle-icon,
.chata-drawer .drawer-handle-icon::before,
.chata-drawer .drawer-handle-icon::after {
  background: var(--chata-drawer-text-color-primary);
}
.chata-drawer .drawer-bottom .drawer-content-wrapper,
.chata-drawer .drawer-top .drawer-content-wrapper {
  left: 0;
}
.chata-drawer .drawer-content-wrapper {
  background: transparent;
}
.chata-drawer.drawer-right .drawer-content-wrapper,
.chata-drawer.drawer-left .drawer-content-wrapper {
  max-width: calc(100vw - 45px) !important;
  min-width: 400px !important;
}
.chata-drawer.drawer-top .drawer-content-wrapper,
.chata-drawer.drawer-bottom .drawer-content-wrapper {
  max-height: calc(100vh - 45px) !important;
  min-height: 400px !important;
}
.chata-drawer-resize-handle {
  position: absolute;
  background: transparent;

  &.right {
    top: 0;
    left: -5px;
    width: 5px;
    height: 100vh;
    cursor: ew-resize;
  }

  &.left {
    top: 0;
    right: -5px;
    width: 5px;
    height: 100vh;
    cursor: ew-resize;
  }

  &.top {
    bottom: -5px;
    left: 0;
    height: 5px;
    width: 100vw;
    cursor: ns-resize;
  }

  &.bottom {
    top: -5px;
    left: 0;
    height: 5px;
    width: 100vw;
    cursor: ns-resize;
  }
}

.chata-drawer .response-loading-container {
  position: absolute;
  bottom: 45px;
  left: 20px;
}

/* Autocomplete styles */
.chata-drawer
  .chata-bar-container
  .react-autosuggest__suggestions-container--open {
  background-color: var(--chata-drawer-background-color);
  border: 1px solid var(--chata-drawer-border-color);
  color: var(--chata-drawer-text-color-primary);
}
.chata-drawer .chata-bar-container .react-autosuggest__suggestion {
  color: var(--chata-drawer-text-color-primary);
}
.chata-drawer .chata-chatbar-input {
  border: 1px solid var(--chata-drawer-border-color);
  color: var(--chata-drawer-text-color-primary);
}
.chata-drawer .chata-chatbar-input::placeholder {
  color: var(--chata-drawer-text-color-placeholder);
}

/* Tooltips */
.chata-drawer-tooltip {
  font-family: var(--chata-drawer-font-family), sans-serif;
  letter-spacing: 0.04em;
  padding: 7px 15px;
  transition: none;
  opacity: 1 !important;
  z-index: 99999 !important; /* necessary to show up on top of rc drawer */
}
.interpretation-tooltip {
  font-family: var(--chata-drawer-font-family), sans-serif;
  font-size: 12px;
  text-align: left;
  letter-spacing: 0.04em;
  padding: 7px 15px;
  max-width: 400px;
  opacity: 1 !important;
  transition: none;
  z-index: 99999 !important; /* necessary to show up on top of rc drawer */
}

.react-tiny-popover-container {
  z-index: 9999;
  border: 1px solid #ababab52;
  border-radius: 4px;
  box-shadow: 0px 0 8px rgba(0, 0, 0, 0.15);
  transition: opacity 0.2s ease 0s !important;
}

.clear-messages-confirm-popover {
  color: var(--chata-drawer-text-color-primary);
  padding: 20px;
  background: var(--chata-drawer-background-color);
  text-align: right;
  padding: 18px;
  width: 185px;
}
.chata-confirm-text {
  text-align: center;
}
.chata-confirm-icon {
  color: #faad14;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 3px;
}

/* Use drawer theme colors for the UI component accent colors */
.chata-modal-container
  .chata-checkbox__input:not(.chata-checkbox--switch__input),
.chata-drawer .chata-checkbox__input:not(.chata-checkbox--switch__input) {
  border-color: var(--chata-drawer-accent-color);
}

.chata-modal-container
  .chata-checkbox__input::before:not(.chata-checkbox--switch__input),
.chata-drawer
  .chata-checkbox__input::before:not(.chata-checkbox--switch__input) {
  background: var(--chata-drawer-accent-color);
}

/* Safetynet styles */
/* .chata-drawer .chata-safetynet-select {
  color: var(--chata-drawer-accent-color);
}
.chata-drawer .chata-safety-net-execute-btn:hover {
  border-color: var(--chata-drawer-accent-color);
}
.chata-drawer .chata-execute-query-icon {
  fill: var(--chata-drawer-accent-color);
} */

/* Shadow container (this is used to cut off the shadow so it doesnt show in the drawer) */
.page-switcher-shadow-container {
  position: absolute;
  background: transparent;
  overflow: hidden;
}
.page-switcher-shadow-container.right {
  top: 80px;
  left: -60px;
  width: 60px;
}
.page-switcher-shadow-container.left {
  top: 80px;
  right: -60px;
  width: 60px;
}
.page-switcher-shadow-container.top {
  left: calc(50% - 85px);
  bottom: -60px;
  height: 60px;
}
.page-switcher-shadow-container.bottom {
  left: calc(50% - 85px);
  top: -60px;
  height: 60px;
}

/* Container holding the tabs */
.page-switcher-container.right {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.page-switcher-container.left {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: -5px;
}
.page-switcher-container.top {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.page-switcher-container.bottom {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Individual Tabs */
.page-switcher-container .tab {
  position: relative;
  z-index: 1;

  background: var(--chata-drawer-accent-color);
  color: #fff;

  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 22px;
  text-align: center;
  transform: translate(0, 0);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  transition-property: background, color, transform, line-height, height, width,
    margin-right, margin-top, margin-left, margin-bottom, z-index;
  transition-duration: 0.2s;

  &.tips svg {
    height: 22px;
    width: 23px;
  }
}
.page-switcher-container.right .tab {
  text-align: left;
  padding-left: 10px;
  height: 65px;
  width: 45px;
  line-height: 49px;
}
.page-switcher-container.left .tab {
  text-align: left;
  padding-left: 13px;
  height: 65px;
  width: 45px;
  line-height: 52px;
}
.page-switcher-container.top .tab,
.page-switcher-container.bottom .tab {
  padding-top: 4px;
  height: 45px;
  width: 65px;
  line-height: 45px;
}
.page-switcher-container.top .tab {
  vertical-align: top;
}
.page-switcher-container.bottom .tab {
  background: var(--chata-drawer-background-color);
  color: var(--chata-drawer-text-color-primary);
}
.page-switcher-container .tab.active {
  background: var(--chata-drawer-background-color);
  color: var(--chata-drawer-text-color-primary);
  font-weight: bold;
  position: relative;
  z-index: 2;
}
.page-switcher-container.bottom .tab.active {
  background: var(--chata-drawer-accent-color);
  color: #fff;
  font-weight: bold;
}
.page-switcher-container.top .tab,
.page-switcher-container.bottom .tab {
  display: inline-block;
  /* position: absolute; */
}
.page-switcher-container.right .tab:hover {
  height: 69px;
  width: 49px;
  line-height: 56px;
  transform: translate(-2px, -2px);
  margin-bottom: -2px;
  z-index: 3;
}
.page-switcher-container.left .tab:hover {
  height: 69px;
  width: 47px;
  line-height: 56px;
  transform: translate(0px, -2px);
  margin-bottom: -2px;
  z-index: 3;
}
.page-switcher-container.top .tab:hover {
  height: 49px;
  width: 71px;
  line-height: 49px;
  transform: translate(-2px, -2px);
  margin-right: -2px;
  margin-bottom: -2px;
  z-index: 3;
}
.page-switcher-container.bottom .tab:hover {
  height: 51px;
  width: 71px;
  line-height: 45px;
  transform: translate(-2px, -2px);
  margin-right: -2px;
  margin-top: -2px;
  z-index: 3;
}

/* Curve appropriate corners depending on placement */
.page-switcher-container.right .tab:first-child,
.page-switcher-container.bottom .tab:first-child {
  border-top-left-radius: 10px;
}
.page-switcher-container.right .tab:last-child,
.page-switcher-container.top .tab:first-child {
  border-bottom-left-radius: 10px;
}
.page-switcher-container.bottom .tab:last-child,
.page-switcher-container.left .tab:first-child {
  border-top-right-radius: 10px;
}
.page-switcher-container.left .tab:last-child,
.page-switcher-container.top .tab:last-child {
  border-bottom-right-radius: 10px;
}

/* animations */
@keyframes response-loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes response-loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes response-loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
