@import url("https://fonts.googleapis.com/css?family=Titillium+Web:100,200,300,400,500,600,700,800,900");

.chata-drawer {
  font-family: "Titillium Web", sans-serif;
}

.chata-drawer-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--chata-drawer-background-color);
  flex-direction: column;
  justify-content: stretch;
}

.chat-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: var(--chata-drawer-accent-color);
  box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.15);
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 1;
}
.chata-header-right-container {
  display: flex;
  justify-content: right;
  width: 100px;
}
.chata-header-center-container {
  position: relative;
  color: #fff;
  line-height: 60px;
  font-size: 18px;
  letter-spacing: 0.05em;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chata-header-left-container {
  width: 100px;
}
.chata-button.close svg {
  width: 30px;
  height: 30px;
  padding-top: 3px;
}
.chata-button.clear-all {
  position: absolute;
  right: 10px;
}
.chata-button.clear-all svg {
  width: 20px;
  height: 20px;
  padding-top: 8px;
}

.chat-message-container {
  max-height: calc(100% - 140px);
  overflow-y: auto;
  overflow-x: hidden;
  /* padding: 20px; */
  flex: 1;
}

.chat-bar-container {
  position: relative;
  padding: 10px;
  padding-top: 30px;
}

.chat-drawer-chat-bar {
  flex-shrink: 0;
  flex-grow: 0;
  height: 60px;
}

.watermark {
  position: absolute;
  color: var(--chata-drawer-text-color-primary);
  text-align: center;
  opacity: 0.2;
  top: 9px;
  width: calc(100% - 10px);
  font-size: 13px;
}

.chata-drawer:focus {
  outline: none;
}

.chat-header-container button {
  background: transparent;
  border: none;
  color: white;
  margin: 10px;
  margin-right: 0;
  font-size: 20px;
  cursor: pointer;
  outline: none !important;
}
.chat-header-container button:hover {
  opacity: 0.7;
}
.chat-header-container button svg {
  width: 35px;
  height: 35px;
}
.chata-drawer-tooltip {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.04em;
  padding: 7px 15px;
  transition: none;
  opacity: 1 !important;
  z-index: 99999; /* necessary to show up on top of rc drawer */
}

/* custom scrollbar */
.chat-message-container > div:last-child {
  opacity: 0;
  transition: opacity 200ms ease;
}
.chat-message-container:hover > div:last-child {
  opacity: 1;
}

/* rc-drawer */
.drawer-content {
  background: white;
}
.drawer-handle {
  top: 72px;
  background: var(--chata-drawer-background-color);
  transition: opacity 0.5s ease;
}
.drawer-handle.hide {
  opacity: 0;
  visibility: hidden;
}
.drawer-handle-icon,
.drawer-handle-icon::before,
.drawer-handle-icon::after {
  background: var(--chata-drawer-text-color-primary);
}
.drawer-bottom .drawer-content-wrapper,
.drawer-top .drawer-content-wrapper {
  left: 0;
}

.response-loading-container {
  position: absolute;
  bottom: 45px;
  left: 20px;
}

/* Autocomplete styles */
.chata-drawer
  .chata-bar-container
  .react-autosuggest__suggestions-container--open {
  background-color: var(--chata-drawer-background-color);
  border: 1px solid var(--chata-drawer-border-color);
  color: var(--chata-drawer-text-color-primary);
}
.chata-drawer .chata-bar-container .react-autosuggest__suggestion {
  color: var(--chata-drawer-text-color-primary);
}
.chata-drawer .chata-input {
  border: 1px solid var(--chata-drawer-border-color);
  color: var(--chata-drawer-text-color-primary);
}
.chata-drawer .chata-input::placeholder {
  color: var(--chata-drawer-text-color-placeholder);
}

/* Safetynet styles */
.chata-drawer .chata-safetynet-select {
  /* color: var(--chata-drawer-accent-color); */
}
.chata-drawer .chata-safety-net-execute-btn:hover {
  /* border-color: var(--chata-drawer-accent-color); */
}
.chata-drawer .chata-execute-query-icon {
  /* fill: var(--chata-drawer-accent-color); */
}

/* animations */
@keyframes response-loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes response-loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes response-loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
