.data-alert-settings-modal-content {
  padding: 20px 100px;
}

.react-autoql-data-alert-setting-group {
  display: flex;
  flex-direction: row;
}

.react-autoql-settings-vertical-divider {
  flex: 0 0 0;
  opacity: 0.3;

  &.react-autoql-settings-vertical-divider-horizontal {
    margin: 5px;
    margin-top: 0;
    padding: 0 10px;
    border-top: 1px solid var(--react-autoql-border-color);
  }

  &.react-autoql-settings-vertical-divider-vertical {
    margin: 5px;
    margin-left: 0;
    padding: 10px 0;
    border-left: 1px solid var(--react-autoql-border-color);
  }
}

.react-autoql-flex-table-container {
  display: block;
  width: 100%;

  div {
    box-sizing: border-box;
  }

  .react-autoql-data-alert-setting {
    margin-bottom: 10px;
  }

  .react-autoql-data-alert-setting-section {
    padding: 10px 0;

    .react-autoql-data-alert-setting-section-title {
      margin: 5px;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 600;
    }

    .react-autoql-data-alert-setting-input-group {
      display: flex;
      .react-autoql-data-alert-setting-input {
        flex: 1;
      }
    }
  }

  .react-autoql-flex-table {
    display: grid;
    grid-template-columns: minmax(0, 150px) 1fr;
    grid-template-rows: 100% auto;
    transition: 0.5s;

    .react-autoql-cell {
      display: block;
      width: 100%;
      text-align: left;
      padding: 0.1em 0.5em;

      &:first-of-type {
        text-align: right;
        line-height: 34px;
        white-space: nowrap;
      }
    }
  }
}
