.react-autoql-dashboard-container {
  background: transparent;
  width: 100%;
  overflow: hidden;
  margin-top: -18px;
}

.react-autoql-dashboard-container.edit-mode {
  padding-bottom: 200px;
}

.dashboard-drilldown-modal {
  .dashboard-drilldown-modal-content {
    .layout-splitter {
      margin-top: 8px;
      padding: 2px;
      height: 2px;
      background: transparent;
      border-bottom: 1px solid var(--react-autoql-border-color);
      border-color: var(--react-autoql-border-color);
      transition: border-color 0.2s ease;

      &:hover {
        border-width: 2px;
        border-color: var(--react-autoql-accent-color);

        & + .splitter-collapse-btn {
          border-color: var(--react-autoql-accent-color);
          color: var(--react-autoql-accent-color);
          font-weight: 600;
        }
      }
    }

    .splitter-collapse-btn {
      display: flex;
      justify-content: center;
      line-height: 24px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      margin-left: 90%;
      transform: translate(0px, -10px);
      background: var(--react-autoql-background-color-secondary);
      border: 1px solid var(--react-autoql-border-color);
      border-color: var(--react-autoql-border-color);
      transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: var(--react-autoql-accent-color);
        border-color: var(--react-autoql-accent-color);
        color: var(--react-autoql-text-color-accent);
      }
    }

    &.chart-hidden,
    &.table-only {
      .layout-pane:not(.layout-pane-primary) {
        flex: 1;
      }
    }

    &.chart-hidden {
      .react-autoql-dashboard-drilldown-original {
        transition: opacity 0.3s ease, height 0.3s ease;
        visibility: hidden;
        pointer-events: none;
        height: 0;
      }

      .layout-splitter {
        margin-top: 14px;
      }

      .splitter-collapse-btn {
        transform: translate(-11px, -11px) rotate(180deg);
      }

      .layout-pane.layout-pane-primary {
        flex: 0;
        overflow: hidden;
      }
    }

    &.table-only {
      .react-autoql-dashboard-drilldown-original,
      .layout-pane.layout-pane-primary,
      .splitter-collapse-btn,
      .layout-splitter {
        visibility: hidden;
        pointer-events: none;
        padding: 0;
        margin: 0;
        height: 0;
        flex: 0;
      }

      .react-autoql-dashboard-drilldown-table {
        padding-top: 10px;
      }
    }

    .react-autoql-modal-body {
      padding: 0;
    }

    .react-autoql-table {
      font-size: 11px;
    }

    .splitter-layout {
      height: calc(100% - 55px);
    }

    .dashboard-drilldown-table-and-toolbars-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .drilldown-modal-toolbars {
        flex: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .react-autoql-dashboard-drilldown-original {
      padding: 10px;
      padding-bottom: 0;
    }
    .drilldown-hide-chart-btn {
      text-align: right;
      width: 100%;
      padding-right: 20px;

      &.bottom {
        position: absolute;
        bottom: 5px;
        width: 100px;
        right: 0;
      }

      &.top {
        padding-top: 10px;
        margin-bottom: -8px;
      }
    }
  }

  .react-autoql-dashboard-drilldown-table {
    flex: 1;
    padding: 10px 20px;
    padding-top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

.empty-dashboard-message-container {
  font-family: var(--react-autoql-font-family);
  color: var(--react-autoql-text-color-primary);
  letter-spacing: 0.02em;
  text-align: center;
  padding: 100px;
  height: 100%;
  width: 100%;
}

.empty-dashboard-new-tile-btn {
  color: var(--react-autoql-accent-color);
  font-weight: bold;
  cursor: pointer;
}
