.chata-dashboard-container {
  background: #fafafa;
}

.chata-dashboard .react-grid-item {
  background: #fff;
  color: rgb(64, 64, 64);

  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.13);
}
.chata-dashboard .react-grid-item:not(.dragging) {
  /* transition: all 0.2s ease-in; */
}

.chata-dashboard-tile-inner-div {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.chata-dashboard-tile-inner-div .single-value-response {
  font-size: 23px;
}

.chata-dashboard-tile-inner-div .dashboard-tile-response-wrapper {
  height: 100%;
  width: 100%;
  padding: 30px;
  padding-top: 0;
}
.chata-dashboard-tile-inner-div .dashboard-tile-response-wrapper.editing {
  cursor: move;
}

/* Safetynet styles specific to dashboard tiles */
.chata-dashboard-tile-inner-div .dashboard-tile-response-wrapper.editing {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.chata-dashboard-tile-inner-div .chata-safety-net-query {
  white-space: nowrap;
}
.dashboard-tile-response-wrapper.small .chata-safety-net-description,
.dashboard-tile-response-wrapper .chata-safety-net-execute-btn {
  display: none;
}

.dashboard-tile-response-wrapper .dashboard-tile-response-container {
  height: 100%;
  width: 100%;
  padding-top: 21px;
  cursor: default;
}

.dashboard-tile-title-container {
  width: 100%;
  text-align: left;
  padding: 20px 30px 0 30px;
  height: 55px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard-tile-title-container .dashboard-tile-title {
  color: #356f90;
  font-weight: bold;
  font-size: 17px;
}

.dashboard-tile-edit-wrapper {
  display: flex;
  width: 100%;
  height: 55px;
  padding: 20px 23px 0 30px;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: move;
}

.dashboard-tile-play-button {
  cursor: default;
  flex-grow: 0;
  flex-shrink: 0;
}
.dashboard-tile-play-button svg {
  cursor: pointer;
  width: 20px;
  height: 33px;
  margin-left: 10px;
  color: #366f90;
}
.dashboard-tile-play-button.disabled svg {
  opacity: 0.5;
  cursor: not-allowed;
}
.dashboard-tile-play-button:not(.disabled) svg:hover {
  opacity: 0.8;
}

.dashboard-tile-delete-button {
  opacity: 0;
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 2px;
  right: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.react-grid-item:hover .dashboard-tile-delete-button {
  opacity: 1;
}

.dashboard-tile-loading-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.dashboard-tile-title-divider {
  height: 2px;
  background: currentColor;
  width: 75px;
  margin-top: 8px;
  opacity: 0.07;
}

/* Input box styling for edit mode */
.dashboard-tile-input-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.dashboard-tile-input-container .dashboard-tile-input {
  width: 0;
  padding: 12px;
  border: 1px solid rgb(0, 0, 0, 0.1);
  outline: none !important;
  color: #356f90;

  flex-grow: 1;
  transition: width 0.3s ease;
}
.dashboard-tile-input-container .dashboard-tile-input:focus {
  width: 80%;
}
.dashboard-tile-input-container .dashboard-tile-input:hover,
.dashboard-tile-input-container .dashboard-tile-input:focus {
  border: 1px solid rgb(38, 167, 233) !important;
}
.dashboard-tile-input-container .dashboard-tile-input.query {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.dashboard-tile-input-container .dashboard-tile-input.title {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.dashboard-tile-input-container .dashboard-tile-input.title:hover,
.dashboard-tile-input-container .dashboard-tile-input.title:focus {
  /* This is done to balance it because we add a 1px left border when the input is focused or hovered */
  margin-left: -1px;
}

/* Dragging placeholder styles */
.chata-db-dragging-placeholder-container {
  height: 100%;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.chata-db-dragging-placeholder-title {
  width: 100%;
  height: 35px;
  background: #f3f3f3;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  flex-shrink: 0;
  flex-grow: 0;
}

.chata-db-dragging-placeholder-content {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dashboard-tile-placeholder-text {
  color: rgba(0, 0, 0, 0.3);
}

/* React Grid Layout overrides */
.react-grid-item > .react-resizable-handle {
  z-index: 1;
}
.react-grid-item > .react-resizable-handle::after {
  width: 8px;
  height: 8px;
  opacity: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease;
}

.react-grid-item:hover > .react-resizable-handle::after {
  opacity: 1;
}
/* This fixes the flickering bug in RGL when resizing elements */
.react-draggable-transparent-selection span::selection,
.react-draggable-transparent-selection div::selection,
.react-draggable-transparent-selection a::selection,
.react-draggable-transparent-selection input::selection,
.react-draggable-transparent-selection text::selection,
.react-draggable-transparent-selection input::placeholder {
  color: inherit;
}
