/* @import url("https://fonts.googleapis.com/css?family=Titillium+Web:100,200,300,400,500,600,700,800,900");
 */

.chat-single-message-container:first-of-type {
  margin-top: 20px;
}
.chat-single-message-container:not(:first-of-type) {
  margin-top: 10px;
}
.chat-single-message-container.response {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  /* make small margin on bottom because sometimes react
  custom scrollbar cuts off a pixel or 2 at the bottom */
  margin-bottom: 2px;
  max-height: 85%;

  animation: scale-up-bl 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.chat-single-message-container.request {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;

  animation: scale-up-br 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.chat-single-message-container .chat-message-bubble {
  position: relative;
  padding: 13px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  letter-spacing: 0.04em;
}
.chat-single-message-container .chat-message-bubble.full-width {
  max-width: calc(100% - 20px);
}
.chat-single-message-container.response .chat-message-bubble.active {
  border: 1px solid #c3c3c3;
}
.chat-single-message-container.response .chat-message-bubble {
  background: var(--chata-drawer-background-color);
  color: var(--chata-drawer-text-color-primary);
  border: 1px solid #d3d3d352;
}
.chat-single-message-container.request .chat-message-bubble {
  background: var(--chata-drawer-accent-color);
  color: white;
  border: 1px solid var(--chata-drawer-accent-color);
}
/* Increase height of message to include table filters,
so we dont have to redraw the whole table */
.chat-single-message-container.response.filtering-table {
  max-height: calc(85% + 35px);
}
.chat-message-toolbar {
  display: none;
  position: absolute;
  background: var(--chata-drawer-background-color);
  top: -22px;
  padding: 5px;
  border-radius: 6px;
  line-height: 28px;
  border: 1px solid var(--chata-drawer-border-color);
}
.chat-message-toolbar.right {
  right: -9px;
}
.chat-message-toolbar.left {
  left: -9px;
}
.chat-message-bubble:hover .chat-message-toolbar {
  display: block;
}
.chata-toolbar-btn {
  height: 28px;
  width: 28px;
  background: none;
  border: none;
  font-size: 16px;
  line-height: 28px;
  vertical-align: top;
  color: var(--chata-drawer-text-color-primary);
  cursor: pointer;
  outline: none !important;
}
.chata-toolbar-btn:hover {
  opacity: 0.7;
}
.interpretation-icon {
  color: var(--chata-drawer-text-color-primary);
  vertical-align: top;
  height: 26px;
  margin: 0 3px;
  font-size: 18px;
}

/* Chart icon styles */
.chart-icon-svg-0,
.chata-icon-svg-0 {
  fill: currentColor;
}
.hm0 {
  opacity: 0.5;
  fill: currentColor;
  enable-background: new;
}
.hm1 {
  fill: currentColor;
}
.hm2 {
  opacity: 0.15;
  fill: currentColor;
  enable-background: new;
}
.hm3 {
  opacity: 0.6;
  fill: currentColor;
  enable-background: new;
}
.hm4 {
  opacity: 0.65;
  fill: currentColor;
  enable-background: new;
}
.hm5 {
  fill: currentColor;
}
.hm6 {
  fill: currentColor;
}

/* animations */
@keyframes scale-up-br {
  0% {
    transform: scale(0.5);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 100%;
  }
}

@keyframes scale-up-bl {
  0% {
    transform: scale(0.5);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 0% 100%;
  }
}
