.react-autoql-modal-body {
  h3 {
    font-size: 1.1875rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
    color: var(--react-autoql-text-color-primary);
  }

  p {
    font-size: 1.0625rem;
    margin: 0;
    color: var(--react-autoql-text-color-primary);
  }
}
