.react-autoql-drawer .chat-message-scroll-container {
  // scroll-behavior: smooth !important;
  // max-height: calc(100% - 140px);
  // overflow-y: auto;
  // overflow-x: hidden;
  // flex: 1;
}

.custom-scrollbar-container {
  overflow-x: hidden !important;
  margin-bottom: 0 !important;
}

.react-autoql-drawer .response-loading-container {
  position: absolute;
  bottom: 45px;
  left: 20px;
}

.react-autoql-drawer .chat-bar-container {
  position: relative;
  padding: 10px;
}

.react-autoql-drawer .watermark {
  color: var(--react-autoql-text-color-primary);
  text-align: center;
  opacity: 0.2;
  top: 6px;
  width: calc(100% - 10px);
  font-size: 13px;
}

.react-autoql-drawer .chat-drawer-chat-bar {
  flex-shrink: 0;
  flex-grow: 0;
  height: 60px;
  animation: fadeIn 0.3s;
}
