body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.test-page-container {
  padding: 20px;
  padding-right: 500px;
  text-align: center;
  height: auto;
}

.test-page-container h4 {
  margin-bottom: 5px;
  margin-top: 15px;
}

.test-page-container input {
  max-width: 200px;
}

.ui-overlay {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.ui-overlay.demo {
  background-image: url('./images/demo_ui.png');
}

.dashboard-toolbar-container .ant-btn {
  margin-top: 10px;
}

.ant-message {
  z-index: 999999999999999 !important;
}

.ant-form-item {
  margin-bottom: 10px;
}

.ant-form-item input {
  max-width: unset;
}

.chat-voice-record-button {
  margin: 10px;
}
