h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.test-page-container {
  padding: 20px;
  padding-right: 500px;
  text-align: center;
  height: auto;
}
@media (max-width: 479px) {
	.test-page-container {
		padding: 20px;
		text-align: center;
		height: auto;
	  }
}
.ui-overlay {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.ui-overlay.demo {
  background-image: url('./images/demo_ui.png');
}

.dashboard-toolbar-container .ant-btn {
  margin-top: 10px;
}

.ant-message {
  z-index: 999999999999999 !important;
}

.ant-form-item {
  margin-bottom: 10px;
}

.ant-form-item input {
  max-width: unset;
}

#clear-rating-button {
  margin-top: 25px;
  padding: 5px;
  float: left;
}

#submit-form-button {
  margin-bottom: 15px;
}

#toggle-switch {
  margin-top: 20px;
}
