body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.test-page-container {
  padding: 20px;
  padding-right: 500px;
  text-align: center;
  height: auto;
}

.test-page-container h4 {
  margin-bottom: 5px;
  margin-top: 15px;
}

.test-page-container input {
  min-width: 250px;
}

.ui-overlay {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.ui-overlay.demo {
  background-image: url('./images/demo_ui.png');
}

.ui-overlay.theme-radisson {
  background-image: url('./images/theme_radisson.png');
}

.ui-overlay.theme-radisson {
  background-image: url('./images/theme_radisson.png');
}

.ui-overlay.theme-texas {
  background-image: url('./images/theme_texas.png');
}

.ui-overlay.theme-stifel {
  background-image: url('./images/theme_stifel.png');
}

.ui-overlay.theme-city-of-calgary {
  background-image: url('./images/theme_city_of_calgary.png');
}

.ui-overlay.theme-wyndham {
  background-image: url('./images/theme_wyndham.png');
}

.ui-overlay.theme-uceed {
  background-image: url('./images/theme_uceed.png');
}

.ui-overlay.theme-deeleeo {
  background-image: url('./images/theme_deeleeo.png');
}

.ui-overlay.theme-opm {
  background-image: url('./images/theme_opm.png');
}

.ui-overlay.theme-us-army {
  background-image: url('./images/theme_us_army.png');
}

.ui-overlay.theme-brp {
  background-image: url('./images/theme_brp.png');
}

.ui-overlay.theme-chata {
  background-image: url('./images/theme_chata.png');
}

.dashboard-toolbar-container .ant-btn {
  margin-top: 10px;
}

.ant-message {
  z-index: 999999999999999 !important;
}

.ant-form-item {
  margin-bottom: 10px;
}

.ant-form-item input {
  max-width: unset;
}

.chat-voice-record-button {
  margin: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  margin-top: 10px;
}

.switch input {
  display: none;
}

#clear-rating-button {
  margin-top: 25px;
  padding: 5px;
  float: left;
}

#submit-form-button {
  margin-bottom: 15px;
}

#toggle-switch {
  margin-top: 20px;
}
