.query-tips-page-container {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    color: var(--react-autoql-text-color-primary);
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    .react-autoql-icon {
      margin-left: 7px;
      margin-right: 2px;
    }
  }

  .react-autoql-chatbar-input-container {
    flex: 0;
    padding: 10px;

    .react-autoql-chatbar-input {
      margin: 0;
      width: 100%;
    }
  }
  .query-tips-result-container {
    color: var(--react-autoql-text-color-primary);
    text-align: center;
    flex: 1;

    .animated-item {
      animation: fadeIn 0.3s linear;
      animation-fill-mode: both;
    }

    .query-tip-item {
      position: relative;
      padding: 13px;
      cursor: pointer;

      &:first-child {
        border-top: none;
      }

      &:hover {
        font-weight: bold;
        color: var(--react-autoql-accent-color);
      }
    }

    .query-tips-result-placeholder {
      font-size: 15px;
      margin-top: 50px;
      margin: 50px auto;
      padding: 0 40px;
    }
  }

  .chat-bar-clear-btn {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    font-size: 20px;
    visibility: hidden;
    color: var(--react-autoql-text-color-placeholder);
    cursor: pointer;
    &:hover {
      color: var(--react-autoql-accent-color);
    }
    &.visible {
      visibility: visible;
    }
  }
  .react-autoql-chatbar-input.left-padding {
    padding-left: 46px;
  }
  .react-autoql-chatbar-input.right-padding {
    padding-right: 46px;
  }
}

// Set delay per List Item, max out at 15 as it shouldnt exceed this
@for $i from 1 through 15 {
  .animated-item:nth-child(#{$i}) {
    animation-delay: 0.08s * $i;
  }
}

// Keyframe animation
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
