.query-tips-page-container {
  height: 100%;
  padding: 10px;
}
.query-tips-result-container {
  color: var(--chata-drawer-text-color-primary);
  padding: 0px 20px;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;

  .query-tip-list-container {
    margin-bottom: 20px;
  }

  .animated-item {
    animation: fadeIn 0.3s linear;
    animation-fill-mode: both;
  }

  .query-tip-item {
    position: relative;
    padding: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    cursor: pointer;

    &:first-child {
      border-top: none;
    }

    .execute-btn {
      position: absolute;
      right: 10px;
      top: 4px;
      font-size: 20px;
      visibility: hidden;
      opacity: 0;
    }

    &:hover {
      font-weight: bold;
      color: var(--chata-drawer-accent-color);
      .execute-btn {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .query-tips-result-placeholder {
    margin-top: 50px;
    opacity: 0.6;
  }
}

.chat-bar-loading-spinner {
  position: absolute;
  right: 20px;
  top: 22px;
}

#react-paginate {
  position: relative;
  background: transparent;
  padding: 8px;
  // box-shadow: 0px 12px 12px -17px var(--chata-drawer-accent-color);

  ul {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
  }

  li {
    display: inline-block;
    color: var(--chata-drawer-text-color-primary);
    cursor: pointer;
    margin-right: 3px;
    border-radius: 5px;
    margin-bottom: 0;
    user-select: none;
    // border: 1px solid transparent;

    &:hover {
      opacity: 0.7;
      // border: 1px solid #fff;
      border-radius: 50%;
    }
  }

  li a {
    display: inline-block;
    color: var(--chata-drawer-text-color-primary);
    outline: none;
    width: 28px;
    height: 28px;
    line-height: 28px;
  }

  li.selected {
    background: var(--chata-drawer-accent-color);
    border-radius: 50%;
    outline: none;
    a {
      color: #fff;
    }
  }

  .pagination-next.disabled,
  .pagination-previous.disabled {
    opacity: 0.5;
    pointer-events: none;
    // &:hover {
    //   border: 1px solid transparent;
    // }
  }

  .pagination-previous,
  .pagination-next {
    position: absolute;
    font-size: 18px;
    a {
      color: var(--chata-drawer-accent-color);
    }
  }
  .pagination-previous {
    left: 20px;
  }
  .pagination-next {
    right: 20px;
  }
}

// Set delay per List Item, max out at 15 as it shouldnt exceed this
@for $i from 1 through 15 {
  .animated-item:nth-child(#{$i}) {
    animation-delay: 0.08s * $i;
  }
}

// Keyframe animation
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
