.react-autoql-data-alert-modal-content {
  height: 400px;
  max-height: 90vh;
  padding: 0 40px;

  .react-autoql-data-alert-modal-footer {
    display: 'flex';
    justify-content: 'space-between';
  }

  .react-autoql-data-alert-modal-step {
    font-weight: 400;
    font-size: 15px;
    padding-top: 20px;

    .data-alert-modal-condition-title {
      margin-top: 20px;
      margin-bottom: 5px;
    }

    .data-alert-name-input-section {
      margin-bottom: 20px;

      .react-autoql-data-alert-modal-tooltip-icon {
        flex: 0 0 auto;
        font-size: 1.1em;
        vertical-align: text-top;
      }

      .react-autoql-notification-display-name-input {
        width: 100%;
      }
    }

    .react-autoql-input-container {
      width: 100%;
      margin: 0;

      textarea {
        width: 100% !important;
        height: 5em;
      }
    }

    &.hidden {
      display: none;
    }
  }

  .react-autoql-step-content p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding-left: 8px;
  }

  .step-btn-container {
    text-align: right;
    display: flex;
    min-height: 30px;
  }

  .data-alert-chunked-rt {
    // These are the RT chunk types if we want to use them to style
    // &.PREFIX,
    // &.TEXT,
    // &.GROUPBY,
    // &.VL_PREFIX,
    // &.VALUE_LABEL,
    // &.DATE
    color: var(--react-autoql-text-color-primary);
  }
}
