.react-autoql-dashboard-filter-autocomplete-li {
  &:hover {
    background: var(--react-autoql-hover-color);
  }
}

.react-autoql-dashboard-filter-autocomplete-li {
  padding: 8px 12px;
  border-bottom: 1px solid var(--react-autoql-border-color);
  cursor: pointer;

  &.highlighted {
    background-color: var(--react-autoql-hover-color);
    cursor: pointer;
  }

  .react-autoql-dashboard-filter-autocomplete-li-delete-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    padding: 0 4px;
    color: var(--react-autoql-text-color-primary);
    opacity: 0.8;

    &:hover {
      color: var(--react-autoql-accent-color);
    }
  }
}

.react-autoql-dashboard-filter-autocomplete-li-header {
  font-weight: 600;
  padding: 5px 12px 0 12px;
  font-size: 12px;
  color: var(--react-autoql-text-color-placeholder);
}
