@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.react-autoql-spinner-centered {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.react-autosuggest__suggestions-container--open::-webkit-scrollbar {
  visibility: visible !important;
}

span .react-autoql-icon {
  vertical-align: middle;
  padding-bottom: 3px;
}

a {
  font-weight: 600;
  color: var(--react-autoql-accent-color);
  cursor: pointer;
}
