@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// fallback variables
:root {
  --react-autoql-danger-color-default: #ca0b00;
}

.react-autoql-placeholder-loader {
  position: relative;
  border-radius: 2px;

  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: var(--react-autoql-text-color-primary);

  opacity: 0;
}

@keyframes pulse {
  0% {
    opacity: 0.05;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.05;
  }
}
