.average-line-text-bg {
  fill: var(--react-autoql-background-color-secondary);
  stroke: var(--react-autoql-text-color-primary);
}

.average-line-label {
  fill: var(--react-autoql-text-color-primary);
}
