.chata-notification-rule-container {
  display: flex;
  align-items: baseline;
  // width: calc(100% - 20px);

  .chata-rule-input {
    flex: 1;
    width: 100%;
  }

  .chata-rule-condition-select {
    flex: 0;
    flex-basis: 33px;
  }

  .chata-rule-delete-btn,
  .chata-rule-add-btn {
    opacity: 0.4;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  .chata-rule-delete-btn {
    margin-left: 5px;
  }

  .chata-rule-add-btn {
    margin-left: 10px;
  }

  .chata-rule-second-input-container {
    position: relative;
    margin: 2px 5px;
    flex: 1;

    &.hidden {
      // pointer-events: none;
      // visibility: hidden;
      display: none;
    }

    .chata-input-container {
      margin: 0;
    }
    .chata-input-container:hover + .chata-rule-term-type-selector,
    .chata-input-container.focus + .chata-rule-term-type-selector {
      color: var(--chata-messenger-accent-color, #26a7df);
      border-color: var(--chata-messenger-accent-color, #26a7df);
    }
  }

  .chata-rule-term-type-selector {
    position: absolute;
    margin: 0;
    top: 1px;
    left: 1px;
    height: 32px;
    border: none;
    background: white;
    color: rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 40px;

    &:hover {
      color: var(--chata-messenger-accent-color, #26a7df);
    }

    svg {
      height: 17px;
      width: 17px;
      margin-top: 7px;
    }
  }
}

.read-only-rule-term {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: rgba(0, 0, 0, 0.02);
  padding: 3px 7px;
  line-height: 1.5em;
  margin-right: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 4px;
}

.rule-input-select-bubbles-icon {
  svg {
    height: 17px;
    width: 17px;
  }
}

.chata-notification-group-container.disable-first-delete
  .chata-rule-delete-btn {
  pointer-events: none;
  opacity: 0.1;
  cursor: default;
}
