.autoql-options-toolbar {
  position: absolute;
  background: inherit;
  padding: 5px;
  border-radius: 6px;
  line-height: 28px;
  background: var(--react-autoql-background-color-primary);
  border: 1px solid var(--react-autoql-border-color);

  &.vertical .react-autoql-toolbar-btn {
    display: block;
  }

  .react-autoql-toolbar-btn {
    color: var(--react-autoql-accent-color);
  }
}

.copy-sql-modal-content {
  position: relative;
  height: 60vh;

  .copy-sql-formatted-text {
    height: 100%;
    width: 100%;
    padding: 10px;
    resize: none;
    background: var(--react-autoql-background-color-secondary);
  }

  .copy-sql-btn {
    color: var(--react-autoql-text-color);
    background-color: var(--react-autoql-background-color-primary);
    position: absolute;
    top: 3px;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .sql-copied {
    color: #2aca4d !important;
  }

  &:hover .copy-sql-btn {
    opacity: 1;
  }
}
