.test-page-container {
  padding: 20px;
  padding-right: 500px;
  text-align: center;
  height: auto;
}

.test-page-container h4 {
  margin-bottom: 5px;
  margin-top: 15px;
}

.test-page-container input {
  max-width: 200px;
}

.ui-overlay {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.ui-overlay.locate {
  background-image: url("./locate_ui.png");
}

.ui-overlay.purefacts {
  background-image: url("./purefacts_ui.png");
}

.ui-overlay.qbo-demo {
  background-image: url("./qbo_demo_ui.png");
}

.ui-overlay.sage-demo {
  background-image: url("./sage_ui.png");
}
