@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

.chata-response-content-container {
  height: 100%;
}

.chata-suggestions-container {
  margin-top: 5px;
}
.chata-suggestion-btn {
  padding: 6px 14px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  margin-top: 5px;
  outline: none !important;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition: all 0.1s ease;
}
.chata-suggestion-btn:hover {
  border: 1px solid transparent;
  color: white;
  background: var(--chata-drawer-accent-color);
}
.chata-help-link-btn {
  padding: 6px 14px;
  background: transparent;
  border-radius: 5px;
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  margin-top: 5px;
  outline: none !important;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition: all 0.1s ease;
  border-color: #e2e2e26e;
  color: inherit;
}
.chata-help-link-btn:hover {
  opacity: 0.7;
}
.chata-help-link-icon {
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
  margin-right: 3px;
}
