.chata-response-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  font-size: 14px;
  height: 100%;
  width: 100%;
  max-height: 100vh !important; // this safetynet forces progressive rendering
  overflow: hidden;
}

.chata-suggestions-container {
  margin-top: 5px;
}
.chata-suggestion-btn {
  padding: 6px 14px;
  background: transparent;
  border-radius: 8px;
  font-family: inherit;
  font-size: 12px;
  margin-top: 5px;
  outline: none !important;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition: all 0.1s ease;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  border-color: #e2e2e26e;
  color: inherit;
}
.chata-suggestion-btn:hover {
  border-color: transparent;
  color: white;
  background: var(--chata-drawer-accent-color);
}
.chata-help-link-btn {
  padding: 6px 14px;
  background: transparent;
  border-radius: 5px;
  font-family: inherit;
  font-size: 12px;
  margin-top: 5px;
  outline: none !important;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition: all 0.1s ease;
  border-color: #e2e2e26e;
  color: inherit;
}
.chata-help-link-btn:hover {
  opacity: 0.7;
}
.chata-help-link-icon {
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
  margin-right: 3px;
}

.chata-suggestion-message {
  height: 100%;
  width: 100%;
  word-break: break-word;
}
.chata-suggestions-select {
  position: relative;
  display: inline-block;
  height: 30px;
  background: none;
  outline: none !important;
  border: 1px solid;
  font-family: inherit;
  letter-spacing: 0.05em;
  color: #28a8e0;
  cursor: pointer;
  font-size: inherit;
}

/* safetynet */
.chata-safety-net-selector-container {
  display: inline-block;
  position: relative;
  margin-left: -5px;
}
.chata-safety-net-execute-btn {
  height: 30px;
  background: none;
  border-radius: 4px;
  margin-top: 24px;
  width: 100%;
  color: inherit;
  cursor: pointer;
  outline: none !important;
  border-color: #e2e2e26e;
  transition: all 0.2s ease;
}
.chata-safety-net-execute-btn:hover {
  border-color: #28a8e0;
}
.chata-execute-query-icon {
  height: 15px;
  width: 24px;
  margin-top: 3px;
  vertical-align: top;
  fill: #28a8e0;
}
.chata-safetynet-select {
  position: relative;
  display: inline-block;
  height: 30px;
  background: none;
  outline: none !important;
  border: none;
  letter-spacing: 0.05em;
  font-family: inherit;

  /* Default style outside of drawer */
  color: #28a8e0;
  font-size: inherit;
}
.chata-safety-net-delete-button {
  position: relative;
  cursor: pointer;
  margin-bottom: -2px;
}
.chata-chart-tooltip {
  font-family: var(--chata-drawer-font-family), sans-serif;
  letter-spacing: 0.04em;
  line-height: 22px;
  font-size: 13px;
  padding: 7px 15px;
  transition: all 0.2s ease !important;
  text-align: left !important;
  opacity: 1 !important;
  z-index: 99999 !important; /* necessary to show up on top of rc drawer */
}
.single-value-response {
  color: inherit;
}
.single-value-response:hover {
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
}
.chata-safety-net-container {
  width: 100%;
}
.chata-safety-net-description {
  margin-bottom: 14px;
}

.context-menu {
  background: var(--chata-drawer-background-color);
  /* height: 100px; */
  width: 150px;
  padding: 10px 0;
}
.context-menu-list {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.context-menu-list li {
  color: var(--chata-drawer-text-color-primary);
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  cursor: pointer;
}
.context-menu-list li:hover {
  background: rgba(0, 0, 0, 0.05);
}
