@import url("https://fonts.googleapis.com/css?family=Titillium+Web:100,200,300,400,500,600,700,800,900");

.chata-response-content-container {
  background-color: inherit;
  font-size: 14px;
  height: 100%;
}

.chata-suggestions-container {
  margin-top: 5px;
}
.chata-suggestion-btn {
  padding: 6px 14px;
  background: transparent;
  border-radius: 8px;
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  margin-top: 5px;
  outline: none !important;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition: all 0.1s ease;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  border-color: #e2e2e26e;
  color: inherit;
}
.chata-suggestion-btn:hover {
  border-color: transparent;
  color: white;
  background: var(--chata-drawer-accent-color);
}
.chata-help-link-btn {
  padding: 6px 14px;
  background: transparent;
  border-radius: 5px;
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  margin-top: 5px;
  outline: none !important;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition: all 0.1s ease;
  border-color: #e2e2e26e;
  color: inherit;
}
.chata-help-link-btn:hover {
  opacity: 0.7;
}
.chata-help-link-icon {
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
  margin-right: 3px;
}

/* safetynet */
.chata-safety-net-selector-container {
  display: inline-block;
  position: relative;
  margin-left: -5px;
}
.chata-safety-net-execute-btn {
  height: 30px;
  background: none;
  border-radius: 4px;
  margin-top: 24px;
  width: 100%;
  color: inherit;
  cursor: pointer;
  outline: none !important;
  border-color: #e2e2e26e;
  transition: all 0.2s ease;
}
.chata-safety-net-execute-btn:hover {
  border-color: #28a8e0;
  /* border-color: var(--chata-drawer-accent-color); */
}
.chata-execute-query-icon {
  height: 15px;
  width: 24px;
  vertical-align: top;
  fill: #28a8e0;
  /* fill: var(--chata-drawer-accent-color); */
}
.chata-safetynet-select {
  position: relative;
  display: inline-block;
  height: 30px;
  background: none;
  outline: none !important;
  border: none;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.05em;

  /* Default style outside of drawer */
  color: #28a8e0;
  font-size: inherit;
}
.chata-safetynet-select:hover {
}
.chata-safety-net-delete-button {
  position: relative;
  cursor: pointer;
  margin-bottom: -2px;
}

.chata-chart-tooltip {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.04em;
  padding: 7px 15px;
  transition: all 0.2s ease;
}
